
/**
 * @See : https://codex.wordpress.org/Right_to_Left_Language_Support
 */

body {
	direction: rtl;
	unicode-bidi: embed;
	text-align: right;
}
.rtl .is-unstyled {
	padding-right: 0;
}
/* template-parts/assets/scss/buttons-fixed.scss */
.rtl .tif-sticky-buttons {
	right: unset;
	left: 0;
}
/* template-parts/assets/scss/navigation.scss */
.rtl nav .menu li.has-dropdown > a span::after {
	margin-left: 0;
	margin-right: .625rem;
}
.rtl nav .submenu li.has-dropdown > a span::after {
	display: inline-block;
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		 -o-transform: rotate(180deg);
			transform: rotate(180deg);
}
.rtl select[size]:is([size='1']) {
	background-position: left 0.9rem center;
	padding-left: 3rem;
	padding-right: 1rem;
}
/* Searchform */
.rtl .tif-search-form [type="reset"] {
	margin-left: 0;
	margin-right: -80px;
}
