/*
 * Global column classes
 */

@if variable_exists(column-columns) {
  $column-columns: $column-columns !global;
} @else {
  $column-columns: 6 !global;
}

@if variable_exists(gaps) {
  $gaps: $gaps !global;
} @else {
  $gaps: (
    "0": 0,
    "5": 0.313rem,
    "10": 0.625rem,
    "16": 1rem,
    "20": 1.25rem,
    "36": 2.25rem,
  ) !global;
}

@if variable_exists(column-width) {
  $column-width: $column-width !global;
} @else {
  $column-width: (
    sm: 220px,
    md: 320px,
    lg: 420px,
    lg: 520px,
  ) !global;
}

// column-template-columns classes
// .tif-columns {
//   column-width: 200px;
//   column-fill: balance;
// }
@if variable_exists(tif-compiled-column-col){
  .tif-columns {
    column-fill: balance;
  }
  @for $i from 1 through $column-columns {
    .tif-columns.cols-#{$i} {
      column-count: $i;
    }
  }
}

@if variable_exists(tif-compiled-column-col) and variable_exists(tif-compile-columns-whith-bp){
  @each $bp, $bpv in $grid-breakpoints {
    @media (min-width: #{$bpv}) {
      @for $i from 1 through $column-columns {
        .#{$bp}\:tif-columns.cols-#{$i} {
          column-count: $i;
        }
      }
    }
  }
}

@if variable_exists(tif-compiled-column-bia){
  .tif-columns.cols-bia > * {
    break-inside: avoid;
  }
}
@if variable_exists(tif-compiled-column-fill){
  .tif-columns.cols-fill-auto {
    column-fill: auto;
  }
}

@if variable_exists(tif-compiled-column-width){
  @each $cw, $cwv in $column-width {
    .tif-columns.cols-width-#{$cw} {
      column-width: #{$cwv};
    }
  }
}

// gap classes
@each $key, $value in $gaps {
  @if variable_exists(tif-compiled-column-gap){
    .tif-columns.cols-gap-#{$key} {
      gap: $value;
    }
  }
}
@each $key, $value in $gaps {
  @if variable_exists(tif-compiled-column-row-gap){
    .tif-columns.cols-gap-y-#{$key} > * {
      margin-bottom: $value;
    }
  }
}

@if variable_exists(tif-compiled-column-span){
  .tif-columns .col-span-all {
    column-span: all;
  }
}
