/* --------------------------------------- */
/* ==Grillade : ultra light Grid Layout    */
/* --------------------------------------- */
// Grillade is heavily inspired by tailwindcss.com Grid utility classes

@if variable_exists(grid-columns) {
  $grid-columns: $grid-columns !global;
} @else {
  $grid-columns: 6 !global;
}

@if variable_exists(gaps) {
  $gaps: $gaps !global;
} @else {
  $gaps: (
    "0": 0,
    "5": 0.313rem,
    "10": 0.625rem,
    "16": 1rem,
    "20": 1.25rem,
    "36": 2.25rem,
  ) !global;
}

@if variable_exists(grid-breakpoints) {
  $grid-breakpoints: $grid-breakpoints !global;
} @else {
  $grid-breakpoints: (
    sm: 576px,
    md: 992px,
    lg: 1330px,
  ) !global;
}

@if variable_exists(tif-compiled-grid){
  .grid {
    display: grid;
  }
}
// grid-template-columns classes
@if variable_exists(tif-compiled-grid-col){
  @for $i from 1 through $grid-columns {
    .grid-cols-#{$i} {
      grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
    }
  }
}

// gap classes
@each $key, $value in $gaps {
  @if variable_exists(tif-compiled-grid-gap){
    .gap-#{$key} {
      gap: $value;
    }
  }
  @if variable_exists(tif-compiled-grid-col-gap){
    .gap-x-#{$key} {
      column-gap: $value;
    }
  }
  @if variable_exists(tif-compiled-grid-row-gap){
  .gap-y-#{$key} {
      row-gap: $value;
    }
  }
}

// grid-items classes
@for $i from 1 through $grid-columns {
  @if variable_exists(tif-compiled-grid-col-placement){
    .col-start-#{$i} {
      grid-column-start: #{$i};
    }
    .col-end-#{$i} {
      grid-column-end: #{$i};
    }
  }
  @if variable_exists(tif-compiled-grid-col-span){
    .col-span-#{$i} {
      grid-column: span #{$i} / span #{$i};
    }
    .col-span-full {
      grid-column: 1 / -1;
    }
  }
  @if variable_exists(tif-compiled-grid-row-placement){
    .row-start-#{$i} {
      grid-row-start: #{$i};
    }
    .row-end-#{$i} {
      grid-row-end: #{$i};
    }
  }
  @if variable_exists(tif-compiled-grid-row-span){
    .row-span-#{$i} {
      grid-row: span #{$i} / span #{$i};
    }
  }
}

@if variable_exists(tif-compile-grid-whith-bp){
  @each $bp, $bpv in $grid-breakpoints {
    @media (min-width: #{$bpv}) {
      // grid class for each breakpoint
      @if variable_exists(tif-compiled-grid) and variable_exists(tif-compiled-grid-has-bp){
        .#{$bp}\:grid {
          display: grid;
        }
      }
      @for $i from 1 through $grid-columns {
        // grid-template-columns classes
        @if variable_exists(tif-compiled-grid-col) and variable_exists(tif-compiled-grid-has-bp){
          .#{$bp}\:grid-cols-#{$i} {
            grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
          }
        }
        @if variable_exists(tif-compiled-grid-col-placement) and variable_exists(tif-compiled-grid-placement-has-bp){
          grid-items classes
          .#{$bp}\:col-start-#{$i} {
            grid-column-start: #{$i};
          }
          .#{$bp}\:col-end-#{$i} {
            grid-column-end: #{$i};
          }
        }
        @if variable_exists(tif-compiled-grid-col-span) and variable_exists(tif-compiled-grid-span-has-bp){
          .#{$bp}\:col-span-#{$i} {
            grid-column: span #{$i} / span #{$i};
          }
          .#{$bp}\:col-span-full {
            grid-column: 1 / -1;
          }
        }
        @if variable_exists(tif-compiled-grid-row-placement) and variable_exists(tif-compiled-grid-placement-has-bp){
          .#{$bp}\:row-start-#{$i} {
            grid-row-start: #{$i};
          }
          .#{$bp}\:row-end-#{$i} {
            grid-row-end: #{$i};
          }
        }
        @if variable_exists(tif-compiled-grid-row-span) and variable_exists(tif-compiled-grid-span-has-bp){
          .#{$bp}\:row-span-#{$i} {
            grid-row: span #{$i} / span #{$i};
          }
        }
      }

      // gap classes
      @if variable_exists(tif-compiled-grid-gap) and variable_exists(tif-compiled-grid-gap-has-bp){
        @each $key, $value in $gaps {
          .#{$bp}\:gap-#{$key} {
            gap: $value;
          }
          @if variable_exists(tif-compiled-grid-col-gap){
            .#{$bp}\:gap-x-#{$key} {
              column-gap: $value;
            }
          }
          @if variable_exists(tif-compiled-grid-row-gap){
            .#{$bp}\:gap-y-#{$key} {
              row-gap: $value;
            }
          }
        }
      }
    }
  }
}
