
/* ---------------------------------- */
/* Tif Woo Account                    */
/* ---------------------------------- */

.woocommerce-account .entry-content .woocommerce {
	display: flex;
	flex-wrap: wrap;
	gap: $gap-medium;
	min-height: 50vh;
	justify-content: space-between;
	align-content: start;
}
.woocommerce-account .entry-content .woocommerce h2 {
	flex-basis: 100%;
}
nav.woocommerce-MyAccount-navigation li {
	position: relative;
	list-style: none;
	border-bottom: 1px solid rgba(0,0,0,.05);
}
nav.woocommerce-MyAccount-navigation li a {
	padding: $spacer-small-plus 0;
	display: block;
}
nav.woocommerce-MyAccount-navigation li a::before {
	position: absolute;
	right: 0;
	// font-family: 'woocommerce';
	font-family: 'Forkawesome';
	content: "\f0f6";
	margin-right: $spacer-medium;
	opacity: .25;
}
nav.woocommerce-MyAccount-navigation li a:hover::before {
	opacity: .75;
}
nav.woocommerce-MyAccount-navigation li.woocommerce-MyAccount-navigation-link--dashboard a::before {
	content: "\f0e4";
}
nav.woocommerce-MyAccount-navigation li.woocommerce-MyAccount-navigation-link--orders a::before {
	content: "\f291";
}
nav.woocommerce-MyAccount-navigation li.woocommerce-MyAccount-navigation-link--downloads a::before {
	content: "\f1c6";
}
nav.woocommerce-MyAccount-navigation li.woocommerce-MyAccount-navigation-link--edit-address a::before {
	content: "\f2ba";
}
nav.woocommerce-MyAccount-navigation li.woocommerce-MyAccount-navigation-link--edit-account a::before {
	content: "\f2be";
}
nav.woocommerce-MyAccount-navigation li.woocommerce-MyAccount-navigation-link--customer-logout a::before {
	content: "\f08b";
}
.woocommerce-account .entry-content nav, /*account*/
.woocommerce-account .entry-content nav + div /*account*/ {
	flex-basis: 100%;
}
@media (min-width: $large) {
	.woocommerce-account .entry-content .woocommerce .col2-set {
		display: grid;
		grid-template-columns: repeat(2,minmax(0,1fr));
		gap: $gap-medium;
	}
	.woocommerce-account .entry-content .woocommerce-MyAccount-navigation {
		flex-basis: 33%;
	}
	.woocommerce-account .entry-content .woocommerce-MyAccount-content {
		flex-basis: calc(67% - #{$gap-medium});
	}
}
