
/* ---------------------------------- */
/* Tif Woo Alerts                     */
/* ---------------------------------- */

.site-main > .woocommerce-notices-wrapper {
	padding: 0;
	margin: 0;
}
.site-main > .woocommerce-notices-wrapper > .woocommerce-message {
	margin: $spacer-medium-plus;
	max-width: calc(100% - #{$spacer-medium-plus * 2}  )
}
.woocommerce-store-notice,
p.demo_store {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 1em 0;
	text-align: center;
	color: #fff;
	z-index: 9998;
	box-shadow: 0 1px 1em rgba(0,0,0,.2);
}
.admin-bar p.demo_store {
	top: 32px;
}
.woocommerce-info,
.woocommerce-message {
	display: flex;
	align-items: center;
	transition: opacity 0.3s;
	justify-content: space-between;
}
.single-product .woocommerce-message {
	flex-direction: row-reverse;
}
