
/* ---------------------------------- */
/* Tif Woo Archives                   */
/* ---------------------------------- */

.products li {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
}
.products li a:not(.button) {
	text-decoration: none;
	padding-bottom: $spacer-small;
}
.products li h2 {
	font-size: 1.125rem;
}
.woocommerce-result-count {
	display: flex;
	justify-content: start;
	margin: 0;
}
.woocommerce-ordering {
	display: flex;
	justify-content: end;
	margin-bottom: 0;
}
.tif-all-shop-products .woocommerce-ordering {
	margin: $spacer-medium-plus 0;
}
