
/* ---------------------------------- */
/* Tif Woo Buttons                    */
/* ---------------------------------- */

.woocommerce .blockUI.blockOverlay {
	position: relative;
}
.woocommerce .blockUI.blockOverlay::before {
	position: absolute;
	display: block;
	content: "\f110";
	// font-family: 'woocommerce';
	font-family: 'Forkawesome';
	font-size: 2em;
	height: 1em;
	width: 1em;
	top: 50%;
	left: 50%;
	margin-left: -.5em;
	margin-top: -.5em;
	-webkit-animation:fa-spin 2s linear infinite;
			animation:fa-spin 2s linear infinite;
	background-size: cover;
	line-height: 1;
	text-align: center;
	/* color: rgba(0, 0, 0, .75); */
}
.woocommerce .loader::before {
	position: absolute;
	display: block;
	content: "\f110";
	// font-family: 'woocommerce';
	font-family: 'Forkawesome';
	font-size: 2em;
	height: 1em;
	width: 1em;
	top: 50%;
	left: 50%;
	margin-left: -.5em;
	margin-top: -.5em;
	-webkit-animation:fa-spin 2s linear infinite;
			animation:fa-spin 2s linear infinite;
	background-size: cover;
	line-height: 1;
	text-align: center;
	/* color: rgba(0, 0, 0, .75); */
}
.woocommerce a.remove,
.woocommerce a.edit,
.woocommerce a.reset_variations,
.woocommerce a.add_to_cart_button,
.woocommerce a.added_to_cart,
.widget_price_filter .price_slider_amount .button,
.woocommerce-product-search button {
	font-weight: 400;
	display: inline-block;
	outline: none;
	margin: 0;
	padding: $spacer-small-plus;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
	transition: 0.25s;
	transition-property: box-shadow, background-color, color, border;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
}
.woocommerce a.edit::before,
.woocommerce a.reset_variations::before {
	font-family: Forkawesome;
	content: "\f040";
}
.woocommerce a.reset_variations::before {
	content: "\f0e2";
}
.woocommerce a.remove {
	position: relative;
	padding: $spacer-small;
	margin: 0;
	text-indent: -9999px;
}
.woocommerce a.remove::before {
	position: absolute;
	content: "\f00d";
	font-family: Forkawesome;
	left: 8px;
	text-indent: 0;
}
.woocommerce a.remove:hover::before {
	color: red;
}
.woocommerce a.add_to_cart_button,
.woocommerce a.product_type_simple,
.woocommerce a.product_type_grouped,
.woocommerce a.product_type_variable {
	margin-bottom: 52px;
	margin-top: auto;
	max-width: 100%;
}
.woocommerce a.add_to_cart_button.added {
	margin-bottom: 10px;
}
.woocommerce a.add_to_cart_button.loading {
	opacity:.5;
}
.woocommerce a.add_to_cart_button.loading::after {
	// font-family: 'woocommerce';
	font-family: 'Forkawesome';
	content: "\f110";
	font-size: .9rem;
	margin-left: .5em;
	display: inline-block;
	-webkit-animation:fa-spin 2s linear infinite;
			animation:fa-spin 2s linear infinite;
}
.woocommerce a.add_to_cart_button.added::after {
	// font-family: 'woocommerce';
	font-family: 'Forkawesome';
	content: "\f00c";
	margin-left: .5em;
	font-size: .9rem;
}
