
/* ---------------------------------- */
/* Tif Woo Cart Mini                  */
/* ---------------------------------- */

.cart_list li {
	position: relative;
	padding: $spacer-tiny $spacer-small $spacer-tiny $spacer-large-plus;
}
.cart_list li:first-child {
	padding-top: $spacer-small;
}
.cart_list li:last-child {
	padding-bottom: $spacer-small;
}
.cart_list a.remove {
	position: absolute !important;
	left: 0;
	margin: 0 $spacer-tiny-plus !important;
	padding: 0 !important;
}
.cart_list {
	list-style: none outside;
	padding: 0;
	margin: 0;
}
.cart_list li::after {
	content: " ";
	display: table;
	clear:both;
}
.cart_list li a {
	display: block;
	// font-weight: 700;
}
.cart_list li img {
	float: right;
	border-radius: 3px;
	margin-left: 4px;
	max-width: 25%;
	height: auto;
	box-shadow: none;
}
.cart_list li .star-rating {
	float: none;
}
.widget_shopping_cart .total {
	border-top-width: 1px;
	border-top-style: dotted;
}
.widget_shopping_cart p {
	text-align: center;
	padding: $spacer-small;
	margin: 0
}
.widget_shopping_cart p.buttons {
	padding-top: 0;
	display: flex;
	justify-content: space-around;
}

/* Expendable Cart */
.expendable-cart {
	position: relative;
}
.expendable-cart:not(.as-icon),
.expendable-cart .cart-list  {
	min-width: 300px;
	max-width: 300px;
	padding: 0;
	list-style: none;
}
.expendable-cart .count {
	text-align: center;
	opacity: .8
}
.expendable-cart ul {
	overflow: auto;
	position: relative;
	margin: 0
}
.expendable-cart .cart-icon {
	display: flex;
	flex-wrap: nowrap;
	height: 100%;
	align-items: center;
	padding: $spacer-small-plus;
}
.expendable-cart .cart-icon::after {
	content: "\f291";
	// font-family: 'woocommerce';
	font-family: 'Forkawesome';
	display: flex;
	justify-content: end;
}
.expendable-cart .cart-icon a {
	flex-basis: 100%;
	display: flex;
	gap: .2rem;
}
.expendable-cart img {
	max-width: 50px;
}
.expendable-cart p.buttons {
	display: block;
}
.expendable-cart a.button {
	width: 100%;
}
.expendable-cart a.button.checkout {
	margin-top: $spacer-small;
}
.expendable-cart ul.cart_list {
	max-height: 300px;
}
@media only screen and (max-width: #{$large - 1}) {
	.expendable-cart:not(.as-icon) {
		display: none;
	}
}
.expendable-cart .cart-list {
	position: absolute;
	height: 0;
	overflow: hidden;
	z-index: 10001;
	width: 100%;
	max-width: 300px;
}
.expendable-cart:hover .cart-list {
	height: auto;
	overflow: auto;
	border-radius: 3px;
	@if ($tif-expendable-cart-box-box-shadow) {
		box-shadow: $tif-expendable-cart-box-box-shadow;
	}
}

/* Expendable Cart As Icon */
.expendable-cart.as-icon .cart-icon {
	padding: 0;
}
.expendable-cart-as-icon .account li a::after {
	content: "\f007";
	// font-family: 'woocommerce';
	font-family: 'Forkawesome';
	left: 1.1rem;
}
.expendable-cart-as-icon .count {
	text-indent: 0;
	opacity: 1;
	width: 1.6rem;
	height: 1.6rem;
	line-height: 2;
	font-size: .775rem;
	position: absolute;
	top: -10%;
	right: -10%;
	border-radius: 100%;
	color: white;
}
.rtl .expendable-cart-as-icon .count {
	right: unset;
	left: -10%;
}
.expendable-cart.as-icon .tiny + .cart-list {
	top: 1.825rem;
	left: calc(-150px + ( 1.875rem / 2));
}
.expendable-cart.as-icon .small + .cart-list {
	top: 2rem;
	left: calc(-150px + ( 2rem / 2));
}
.expendable-cart.as-icon .medium + .cart-list {
	top: 2.5rem;
	left: calc(-150px + ( 2.5rem / 2));
}
.expendable-cart.as-icon .large + .cart-list {
	top: 3rem;
	left: calc(-150px + ( 3rem / 2));
}
.expendable-cart.as-icon .xlarge + .cart-list {
	top: 3.825rem;
	left: calc(-150px + ( 3.825rem / 2));
}
