
/* ---------------------------------- */
/* Tif Woo Cart                       */
/* ---------------------------------- */

table.cart img {
	max-width: 100px;
}
table.cart td.actions .coupon {
	display: flex;
	flex-wrap: wrap;
}
table.cart td.product-remove {
	position: relative;
}
table.cart td.actions .input-text,
table.cart td.actions button {
	width: 100%;
	margin: 0;
}
table.cart td.actions button {
	margin-top: $spacer-medium;
}
table.cart td.actions .coupon label {
	display: none
}
.cart-collaterals {
	display: grid;
	gap: $gap-large;
	padding: 0 $spacer-medium-plus;
	margin: $spacer-medium-plus 0;
}
.cart-collaterals .checkout-button {
	width: 100%;
	padding: $spacer-medium;
}
@media (min-width: $medium) {
	table.cart td.actions button {
		width: unset;
		margin: 0;
	}
	table.cart td.actions .input-text {
		max-width: 120px;
	}
}
@media (min-width: $large) {
	.cart-collaterals {
		grid-template-columns: repeat(2,minmax(0,1fr));
	}
	.cart-collaterals .cart_totals {
		grid-column-start: 2;
	}
	table.shop_table_responsive {
		table-layout: auto;
	}
	table.shop_table_responsive th,
	table.shop_table_responsive td {
		padding: $spacer-large;
	}
	table.shop_table_responsive tr td {
		display: table-cell;
	}
	table.cart td.actions .coupon {
		padding: 0;
		margin: 0;
		display: inline-block;
		float: left;
	}
	table.cart td.actions {
		text-align: right;
	}
}
