
/* ---------------------------------- */
/* Tif Woo Checkout                   */
/* ---------------------------------- */

@media (min-width: $small) {
  #customer_details {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: $gap-large;
  }
}
ul.payment_methods {
  list-style: none outside;
  padding: 0;
  margin: 0;
}
.payment_methods li,                                                            // Checkout
.woocommerce-shipping-methods li {                                              // Cart
	display: flex;
	flex-wrap: wrap;
}
.payment_methods input,
.woocommerce-shipping-methods input {
	vertical-align: middle;
	margin-left: $spacer-medium;
	margin-right: $spacer-medium;
}
.payment_methods label,
.woocommerce-shipping-methods label {
	max-width: 80%;
	display: inline-block;
	padding-top: $spacer-medium;
	padding-bottom: $spacer-medium;
}
.payment_methods p {
	padding: $spacer-medium;
}
.payment_methods .payment_method_bacs {
	flex-basis: 100%;
}
.place-order {
	display: flex;
	flex-direction: column;
	gap: $spacer-medium;
 	padding: $spacer-medium-plus;
}
.place-order .button {
	width: 100%;
	padding: $spacer-medium;
}
.woocommerce-shipping-fields,
.woocommerce-additional-fields {
	padding-top: $spacer-medium;
}
