
/* ---------------------------------- */
/* Tif Woo Comments                   */
/* ---------------------------------- */

#reviews {
	display: grid;
	gap: $gap-large;
}
#reviews .commentlist {
	display: grid;
	gap: $gap-large;
	list-style: none outside;
	padding: 0;
}
#reviews .commentlist .comment_container {
	display: flex;
	flex-wrap: nowrap;
	align-items: start;
}
#reviews .commentlist ul.children {
	list-style: none outside;
	padding-top: $spacer-small;
}
#reviews .commentlist li {
	position: relative;
}
#reviews .commentlist li img.avatar {
	margin: $spacer-small-plus $spacer-small;
	width: 32px;
	height: auto;
	border-radius: 50%;
}
#reviews .commentlist li .comment-text {
	flex-basis: 100%;
	border: 1px solid #e4e1e3;
	border-radius: 3px;
	padding: $spacer-medium;
}
#reviews .commentlist li .comment-text p.meta {
	color: #767676;
	font-size: .83em;
}
