
/* ---------------------------------- */
/* Tif Woo Comments Rating            */
/* ---------------------------------- */

p.stars span {
	display: flex;
	font-size: 1.5rem;
}
p.stars a {
	position: relative;
	height: 1em;
	width: 1em;
	text-indent:-999em;
	display: inline-block;
	text-decoration: none;
}
p.stars a::before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 1em;
	height: 1em;
	line-height: 1;
	// font-family: 'woocommerce';
	font-family: 'Forkawesome';
	content: "\f005";
	text-indent: 0;
	color: #bebebe;
}
p.stars a:hover~a::before {
	// content: "\f006";
	color: #43454b;
	opacity: .25
}
p.stars:hover a::before {
	opacity: 1
}
p.stars.selected a.active::before {
	opacity: 1
}
p.stars.selected a.active~a::before {
	// content: "\f006";
	color: #43454b;
	opacity: .25
}
p.stars.selected a:not(.active)::before {
	opacity :1
}
