
/* ---------------------------------- */
/* Tif Woo Form                       */
/* ---------------------------------- */

.woocommerce .form-row label {
	display: block;
}
.woocommerce form input[type="text"],
.woocommerce form textarea {
	margin-bottom: $spacer-small;
}
.woocommerce form .woocommerce-address-fields input[type="text"],
.woocommerce form textarea {
	width: 80%;
}
.woocommerce form.woocommerce-checkout input[type="text"] {
	width: 100%;
}
.woocommerce form input[type="number"] {
	max-width: 110px;
}
.woocommerce-validated input.input-text {
	box-shadow: inset 5px 0 0 #0f834d
}
.woocommerce-invalid input.input-text {
	box-shadow: inset 5px 0 0 #e2401c
}
.woocommerce-invalid input.input-checkbox {
	outline:3px solid #e2401c;
	outline-offset:1px
}
.woocommerce-invalid .select2-selection {
	border-color: #e2401c;
	border-width: 5px
}
.woocommerce input:required:valid,
.woocommerce select:required:valid,
.woocommerce textarea:required:valid {
	box-shadow: inset 5px 0 0 #0f834d;
}
.woocommerce input:invalid,
.woocommerce select:invalid,
.woocommerce textarea:invalid {
	box-shadow: inset 5px 0 0 #e2401c;
}
.woocommerce-password-strength::after {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	// line-height: 1;
	font-family: Forkawesome;
	font-weight: 900;
	line-height: inherit;
	vertical-align: baseline;
	content: "\f119";
	margin-left: .5407911001em
}
.woocommerce-password-strength.strong::after {
	content: "\f118"
}
.woocommerce-password-strength.good::after {
	content: "\f11a"
}
.woocommerce-password-strength {
	font-weight: 600;
	padding: .5407911001em 0;
	text-align: right;
	font-size: .875em
}
.woocommerce-password-strength.strong {
	color: #0f834d
}
.woocommerce-password-strength.short {
	color: #e2401c
}
.woocommerce-password-strength.bad {
	color: #e2401c
}
.woocommerce-password-strength.good {
	color: #3d9cd2
}
