
/* ---------------------------------- */
/* Tif Woo Handled Footer Bar         */
/* ---------------------------------- */

@media (min-width: $large) {
	.tif-handheld-footer-bar {
		display: none;
	}
}
@media (max-width: #{$large - 1}) {
	.site-footer {
		padding-bottom: 5rem;
	}
	.tif-handheld-footer-bar {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		@if ($tif-handheld-footer-box-box-shadow) {
			box-shadow: $tif-handheld-footer-box-box-shadow;
		}
		z-index: 9000;
	}
	.tif-handheld-footer-bar ul {
		margin-bottom: 0;
		text-align: center;
	}
	.tif-handheld-footer-bar ul li > a,
	.tif-handheld-footer-bar ul li > label {
		height: 4.235801032em;
		display: block;
		position: relative;
		z-index: 999;
		margin-bottom: 0;
	}
	.tif-handheld-footer-bar ul li.my-account > a::before {
		content: "\f2be";
	}
	.tif-handheld-footer-bar ul li.search > label::before {
		content: "\f002";
	}
	.tif-handheld-footer-bar ul li.cart > a::before {
		content: "\f291";
	}
	.tif-handheld-footer-bar ul li > a::before,
	.tif-handheld-footer-bar ul li > label::before {
		// font: normal normal normal 14px/1 'woocommerce';
		font: normal normal normal 14px/1 'Forkawesome';
		text-rendering: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		text-align: center;
		line-height: 2.618046972;
		font-weight: 400;
		font-size: 1.618em;
		text-indent: 0;
		display: block;
		/* cursor: pointer; */
	}
	.tif-handheld-footer-bar ul li.cart .count {
		text-indent: 0;
		display: block;
		width: 2em;
		height: 2em;
		line-height: 2;
		box-sizing: content-box;
		font-size: .75em;
		position: absolute;
		top: .875em;
		left: 50%;
		border-radius: 100%;
		border: 1px solid;
	}

	.tif-handheld-footer-bar .widget_product_search form input[type="search"],
	.tif-handheld-footer-bar .widget_product_search form input[type="text"] {
		width: 100%;
	}
	.tif-handheld-footer-bar .widget_product_search form button[type="submit"],
	.tif-handheld-footer-bar .widget_product_search form input[type="submit"] {
		clip: rect(1px,1px,1px,1px);
		position: absolute !important;
		top: 0;
		left: 0;
	}

	.tif-handheld-footer-bar ul li.search .site-search {
		position: absolute;
		bottom: -2em;
		left: 0;
		right: 0;
		-webkit-transition: all,ease,.2s;
			transition-property: all, all, all;
			transition-duration: 0s, 0s, 0.2s;
			transition-timing-function: ease, ease, ease;
			transition-delay: 0s, 0s, 0s;
		transition: all,ease,.2s;
		padding: 1em;
		z-index: -1;
		display: block;
	}
	.tif-handheld-footer-bar ul li.search.active .site-search {
		bottom: 100%;
	}
	.tif-handheld-footer-bar ul li.search input[type=checkbox]:checked + .site-search {
		bottom: 100%;
	}

}
