
/* ---------------------------------- */
/* Tif Woo Widget layered nav list	*/
/* ---------------------------------- */

.woocommerce-widget-layered-nav-list {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none outside;
}
.widget_layered_nav li::before {
	content: "\f111";
}
.widget_layered_nav .chosen::before {
	content: "\f058";
	opacity: .4;
}
.woocommerce-widget-layered-nav-dropdown__submit {
	margin-top: 1em;
}
.widget_layered_nav_filters ul {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none outside;
	overflow: hidden;
}
.widget_layered_nav_filters ul li a {
	text-decoration: none
}
.widget_layered_nav_filters ul li.chosen::before {
	content: "\f057";
	color: #e2401c;
	opacity: 1;
}
