
/* ---------------------------------- */
/* Tif Woo Layout                     */
/* ---------------------------------- */

.admin-bar p.demo_store,
.admin-bar .pswp--open {
	top: 32px;
}
.home section.tif-products-section .inner {
	padding: $spacer-medium-plus;
}

@media (min-width: $large) {

	.woocommerce.has-sidebar .content-area {
		width: #{100% - $tif-woo-sidebar-width-primary};
	}
	.woocommerce.has-sidebar .sidebar {
		width: $tif-woo-sidebar-width-primary;
	}

}
