
/* ---------------------------------- */
/* Tif Woo Onsale                     */
/* ---------------------------------- */

.onsale {
	position: absolute;
	padding: $spacer-tiny $spacer-small-plus;
	margin: $spacer-small -#{$spacer-small} 0 0;
	font-size: var(--tif-small-font-size);
	font-weight: bold;
	z-index: 2;
}
// Too annoying to overwrite if necessary
// for inspiration...
// 
// ul.products li.product .onsale {
// 	right: 0;
// }
// .single-product .product > .onsale::before,
// ul.products li.product .onsale::after {
// 	position: absolute;
// 	content: "";
// 	bottom: -#{$spacer-small};
// 	width: 0;
// 	height: 0;
// 	border-right: 6px solid rgba(192, 192, 192, 1);
// 	border-top: 6px solid transparent;
// 	border-bottom: 6px solid transparent;
// }
// ul.products li.product .onsale::after {
// 	right: 3px;
// 	transform: rotate(45deg);
// }
// .single-product .product > .onsale {
// 	left: calc(#{$spacer-medium} - 3px);
// }
// .single-product .product > .onsale::before {
// 	left: 3px;
// 	transform: rotate(135deg);
// }
