
/* ---------------------------------- */
/* Tif Woo Price                      */
/* ---------------------------------- */

.price del {
	opacity:.5;
	font-weight:400
}
.price del+ins {
	margin-left:.327em
}
del .woocommerce-Price-amount {
	opacity:.8;
}
.single-product .product p.price {
	margin: $spacer-medium 0;
}
