
/* ---------------------------------- */
/* Tif Woo Widget Price Filter        */
/* ---------------------------------- */

.widget_price_filter .price_slider {
	margin-bottom: 1em
}
.widget_price_filter .price_slider_amount {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: var(--tif-small-font-size);
	padding: $spacer-small-plus 0;
}
.widget_price_filter .price_slider_amount .button {
	font-size: var(--tif-small-font-size);
	margin: 0;
}
.widget_price_filter .price_slider_amount .clear {
	position: absolute;
}
.widget_price_filter .ui-slider {
	position: relative;
	margin-left: .5em;
	margin-right: .5em
}
.widget_price_filter .ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1em;
	height: 1em;
	border-radius: 1em;
	cursor:ew-resize;
	outline: 0;
	top: -.25em;
	margin-left: -.5em
}
.widget_price_filter .ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	border-radius: 1em;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
	border-radius: 1em;
	border: 0;
}
.widget_price_filter .ui-slider-horizontal {
	height: .5em
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
	left: -1px
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
	right: -1px
}
