
/* ---------------------------------- */
/* Tif Woo Product Categories         */
/* ---------------------------------- */

.widget_product_categories ul {
    padding: 0;
}
.widget_product_categories ul li::before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    font-family: 'Forkawesome';
    font-weight: 900;
    line-height: inherit;
    vertical-align: baseline;
    content: "\f07b";
}

.widget_product_categories ul li.current-cat::before {
    content: "\f07c";
    opacity: .4;
}
