
/* ---------------------------------- */
/* Tif Woo Product List               */
/* ---------------------------------- */

.product_list_widget {
	list-style: none outside;
	padding: 0;
	margin: 0;
}
.product_list_widget li::after {
	content: " ";
	display: table;
	clear:both;
}
.product_list_widget li a {
	display: block;
	// font-weight: 700;
}
.product_list_widget li img {
	float: right;
	border-radius: 3px;
	margin-left: 4px;
	margin-bottom: 4px;
	max-width: 25%;
	height: auto;
	box-shadow: none;
}
.product_list_widget li .star-rating {
	float: none;
}
