
/* ---------------------------------- */
/* Tif Woo Product Gallery			*/
/* ---------------------------------- */


.pswp.pswp--open {
	z-index: 99999; // Product zoom overlay
}
.single-product div.product .flex-control-thumbs {
	display: grid;
	grid-template-columns: repeat(5, minmax(0, 1fr));
	gap: $gap-small;
	list-style: none outside;
	padding: $spacer-small 0;
}
.single-product div.product .woocommerce-product-gallery {
	position: relative;
}
.single-product div.product .woocommerce-product-gallery__wrapper {
	margin: 0;
}
.single-product div.product  div.images .woocommerce-product-gallery__trigger {
	position: absolute;
	display: flex;
	align-items: center;
	top: .5em;
	right: .5em;
	font-size: 2em;
	z-index: 9;
	width: 36px;
	height: 36px;
	background: #fff;
	text-indent:-9999px;
	border-radius: 100%;
	box-sizing:content-box;
}
.single-product div.product  div.images .woocommerce-product-gallery__trigger::after {
	content: "\f002";
	font-family: 'Forkawesome';
	text-indent: 0;
	color: black;
	position: absolute;
	font-size: var(--tif-normal-font-size);
	width: 100%;
	text-align: center;
}
