
/* ---------------------------------- */
/* Tif Woo Ratting                    */
/* ---------------------------------- */

#reviews #comments ol.commentlist ul.children .star-rating {
	display: none;
}
.star-rating {
	float: right;
	overflow: hidden;
	position: relative;
	height: 1em;
	line-height: 1;
	width: 5.4em;
	// font-family: 'woocommerce';
	font-family: 'Forkawesome';
}
.star-rating::before {
	content: "\f005\f005\f005\f005\f005";
	float: left;
	top: 0;
	left: 0;
	position: absolute;
	color: #bebebe;
}
.star-rating span {
	overflow: hidden;
	float: left;
	top: 0;
	left: 0;
	position: absolute;
	padding-top: 1.5em;
}
.star-rating span::before {
	content: "\f005\f005\f005\f005\f005";
	top: 0;
	position: absolute;
	left: 0;
}

.woocommerce-product-rating {
	line-height: 2;
	display: block;
}
.woocommerce-product-rating::after,
.woocommerce-product-rating::before {
	content: " ";
	display: table;
}
.woocommerce-product-rating::after {
	clear:both;
}
.woocommerce-product-rating .star-rating {
	margin: .5em 4px 0 0;
	float: left;
}
.products .star-rating {
	display: block;
	margin: 0 0 .5em;
	float: none;
}
.hreview-aggregate .star-rating {
	margin: 10px 0 0;
}
