
/* ---------------------------------- */
/* Tif Woo Widget Rating Filter        */
/* ---------------------------------- */

.widget_rating_filter ul {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none outside
}
.widget_rating_filter ul li {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	gap: $gap-small;
	padding: 0 0 1px;
	list-style: none
}
.widget_rating_filter ul li::before {
	content: "\f111";
	font-family: 'Forkawesome';
	opacity: .1;
}
.widget_rating_filter ul li.chosen::before {
	content: "\f058";
	opacity: .4;
}
.widget_rating_filter ul li a {
	display: flex;
	justify-content: space-between;
	flex-basis: 100%;
	flex-wrap: nowrap;
	align-items: center;
	padding: 1px 0;
	text-decoration: none
}
.widget_rating_filter ul li .star-rating {
	display: inline-block
}
