
/* ---------------------------------- */
/* Tif Woo Single Product             */
/* ---------------------------------- */

.single-product .wp-post-image {
	width: 100%;
}
.single-product .entry-summary {
	margin-bottom: 3rem;
}
.single-product .entry-summary .cart, /* single product without varations */
.single-product .entry-summary .woocommerce-variation-add-to-cart, /* single product with varations */ {
	display: flex;
	flex-wrap: wrap;
}
.single-product .entry-summary .cart:not(.variations_form), /* single product without varations */
.single-product .entry-summary .woocommerce-variation-add-to-cart /* single product with varations */ {
	padding: $spacer-medium 0;
	gap: $gap-small;
}
.single-product a.reset_variations,
.single-product .single_variation_wrap {
	width: 100%;
}
.single-product .entry-summary .cart .quantity {
	flex-basis: 22%;
	min-width: 90px;
}
.single-product .entry-summary .cart .quantity input[type="number"] {
	width: 100%;
}
.single-product .product_meta > span {
	display: block;
}
table.variations {
	min-width: calc(100% + #{$spacer-small * 2});
	border-spacing: $spacer-small;
	border-collapse: initial;
	margin: 0 -#{$spacer-small};
}
table.variations th.label {
	display: flex;
	justify-content: start;
	font-weight: bold;
	padding: $spacer-small-plus 0;
	background: transparent;
}
table.variations td.value {
	text-align: right;
	padding: 0;
}
table.variations td.value > * {
	width: 100%;
	max-width: 220px;
}

@media (min-width: $medium) {
	.single-product div.product {
		position: relative;
		display: grid;
		grid-template-columns: repeat(2,minmax(0,1fr));
		gap: $gap-large;
	}
	.single-product div.product div.entry-summary ~ * {
		grid-column: 1/-1;
	}
}
