
/* ---------------------------------- */
/* Tif Woo Tabs                       */
/* ---------------------------------- */

.woocommerce-tabs ul.tabs {
	list-style: none;
	margin: 0;
	overflow: hidden;
	position: relative;
	padding: 0;
}
.woocommerce-tabs h2 {
	margin: 0;
	padding: $spacer-medium $spacer-none;
}
.woocommerce-tabs ul.tabs li {
	/* border: 1px solid #d3ced2; */
	background-color: #ebe9eb;
	display: inline-block;
	position: relative;
	z-index: 0;
	border-radius: 4px 4px 0 0;
	/* margin: 0 -5px; */
	padding: 0 1em
}
.woocommerce-tabs ul.tabs li a {
	display: inline-block;
	padding: .5em 0;
	font-weight: 700;
	color: #515151;
	text-decoration: none;
}
.woocommerce-tabs ul.tabs li a:hover {
	text-decoration: none;
	color: #6b6a6b
}
.woocommerce-tabs ul.tabs li.active {
	background: #fff;
	z-index: 2;
	/* border-bottom-color: #fff */
}
.woocommerce-tabs ul.tabs li.active a {
	color: inherit;
	text-shadow: inherit
}
.woocommerce-tabs ul.tabs li.active::before {
	box-shadow: 2px 2px 0 transparent
}
.woocommerce-tabs ul.tabs li.active::after {
	box-shadow: -2px 2px 0 transparent
}
.woocommerce-tabs ul.tabs li::after,
.woocommerce-tabs ul.tabs li::before {
	/* border: 1px solid #d3ced2; */
	position: absolute;
	bottom: -1px;
	width: 5px;
	height: 5px;
	content: " ";
	box-sizing:border-box
}
.woocommerce-tabs ul.tabs li::before {
	left: -5px;
	border-bottom-right-radius:4px;
	border-width: 0 1px 1px 0;
	box-shadow: 2px 2px 0 #ebe9eb
}
.woocommerce-tabs ul.tabs li::after {
	right: -5px;
	border-bottom-left-radius:4px;
	border-width: 0 0 1px 1px;
	box-shadow: -2px 2px 0 #ebe9eb
}
.woocommerce-tabs ul.tabs::before {
	position: absolute;
	content: " ";
	width: 100%;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #d3ced2;
	z-index: 1
}
/* .woocommerce div.product .woocommerce-tabs .panel {
 margin: 0 0 2em;
	padding: 0
} */
