
/* ---------------------------------- */
/* Tif Woo Table                      */
/* ---------------------------------- */

table.shop_table th {
	text-align: left;
}
.rtl table.shop_table th {
	text-align: right;
}
table.shop_table ul {
	list-style: none;
	padding: 0;
}
table.shop_table tr:nth-child(2n) td {
	background-color: rgba(0,0,0,.025);
}
@media (max-width: #{$large - 1}) {
	table.shop_table_responsive thead {
		display: none;
	}
	table.shop_table_responsive tbody tr:first-child td:first-child {
		border-top: 0;
	}
	table.shop_table_responsive tbody th {
		display: none;
}
	table.shop_table_responsive tr {
		display: block;
	}
	table.shop_table_responsive tr td {
		display: block;
		text-align: right;
	}
	table.shop_table_responsive .product-name {
		width: 100%;
	}
	table.shop_table_responsive .product-thumbnail {
		display: block;
		text-align: left;
	}
	table.shop_table_responsive .product-remove {
		padding: 0;
	}
	table.shop_table_responsive .product-remove a {
		text-align: left;
	}
	table.cart .product-remove a.remove {
		position: absolute;
		font-size: 1.825rem;
		top: $spacer-medium;
		right: $spacer-large;
	}
	table.shop_table_responsive .order-actions {
		text-align: right;
	}
	table.shop_table_responsive td[data-title]::before {
		content: attr(data-title) ": ";
		font-weight: 600;
		float: left;
	}
	table.shop_table_responsive tr td.actions::before,
	table.shop_table_responsive tr td.product-remove::before {
		display: none;
	}
}
