
/* ---------------------------------- */
/* Tif Woo Widgets                    */
/* ---------------------------------- */

.widget.woocommerce li .count {
	font-size:1em;
	float:right
}
.widget.woocommerce a {
	font-weight: 600;
	text-decoration: underline;
}
.widget_recent_entries ul li,
.widget_pages ul li,
.widget_categories ul li,
.widget_archive ul li,
.widget_recent_comments ul li,
.widget_nav_menu ul li,
.widget_links ul li,
.widget_product_categories ul li,
.widget_layered_nav ul li,
.widget_layered_nav_filters ul li {
	list-style:none;
	margin-bottom: $spacer-small;
	line-height:1.5rem;
	padding-left: 1.65rem;
}
.widget_recent_entries ul .children,
.widget_pages ul .children,
.widget_categories ul .children,
.widget_archive ul .children,
.widget_recent_comments ul .children,
.widget_nav_menu ul .children,
.widget_links ul .children,
.widget_product_categories ul .children,
.widget_layered_nav ul .children,
.widget_layered_nav_filters ul .children {
	margin-left: 0;
	margin-top: $spacer-small;
}
.widget_recent_entries ul li::before,
.widget_pages ul li::before,
.widget_categories ul li::before,
.widget_archive ul li::before,
.widget_recent_comments ul li::before,
.widget_nav_menu ul li::before,
.widget_links ul li::before,
.widget_product_categories ul li::before,
.widget_layered_nav ul li::before,
.widget_layered_nav_filters ul li::before {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	font-family: 'Forkawesome';
	font-weight: 900;
	line-height: inherit;
	vertical-align: baseline;
	margin-right: .5407911001em;
	display: block;
	float: left;
	opacity: .1;
	margin-left: -1.618em;
	width: 1em;
}
