@font-face {
  font-family: 'forkawesome';
  src: url('../font/forkawesome.eot?58268591');
  src: url('../font/forkawesome.eot?58268591#iefix') format('embedded-opentype'),
       url('../font/forkawesome.woff2?58268591') format('woff2'),
       url('../font/forkawesome.woff?58268591') format('woff'),
       url('../font/forkawesome.ttf?58268591') format('truetype'),
       url('../font/forkawesome.svg?58268591#forkawesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'forkawesome';
    src: url('../font/forkawesome.svg?58268591#forkawesome') format('svg');
  }
}
*/
[class^="fa-"]:before, [class*=" fa-"]:before {
  font-family: "forkawesome";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.fa-search:before { content: '\f002'; } /* '' */
.fa-envelope-o:before { content: '\f003'; } /* '' */
.fa-star:before { content: '\f005'; } /* '' */
.fa-star-o:before { content: '\f006'; } /* '' */
.fa-user:before { content: '\f007'; } /* '' */
.fa-check:before { content: '\f00c'; } /* '' */
.fa-times:before { content: '\f00d'; } /* '' */
.fa-home:before { content: '\f015'; } /* '' */
.fa-refresh:before { content: '\f021'; } /* '' */
.fa-picture-o:before { content: '\f03e'; } /* '' */
.fa-pencil:before { content: '\f040'; } /* '' */
.fa-map-marker:before { content: '\f041'; } /* '' */
.fa-times-circle:before { content: '\f057'; } /* '' */
.fa-check-circle:before { content: '\f058'; } /* '' */
.fa-info-circle:before { content: '\f05a'; } /* '' */
.fa-plus:before { content: '\f067'; } /* '' */
.fa-minus:before { content: '\f068'; } /* '' */
.fa-exclamation-circle:before { content: '\f06a'; } /* '' */
.fa-exclamation-triangle:before { content: '\f071'; } /* '' */
.fa-chevron-up:before { content: '\f077'; } /* '' */
.fa-folder:before { content: '\f07b'; } /* '' */
.fa-folder-open:before { content: '\f07c'; } /* '' */
.fa-cogs:before { content: '\f085'; } /* '' */
.fa-star-half:before { content: '\f089'; } /* '' */
.fa-sign-out:before { content: '\f08b'; } /* '' */
.fa-thumb-tack:before { content: '\f08d'; } /* '' */
.fa-external-link:before { content: '\f08e'; } /* '' */
.fa-phone:before { content: '\f095'; } /* '' */
.fa-twitter:before { content: '\f099'; } /* '' */
.fa-facebook:before { content: '\f09a'; } /* '' */
.fa-rss:before { content: '\f09e'; } /* '' */
.fa-bars:before { content: '\f0c9'; } /* '' */
.fa-pinterest:before { content: '\f0d2'; } /* '' */
.fa-linkedin:before { content: '\f0e1'; } /* '' */
.fa-undo:before { content: '\f0e2'; } /* '' */
.fa-tachometer:before { content: '\f0e4'; } /* '' */
.fa-comments-o:before { content: '\f0e6'; } /* '' */
.fa-angle-double-left:before { content: '\f100'; } /* '' */
.fa-angle-double-right:before { content: '\f101'; } /* '' */
.fa-angle-right:before { content: '\f105'; } /* '' */
.fa-angle-down:before { content: '\f107'; } /* '' */
.fa-mobile:before { content: '\f10b'; } /* '' */
.fa-spinner:before { content: '\f110'; } /* '' */
.fa-circle:before { content: '\f111'; } /* '' */
.fa-smile-o:before { content: '\f118'; } /* '' */
.fa-frown-o:before { content: '\f119'; } /* '' */
.fa-meh-o:before { content: '\f11a'; } /* '' */
.fa-star-half-o:before { content: '\f123'; } /* '' */
.fa-info:before { content: '\f129'; } /* '' */
.fa-ellipsis-v:before { content: '\f142'; } /* '' */
.fa-youtube:before { content: '\f167'; } /* '' */
.fa-instagram:before { content: '\f16d'; } /* '' */
.fa-flickr:before { content: '\f16e'; } /* '' */
.fa-tumblr:before { content: '\f173'; } /* '' */
.fa-dribbble:before { content: '\f17d'; } /* '' */
.fa-fax:before { content: '\f1ac'; } /* '' */
.fa-soundcloud:before { content: '\f1be'; } /* '' */
.fa-file-archive-o:before { content: '\f1c6'; } /* '' */
.fa-share-alt:before { content: '\f1e0'; } /* '' */
.fa-at:before { content: '\f1fa'; } /* '' */
.fa-lastfm:before { content: '\f202'; } /* '' */
.fa-tripadvisor:before { content: '\f262'; } /* '' */
.fa-vimeo:before { content: '\f27d'; } /* '' */
.fa-shopping-basket:before { content: '\f291'; } /* '' */
.fa-viadeo:before { content: '\f2a9'; } /* '' */
.fa-address-book-o:before { content: '\f2ba'; } /* '' */
.fa-user-circle-o:before { content: '\f2be'; } /* '' */
.fa-mastodon:before { content: '\f2e1'; } /* '' */
.fa-peertube:before { content: '\f2e4'; } /* '' */
.fa-diaspora:before { content: '\f2e5'; } /* '' */
.fa-friendica:before { content: '\f2e6'; } /* '' */
.fa-gnu-social:before { content: '\f2e7'; } /* '' */
.fa-hubzilla:before { content: '\f2eb'; } /* '' */
.fa-social-home:before { content: '\f2ec'; } /* '' */
.fa-shaarli:before { content: '\f2f5'; } /* '' */
.fa-pixelfed:before { content: '\f314'; } /* '' */
.fa-pleroma:before { content: '\f324'; } /* '' */
.fa-funkwhale:before { content: '\f339'; } /* '' */
