
/* ----------------------------- */
/* Tif 404                       */
/* ----------------------------- */

.tif-404-content .search-404,
.tif-404-content .grid,
.tif-404-content .widget {
	margin-top: $spacer-medium-plus;
	margin-bottom: $spacer-large;
}
.tif-404-content .search-404 {
	margin: auto;
	max-width: 450px;
	margin-bottom: 6.25rem;
	text-align: center;
}
.tif-404-content .number-404 {
	height: 300px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 6.25rem;
}
