
/* ----------------------------- */
/* Tif Alerts                    */
/* ----------------------------- */

@import '../abstracts/_mixins';

ul.tif-alert,
.tif-alert li {
	list-style: none outside;
}
pre,
.tif-alert {
	position: relative;
	padding: $spacer-medium-plus;
	margin: $spacer-small 0;
	width: 100%;
	opacity: 1;
	transition: opacity 0.3s;
	border-style: solid;

	@include tif-declaration('border-width', $tif-alerts-box-border-width);
	@include tif-declaration('border-radius', $tif-alerts-box-border-radius);

	@include tif-declaration('font-family', $tif-alerts-font-font-family);
	@include tif-declaration('font-size', $tif-alerts-font-font-size);
	@include tif-declaration('font-weight', $tif-alerts-font-font-weight);
	@include tif-declaration('font-style', $tif-alerts-font-font-style);
	@include tif-declaration('text-transform', $tif-alerts-font-text-transform);
	@include tif-declaration('line-height', $tif-alerts-font-line-height);
	@include tif-declaration('letter-spacing', $tif-alerts-font-letter-spacing);
}
.tif-alert a {
	color: inherit !important;
	font-weight: bold;
	text-decoration: underline;
}
.tif-alert.disabled,
.tif-alert--disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
.tif-alert\:empty {
	display: none;
}
/* Alerts */
.tif-alert--success.has-icon::before,
.tif-alert--info.has-icon::before,
.tif-alert--warning.has-icon::before,
.tif-alert--danger.has-icon::before,
.woocommerce-info.has-icon::before {
	position: absolute;
	left: $spacer-medium;
	top: $spacer-medium-plus;
	line-height: 1;
	font-size: 200%;
	font-family: ForkAwesome;
	opacity: .5;
	top: 50%;
	transform: translateY(-50%);
}
.tif-alert--success.has-icon::before {
	content: "\f058";
}
.tif-alert--info.has-icon::before {
	content: "\f05a";
}
.tif-alert--warning.has-icon::before {
	content: "\f071";
}
.tif-alert--danger.has-icon::before {
	content: "\f057";
}
.tif-alert--success.has-icon,
.tif-alert--info.has-icon,
.tif-alert--warning.has-icon,
.tif-alert--danger.has-icon {
	position: relative;
	padding-left: 3.75rem;
}
[class*="tif-alert"] p {
	margin: $spacer-tiny-plus 0;
}
[class*="tif-alert"] p.alert-title {
	font-size: 1.25rem;
}
/* The close button for alert messages */
.tif-alert-closebtn {
	position: absolute;
	right: $spacer-medium-plus;
	top: 50%;
	margin-top: -.8em;
	font-size: 150%;
	opacity: .6;
	cursor: pointer;
}
