
/* ----------------------------- */
/* Tif Alignment                 */
/* ----------------------------- */

@import '../abstracts/_mixins';

.alignnone,
a img.alignnone,
.wp-caption.alignnone {
	margin: $spacer-tiny-plus 0 $spacer-small-plus 0;
}
.alignright,
a img.alignright {
	float: right;
	margin: $spacer-tiny-plus 0 $spacer-medium-plus $spacer-medium-plus;
}
.aligncenter,
div.aligncenter,
a img.aligncenter {
	clear: both;
	display: block;
	margin: $spacer-tiny-plus auto;
}
.alignleft,
a img.alignleft {
	float: left;
	margin: $spacer-tiny-plus $spacer-medium-plus $spacer-medium-plus 0;
}
.has-text-align-center {
	text-align: center;
}
.has-text-align-left {
	/*rtl:ignore*/
	text-align: left;
}
.has-text-align-right {
	/*rtl:ignore*/
	text-align: right;
}
.items-justified-left {
	justify-content: flex-start;
}
.items-justified-center {
	justify-content: center;
}
.items-justified-right {
	justify-content: flex-end;
}
.items-justified-space-between {
	justify-content: space-between;
}
.alignwide {
	left: 0;
	right: 0;
}
.no-sidebar .site-content .alignwide,
.no-sidebar .site-content .alignfull {
	width: 100vw !important;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}
@media (min-width: $tif-width-wide) {
	.no-sidebar .site-content .alignwide {
		width: $tif-width-wide !important;
		margin-left: -#{$tif-width-wide / 2};
		margin-right: -#{$tif-width-wide / 2};
	}
}
