
/* ----------------------------- */
/* Tif Attachement               */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-caption {
		border-width: 1px;
		border-style: solid;
		border-radius: 3px;
		max-width: 100%;
		padding: $spacer-tiny-plus $spacer-small-plus;
		text-align: center;
		margin: $spacer-tiny-plus $spacer-medium-plus $spacer-medium-plus $spacer-medium-plus;
	}
	.wp-caption.alignleft {
		margin-left: 0;
	}
	.wp-caption.alignright {
		margin-right: 0;
	}
	.wp-caption img {
		border: 0 none;
		height: auto;
		margin: 0;
		max-width: 100%;
		padding: 0;
		width: auto;
	}
	figure {
		text-align: center;
	}
	figure > img {
		display: block;
		margin: 0 auto;
	}
	// figure.wp-block-image figcaption,
	// figure.wp-block-audio figcaption,
	// figure.wp-block-video figcaption,
	// figure.wp-block-embed figcaption,
	// figure.wp-block-table figcaption,
	figure figcaption,
	.wp-caption .wp-caption-text {
		font-size: var(--tif-small-font-size);
		opacity: .7;
		margin: $spacer-tiny auto;
		padding: 0 1em;
		text-align: center;
	}

}
