
/* ----------------------------- */
/* Tif Branding                  */
/* ----------------------------- */

@import '../abstracts/_mixins';

.site-branding * {
	margin: 0;
}
.site-branding {
	position: relative;
	display: flex;
	@include tif-declaration('flex-direction', $tif-branding-box-alignment-flex-direction);
	@include tif-declaration('justify-content', $tif-branding-box-alignment-justify-content);
	@include tif-declaration('align-items', $tif-branding-box-alignment-align-items);
	@include tif-declaration('align-content', $tif-branding-box-alignment-align-content);
	@include tif-declaration('gap', $tif-branding-box-alignment-gap);
	line-height: 1;
	white-space: nowrap;
}
.site-branding a.brand {
	display: flex;
	@include tif-declaration('flex-direction', $tif-brand-box-alignment-flex-direction);
	@include tif-declaration('justify-content', $tif-brand-box-alignment-justify-content);
	@include tif-declaration('align-items', $tif-brand-box-alignment-align-items);
	@include tif-declaration('align-content', $tif-brand-box-alignment-align-content);
	@include tif-declaration('gap', $tif-brand-box-alignment-gap);
}
.site-branding .logo-mobile {
	display: none;
}
@if variable_exists(tif-site-title-font) {
	.site-branding h1.site-title,
	.site-branding .site-title {
		font-family: inherit;
		@include tif-declaration('font-family', $tif-site-title-font-font-family);
		@include tif-declaration('font-size', $tif-site-title-font-font-size);
		@include tif-declaration('font-weight', $tif-site-title-font-font-weight);
		@include tif-declaration('font-style', $tif-site-title-font-font-style);
		@include tif-declaration('text-transform', $tif-site-title-font-text-transform);
		@include tif-declaration('line-height', $tif-site-title-font-line-height);
		@include tif-declaration('letter-spacing', $tif-site-title-font-letter-spacing);
	}
}

@if variable_exists(tif-tagline-font) {
	.site-branding h1.tagline,
	.site-branding .tagline {
		@include tif-declaration('font-family', $tif-tagline-font-font-family);
		@include tif-declaration('font-size', $tif-tagline-font-font-size);
		@include tif-declaration('font-weight', $tif-tagline-font-font-weight);
		@include tif-declaration('font-style', $tif-tagline-font-font-style);
		@include tif-declaration('text-transform', $tif-tagline-font-text-transform);
		@include tif-declaration('line-height', $tif-tagline-font-line-height);
		@include tif-declaration('letter-spacing', $tif-tagline-font-letter-spacing);
	}
}

@media (max-width: #{$large - 1}) {
	.site-branding .logo-mobile {
		display: block;
	}
	.site-branding .logo-mobile + .logo {
		display: none;
	}
	.site-branding {
		@include tif-declaration('flex-direction', $tif-branding-box-alignment-mobile-flex-direction);
		@include tif-declaration('flex-wrap', $tif-branding-box-alignment-mobile-flex-wrap);
		@include tif-declaration('justify-content', $tif-branding-box-alignment-mobile-justify-content);
		@include tif-declaration('align-items', $tif-branding-box-alignment-mobile-align-items);
		@include tif-declaration('align-content', $tif-branding-box-alignment-mobile-align-content);
		@include tif-declaration('gap', $tif-branding-box-alignment-mobile-gap);

		// @include tif-declaration('padding', 2.8rem);
		@include tif-declaration('padding-top', $tif-branding-box-mobile-padding-top);
		@include tif-declaration('padding-left', $tif-branding-box-mobile-padding-left);
		@include tif-declaration('padding-bottom', $tif-branding-box-mobile-padding-bottom);
		@include tif-declaration('padding-right', $tif-branding-box-mobile-padding-right);
		@include tif-declaration('margin-top', $tif-branding-box-mobile-margin-top);
		@include tif-declaration('margin-bottom', $tif-branding-box-mobile-margin-bottom);
		@include tif-declaration('min-height', $tif-branding-box-mobile-min-height);
		overflow: visible;
		z-index: 9998;
	}
	.home .site-branding {
		@include tif-declaration('padding-top', $tif-home-branding-box-mobile-padding-top);
		@include tif-declaration('padding-bottom', $tif-home-branding-box-mobile-padding-bottom);
		@include tif-declaration('min-height', $tif-home-branding-box-mobile-min-height);
	}
	.site-branding a.brand {
		// height: 2.75rem;
		// width:100%;
		@include tif-declaration('flex-direction', $tif-brand-box-alignment-mobile-flex-direction);
		@include tif-declaration('flex-wrap', $tif-brand-box-alignment-mobile-flex-wrap);
		@include tif-declaration('justify-content', $tif-brand-box-alignment-mobile-justify-content);
		@include tif-declaration('align-items', $tif-brand-box-alignment-mobile-align-items);
		@include tif-declaration('align-content', $tif-brand-box-alignment-mobile-align-content);
		@include tif-declaration('gap', $tif-brand-box-alignment-mobile-gap);
		@include tif-declaration('height', $tif-brand-box-mobile-height);
		@include tif-declaration('min-height', $tif-brand-box-mobile-min-height);
	}
	.site-branding a.brand .site-logo {
		@include tif-declaration('max-width', $tif-logo-box-mobile-max-width);
	}
	.site-branding h1.site-title,
	.site-branding .site-title {
		@include tif-declaration('font-size', $tif-site-title-font-mobile-font-size);
	}

	@if variable_exists(tif-header-hide-tagline-on-mobile-devices) {
		.site-branding .tagline {
			position: absolute;
			margin-left: -1000%;
			top: -1000%;
		}
	}

}
