
/* ----------------------------- */
/* Tif Breadcrumb                */
/* ----------------------------- */

@import '../abstracts/_mixins';

.tif-breadcrumb > .inner {
	padding: $spacer-small-plus $spacer-medium-plus;
}
.tif-breadcrumb ol {
	flex-wrap: wrap;
	align-items: center;
}
.tif-breadcrumb ol * {
	@if variable_exists(tif-breadcrumb-font) {
		@include tif-declaration('font-family', $tif-breadcrumb-font-font-family);
		@include tif-declaration('font-size', $tif-breadcrumb-font-font-size);
		@include tif-declaration('font-weight', $tif-breadcrumb-font-font-weight);
		@include tif-declaration('font-style', $tif-breadcrumb-font-font-style);
		@include tif-declaration('text-transform', $tif-breadcrumb-font-text-transform);
		@include tif-declaration('line-height', $tif-breadcrumb-font-line-height);
		@include tif-declaration('letter-spacing', $tif-breadcrumb-font-letter-spacing);
	}
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.tif-breadcrumb .separator {
	padding: 0 $spacer-tiny-plus;
}
.tif-breadcrumb ol.home-has-icon li:first-child > a::before,
.tif-breadcrumb ol.home-has-icon li:first-child > span::before,
.tif-breadcrumb ol.home-has-icon li:first-child > h1::before {
	position: relative;
	font-family: ForkAwesome;
	content: "\f015";
	margin-right: 5px;
	font-weight: normal;
}
.tif-breadcrumb ol.home-has-icon li:first-child > a::before {
	text-decoration: none;
	display:inline-block;
}
