
/* ----------------------------- */
/* Tif Buttons                   */
/* ----------------------------- */

/* preferably use <button> for buttons !*/
/* use .btn-- or .button-- classes for variants */

@import '../abstracts/_mixins';

@if variable_exists(tif-is-editor-css) {
	$tif-generic-button : null;
} @else {
	$tif-generic-button : '[type="button"],button,';
}

#{$tif-editor-wrap} {

	.wp-block-button__link {
		border-radius: #{$tif-buttons-box-border-radius} !important;
	}
	.btn a,
	.button a {
		color: inherit !important;
		text-decoration: none;
	}

	#{$tif-generic-button}
	.btn,
	.button,
	[type="submit"],
	[type="reset"],
	.btn--primary, .button--primary,
	.btn--success, .button--success,
	.btn--info, .button--info,
	.btn--warning, .button--warning,
	.btn--danger, .button--danger,
	.btn--inverse, .button--inverse,
	.btn--ghost, .button--ghost,
	.wp-block-button__link {
		display: inline-block;
		cursor: pointer;
		padding: $spacer-small-plus;
		margin: 0;
		-webkit-user-select: none;
		   // -moz-user-select: none;
			// -ms-user-select: none;
				user-select: none;
		-webkit-transition: 0.25s;
				transition: 0.25s;
		-webkit-transition-property: background-color, color, border, -webkit-box-shadow;
				transition-property: background-color, color, border, -webkit-box-shadow;
				// transition-property: box-shadow, background-color, color, border;
				// transition-property: box-shadow, background-color, color, border, -webkit-box-shadow;
		text-align: center;
		vertical-align: middle;
		white-space: nowrap;
		line-height: 1.5;
		border-style: solid;
		text-decoration: none !important;

		@include tif-declaration('border-width', $tif-buttons-box-border-width);
		@include tif-declaration('border-radius', $tif-buttons-box-border-radius);

		@include tif-declaration('font-family', $tif-buttons-font-font-family);
		@include tif-declaration('font-size', $tif-buttons-font-font-size);
		@include tif-declaration('font-weight', $tif-buttons-font-font-weight);
		@include tif-declaration('font-style', $tif-buttons-font-font-style);
		@include tif-declaration('text-transform', $tif-buttons-font-text-transform);
		@include tif-declaration('line-height', $tif-buttons-font-line-height);
		@include tif-declaration('letter-spacing', $tif-buttons-font-letter-spacing);
	}
	button:disabled[disabled] {
		opacity:.6;
	}
	.btn:focus,
	.button:focus,
	[type="button"]:focus,
	button:focus,
	.wp-block-button__link:focus {
		-webkit-tap-highlight-color: transparent;
	}
	.btn--primary, .button--primary,
	.btn--success, .button--success,
	.btn--info, .button--info ,
	.btn--warning, .button--warning,
	.btn--danger, .button--danger,
	.btn--inverse, .button--inverse,
	.wp-block-button__link {
		-webkit-box-shadow: none;
				box-shadow: none;
	}
	.btn--small,
	.button--small {
		padding: $spacer-tiny-plus $spacer-small;
		font-size: var(--tif-small-font-size);
	}
	.btn--big,
	.button--big {
		padding: $spacer-medium $spacer-large;
		font-size: var(--tif-medium-font-size);
	}
	.btn--block,
	.button--block {
		width: 100% !important;
		display: block;
	}
	.btn--unstyled,
	.button--unstyled {
		padding: 0;
		border: none;
		text-align: left;
		background: none;
		border-radius: 0;
		-webkit-box-shadow: none;
				box-shadow: none;
		-webkit-appearance: none;
				appearance: none;
	}
	.btn--unstyled:focus,
	.button--unstyled:focus {
		-webkit-box-shadow: none;
				box-shadow: none;
		outline: none;
	}

	[type="submit"]:hover,
	[type="button"]:hover,
	[type="reset"]:hover,
	/* [role="button"]:hover, */
	[class*="button-"]:hover,
	[class*="btn-"]:hover,
	.button:hover,
	.btn:hover {
		cursor:pointer;
	}
	.btn--ghost,
	.button--ghost {
		opacity: 0 !important;
	}

}
