
/* ----------------------------- */
/* Tif Contact Widget            */
/* ----------------------------- */

ul.tif-contact li {
	display: flex;
	align-items: center;
}
ul.tif-contact > li::before {
	font-family: ForkAwesome;
	width: $spacer-medium-plus;
	text-align: center;
	margin-right: $spacer-small-plus;
	font-size: 1.7rem;
}
ul.tif-contact > li.social {
	margin-top: $spacer-medium-plus;
}
ul.tif-contact > li.mobile::before {
	content: "\f10b";
}
ul.tif-contact > li.phone::before {
	content: "\f095";
}
ul.tif-contact > li.fax::before {
	content: "\f1ac";
}
ul.tif-contact > li.mail::before {
	content: "\f1fa";
}
ul.tif-contact > li.adresse::before {
	content: "\f041";
}
