
/* ----------------------------- */
/* Tif Embed                */
/* ----------------------------- */

.iframe-container,
.widget-oembed-content,
.wp-block-embed__wrapper {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.iframe-container.square {
	padding-bottom: 100%;
}
.iframe-container iframe,
.widget-oembed-content iframe,
.wp-block-embed__wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
