
/* ----------------------------- */
/* Tif Font Size                 */
/* ----------------------------- */

@import '../abstracts/_mixins';

.has-tiny-font-size{
	// font-size: 0.8125em;
	font-size: var(--tif-tiny-font-size);
}

.has-small-font-size,
.is-small-text {
	// font-size: 0.8125em;
	font-size: var(--tif-small-font-size);
}

.has-regular-font-size,
.has-normal-font-size,
.is-regular-text {
	// font-size: 1em;
	font-size: var(--tif-normal-font-size);
}

.has-medium-font-size {
	// font-size: 1.25em;
	font-size: var(--tif-medium-font-size);
}

.has-large-font-size,
.is-large-text {
	// font-size: 2.25em;
	font-size: var(--tif-large-font-size);
}

.has-extra-large-font-size{
	// font-size: 2.25em;
	font-size: var(--tif-extra-large-font-size);
}

.has-larger-font-size,
.has-huge-font-size,
.is-larger-text  {
	// font-size: 2.625em;
	font-size: var(--tif-huge-font-size);
}
