
/* ----------------------------- */
/* Tif Footer                    */
/* ----------------------------- */

@import '../abstracts/_mixins';

@if variable_exists(tif-footer-font) {
	.site-footer {
		@include tif-declaration('font-family', $tif-footer-font-font-family);
		@include tif-declaration('font-size', $tif-footer-font-font-size);
		@include tif-declaration('font-weight', $tif-footer-font-font-weight);
		@include tif-declaration('font-style', $tif-footer-font-font-style);
		@include tif-declaration('text-transform', $tif-footer-font-text-transform);
		@include tif-declaration('line-height', $tif-footer-font-line-height);
		@include tif-declaration('letter-spacing', $tif-footer-font-letter-spacing);
	}
}
.site-footer .widget-title {
	height: 2.75rem;
	@if variable_exists(tif-footer-heading-font) {
		@include tif-declaration('font-family', $tif-footer-heading-font-font-family);
		@include tif-declaration('font-size', $tif-footer-heading-font-font-size);
		@include tif-declaration('font-weight', $tif-footer-heading-font-font-weight);
		@include tif-declaration('font-style', $tif-footer-heading-font-font-style);
		@include tif-declaration('text-transform', $tif-footer-heading-font-text-transform);
		@include tif-declaration('line-height', $tif-footer-heading-font-line-height);
		@include tif-declaration('letter-spacing', $tif-footer-heading-font-letter-spacing);
	}
}
@if variable_exists(tif-footer-copyright-font) {
	.footer-navigation,
	.site-info {
		@include tif-declaration('font-family', $tif-footer-copyright-font-font-family);
		@include tif-declaration('font-size', $tif-footer-copyright-font-font-size);
		@include tif-declaration('font-weight', $tif-footer-copyright-font-font-weight);
		@include tif-declaration('font-style', $tif-footer-copyright-font-font-style);
		@include tif-declaration('text-transform', $tif-footer-copyright-font-text-transform);
		@include tif-declaration('line-height', $tif-footer-copyright-font-line-height);
		@include tif-declaration('letter-spacing', $tif-footer-copyright-font-letter-spacing);
	}
}
.site-footer > .inner,
.site-info > .inner {
	display: flex;
	flex-direction: column;
	gap: $spacer-medium-plus;
}
.site-info > .inner {
	font-size: small;
}

@media (min-width: $large) {
	@if ( $tif-footer-first-widget-area-loop-layout == 'grid' ){
		.first.footer.widget-area {
			display: grid;
			grid-template-columns: repeat($tif-footer-first-widget-area-loop-grid-cols, minmax(0, 1fr));
			@include tif-declaration('justify-content', $tif-footer-first-widget-area-loop-box-alignment-justify-content);
			@include tif-declaration('align-items', $tif-footer-first-widget-area-loop-box-alignment-align-items);
			@include tif-declaration('align-content', $tif-footer-first-widget-area-loop-box-alignment-align-content);
			@include tif-declaration('gap', $tif-footer-first-widget-area-loop-box-alignment-gap);
		}
	}
	@if ( $tif-footer-first-widget-area-loop-layout == 'column' ){
		.first.footer.widget-area {
			@include tif-declaration('gap', 0);
			column-count: $tif-footer-first-widget-area-loop-grid-cols;
			@include tif-declaration('gap', $tif-footer-first-widget-area-loop-box-alignment-gap);
		}
		.first.footer.widget-area > .widget {
			@include tif-declaration('margin-bottom', $tif-footer-first-widget-area-loop-box-alignment-margin-bottom);
			break-inside: avoid;
		}
	}
	@if ( $tif-footer-second-widget-area-loop-layout == 'grid' ){
		.second.footer.widget-area {
			display: grid;
			grid-template-columns: repeat($tif-footer-second-widget-area-loop-grid-cols, minmax(0, 1fr));
			@include tif-declaration('justify-content', $tif-footer-second-widget-area-loop-box-alignment-justify-content);
			@include tif-declaration('align-items', $tif-footer-second-widget-area-loop-box-alignment-align-items);
			@include tif-declaration('align-content', $tif-footer-second-widget-area-loop-box-alignment-align-content);
			@include tif-declaration('gap', $tif-footer-second-widget-area-loop-box-alignment-gap);
		}
	}
	@if ( $tif-footer-second-widget-area-loop-layout == 'column' ){
		.second.footer.widget-area {
			@include tif-declaration('gap', 0);
			column-count: $tif-footer-second-widget-area-loop-grid-cols;
			@include tif-declaration('gap', $tif-footer-second-widget-area-loop-box-alignment-gap);
		}
		.second.footer.widget-area > .widget {
			@include tif-declaration('margin-bottom', $tif-footer-second-widget-area-loop-box-alignment-margin-bottom);
			break-inside: avoid;
		}
	}
	.footer.widget-area > * {
		width: 100%;
	}
	.site-info > .inner {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
