
/* ----------------------------- */
/* Tif Forms                     */
/* ----------------------------- */

/* Responsive flex layout */
.tif-form .wrap-option {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	position: relative;
	margin-bottom: .5em;
}
.tif-form .wrap-option header,
.tif-form .wrap-option > label {
	flex-basis: 100%;
	font-weight: bold;
	order: -1
}
.tif-form .error-message,
.tif-form small {
	flex-basis: 100%;
}
.tif-form textarea {
	width: 100%;
}
@media (min-width: $small) {
	.tif-form.row .wrap-option {
		flex-direction: row;
		align-items: stretch;
	}
	.tif-form.row .wrap-option header,
	.tif-form.row .wrap-option > label {
		display: flex;
		flex-basis: 25%;
		align-items: center;
	}
	.tif-form.row textarea {
		width: 75%;
	}
	.tif-form.row .error-message,
	.tif-form.row small {
		margin-left: 25%;
	}
	.tif-form.row .wrap-input {
		flex-basis: 75%;
	}
	.tif-form.row .wrap-input .error-message,
	.tif-form.row .wrap-input small {
		margin-left: 0;
	}
}

// Layout
.tif-form .error-message {
	color: #f00;
	opacity: 1;
}
.tif-form small {
	font-size: var(--tif-small-font-size);
	display: block;
	opacity: .5;
}
.required,
.tif-required {
	color: red;
	font-weight: normal;
	margin: .2rem;
}
.tif-form .required-field.error {
	background: #ffeded !important;
	box-shadow: 0px 0px 3px 0px #f00;
}
.tif-taz {
	overflow: hidden;
	opacity: 0;
	height: 0;
	width: 0;
}
.tif-form .form-submit {
	padding-top: $spacer-small;
	padding-bottom: $spacer-small;
	display: flex;
	justify-content: flex-end;
	gap: $gap-tiny;
}

.tif-form input:required:valid,
.tif-form select:required:valid,
.tif-form textarea:required:valid {
	box-shadow: inset 5px 0 0 #0f834d;
}
.tif-form input:invalid,
.tif-form select:invalid,
.tif-form textarea:invalid {
	box-shadow: inset 5px 0 0 #e2401c;
}
// .tif-form input:required + .input-control:after {
// 	font-family: ForkAwesome;
// }
// .tif-form input:required:invalid + .input-control:after {
// 	content: "!";
// 	color: #f44336;
// 	margin-left: -1.4rem;
// }
// .tif-form input:required:valid + .input-control:after {
// 	content: "\f00c";
// 	color: #6a9e4d;
// 	margin-left: -1.9rem;
// }

// .tif-form .wrap-input label::after {
// 	content: "\A";
// 	white-space: pre;
// }
// .tif-form input[type=checkbox] {
// 	vertical-align: middle;
// }
// .tif-form input:invalid {
// 	border-left: 2px solid #f44336;
// }
// .tif-form input:required:valid {
// 	border-left: 2px solid #6a9e4d;
// }
//
// /* Info */
// .tif-form a.info {
// 	text-decoration: none;
// 	position: absolute;
// 	right: 0;
// }
// .tif-form a.info span {
// 	position: absolute;
// 	padding: 14px;
// 	margin-top: -1em;
// 	right: 45px;
// 	min-width: 250px;
// 	max-width: 350px;
// 	opacity:1;
// 	z-index: 999;
// 	background:rgba(231, 231, 231,1);
// 	border: 1px solid #cecece;
// 	color: #000;
// 	transform:scale(0) rotate(-12deg);
// 	transition:all .25s;
// 	border-radius: 3px;
// }
// .tif-form a.info:hover span,
// .tif-form a.info:focus span,
// .tif-form a.info:active span {
// 	opacity:1;
// 	transform:scale(1) rotate(0deg);
// }
//
// /* Tif form FO layout */
// .tif-form {
// 	padding-bottom: $spacer-medium-plus;
// }
// fieldset {
// 	border: 1px solid #bbb;
// }
// fieldset legend {
// 	width: initial;
// }
// .tif-form a.info::before {
// 	content: "\f05a";
// 	font-family: ForkAwesome;
// 	font-size: 1.25rem;
// 	padding: $spacer-small;
// }
