
/* ----------------------------- */
/* Tif Galleries                 */
/* ----------------------------- */

.entry-content {

	.gallery {
		display: flex;
		flex-wrap: wrap;
		// margin: 3em 0 3em -0.8em;
		// width: calc(100% + 1.6em);
		justify-content: space-between;
	}
	.gallery-item {
		margin: 0.8em 0;
		// padding: 0 0.8em;
		// width: 100%;
	}
	.gallery-caption {
		display: block;
		margin-top: 0.8em;
		font-size: var(--tif-small-font-size);
		font-style:italic;
		opacity:.7;
	}
	[class*="gallery-columns-"] .gallery-image,
	[class*="gallery-columns-"] .gallery-item {
		width: calc((100% - 16px) / 2);
	}
	@media (min-width: $small) {
		.gallery-columns-3 .gallery-image,
		.gallery-columns-3 .gallery-item {
			width: calc((100% - 16px * 2) / 3);
		}
		.gallery-columns-4 .gallery-image,
		.gallery-columns-4 .gallery-item {
			width: calc((100% - 16px * 3) / 4);
		}
		.gallery-columns-5 .gallery-image,
		.gallery-columns-5 .gallery-item {
			width: calc((100% - 16px * 4) / 5);
		}
		.gallery-columns-6 .gallery-image,
		.gallery-columns-6 .gallery-item {
			width: calc((100% - 16px * 5) / 6);
		}
		.gallery-columns-7 .gallery-image,
		.gallery-columns-7 .gallery-item {
			width: calc((100% - 16px * 6) / 7);
		}
		.gallery-columns-8 .gallery-image,
		.gallery-columns-8 .gallery-item {
			width: calc((100% - 16px * 7) / 8);
		}
	}

}
