
/* ----------------------------- */
/* Tif Header                    */
/* ----------------------------- */

@import '../abstracts/_mixins';

.site-header {
	position: relative;
	z-index: 9997;                                                              // Prevent submenu that goes under entry thumbnail or woocommerce zoom button
	@if variable_exists(tif-header-font) {
		@include tif-declaration('font-family', $tif-header-font-font-family);
		@include tif-declaration('font-size', $tif-header-font-font-size);
		@include tif-declaration('font-weight', $tif-header-font-font-weight);
		@include tif-declaration('font-style', $tif-header-font-font-style);
		@include tif-declaration('text-transform', $tif-header-font-text-transform);
		@include tif-declaration('line-height', $tif-header-font-line-height);
		@include tif-declaration('letter-spacing', $tif-header-font-letter-spacing);
	}
}
.site-header a,
.site-header a:hover {
	text-decoration: none;
}
.site-header > .inner {
	position: relative;
	padding: 0 $spacer-medium-plus;
}
.site-header .widget-area .widget {
	padding: $spacer-none;
}
@if ($tif-header-image-url != "") {

	.site-header {
		background-image: url('http#{$tif-is-https}://#{$tif-header-image-url}');
		@include tif-declaration('background-repeat', $tif-header-image-background-repeat);
		@include tif-declaration('background-size', $tif-header-image-background-size);
		@include tif-declaration('background-position', $tif-header-image-background-position);
		@include tif-declaration('background-attachment', $tif-header-image-background-attachment);
	}
	.site-header::before {
		display: block;
		content: "";
		position: absolute;
		// @link - use http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.3+75 to edit this gradient
		// background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(0,0,0,0.42) 100%);
		background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(0,0,0,0.42) 100%);
		background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(0,0,0,0.3) 100%);
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		// z-index: 0;
	}

}
@media (max-width: #{$large - 1}) {

	.site-header > .inner {
		display: grid;
	}
	.site-header .widget-area.block,                                            // Widgets areas are always visible (as a block)
	.site-header .widget-area .widget.block,                                    // Widgets are always visible (individually)
	.site-header .widget-area.toggle-grouped:not(.block) .widget,               // Widgets areas will toggle (as a block)
	.site-header .widget-area.toggle-ungrouped .toggle-content .inner           // Widgets will toggle (individually)
	{
		@include tif-declaration('padding', $spacer-medium-plus);
	}

}
@media (min-width: $large) {

	.site-header > .inner {
		display: flex;
		@include tif-declaration('flex-direction', $tif-header-box-alignment-flex-direction);
		@include tif-declaration('flex-wrap', $tif-header-box-alignment-flex-wrap);
		@include tif-declaration('justify-content', $tif-header-box-alignment-justify-content);
		@include tif-declaration('align-items', $tif-header-box-alignment-align-items);
		@include tif-declaration('align-content', $tif-header-box-alignment-align-content);
		@include tif-declaration('gap', $tif-header-box-alignment-gap);
		@include tif-declaration('padding-top', $tif-header-box-padding-top);
		@include tif-declaration('padding-bottom', $tif-header-box-padding-bottom);
		@include tif-declaration('min-height', $tif-header-image-min-height);
		position: relative;
	}
	.home .site-header > .inner {
		@include tif-declaration('padding-top', $tif-home-header-box-padding-top);
		@include tif-declaration('padding-bottom', $tif-home-header-box-padding-bottom);
		@include tif-declaration('min-height', $tif-home-header-box-min-height);
	}

}
