
/* ----------------------------- */
/* Tif Header Secondary          */
/* ----------------------------- */

@import '../abstracts/_mixins';

@if ($secondary-header-box-box-shadow) {
	.header-secondary {
		box-shadow: $secondary-header-box-box-shadow;
	}
}
// .header-secondary .taxonomy-header .inner {
// 	padding: $spacer-medium-plus 0;
// }
// .header-secondary .taxonomy-header .inner p,
// .header-secondary .taxonomy-header .inner ul {
// 	padding: 0 $spacer-medium-plus;
// }
// .header-secondary  .tif-cover .tif-title-bar,
// .header-secondary  .tif-cover .tif-breadcrumb {
// 	background-color: transparent !important;
// 	box-shadow: none;
// }
@if variable_exists(tif-secondary-header-font){
	.header-secondary {
		@include tif-declaration('font-family', $tif-secondary-header-font-font-family);
		@include tif-declaration('font-size', $tif-secondary-header-font-font-size);
		@include tif-declaration('font-weight', $tif-secondary-header-font-font-weight);
		@include tif-declaration('font-style', $tif-secondary-header-font-font-style);
		@include tif-declaration('text-transform', $tif-secondary-header-font-text-transform);
		@include tif-declaration('letter-spacing', $tif-secondary-header-font-letter-spacing);
	}
}

@if variable_exists(tif-secondary-header-heading-font){
	.header-secondary h1 {
		@include tif-declaration('font-family', $tif-secondary-header-heading-font-font-family);
		@include tif-declaration('font-size', $tif-secondary-header-heading-font-font-size);
		@include tif-declaration('font-weight', $tif-secondary-header-heading-font-font-weight);
		@include tif-declaration('font-style', $tif-secondary-header-heading-font-font-style);
		@include tif-declaration('text-transform', $tif-secondary-header-heading-font-text-transform);
		@include tif-declaration('letter-spacing', $tif-secondary-header-heading-font-letter-spacing);
	}
}
