
/* ----------------------------- */
/* Tif Headings                  */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	/* Headings */
	@if variable_exists(tif-heading-font) {
		h1#{$wp-block}, .h1-like,
		h2#{$wp-block}, .h2-like,
		h3#{$wp-block}, .h3-like,
		h4#{$wp-block}, .h4-like,
		h5#{$wp-block}, .h5-like,
		h6#{$wp-block}, .h6-like #{$wp-block},
		.editor-post-title__input {
			@include tif-declaration('font-family', $tif-heading-font-font-family);
			@include tif-declaration('font-weight', $tif-heading-font-font-weight);
			@include tif-declaration('font-style', $tif-heading-font-font-style);
			@include tif-declaration('text-transform', $tif-heading-font-text-transform);
			@include tif-declaration('line-height', $tif-heading-font-line-height);
			@include tif-declaration('letter-spacing', $tif-heading-font-letter-spacing);
		}
	}
	.editor-post-title__input,
	h1#{$wp-block}, .h1-like {
		font-size: var(--tif-h1-font-size, 2rem);
	}
	h2#{$wp-block}, .h2-like {
		font-size: var(--tif-h2-font-size, 1.75rem);
	}
	h3#{$wp-block}, .h3-like {
		font-size: var(--tif-h3-font-size, 1.5rem);
	}
	h4#{$wp-block}, .h4-like {
		font-size: var(--tif-h4-font-size, 1.250rem);
	}
	h5#{$wp-block}, .h5-like {
		font-size: var(--tif-h5-font-size, 1.125rem);
	}
	h6#{$wp-block}, .h6-like {
		font-size: var(--tif-h6-font-size, 1rem);
	}

	h1.has-background,
	h2.has-background,
	h3.has-background,
	h4.has-background,
	h5.has-background,
	h6.has-background {
		padding: $spacer-medium $spacer-medium-plus;
	}

}
