
/* ----------------------------- */
/* Tif Inputs                    */
/* ----------------------------- */

select,
textarea,
.input-text,
[type="color"],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
[type="datetime"] {
	padding: $spacer-small-plus;
	margin-bottom: 0;
	line-height: 1.5 !important;
	// outline: 0;
	border: 0;
	box-sizing: border-box;
	font-weight: 400;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.125);
}
[type="color"] {
	height: 2.125rem;
}
// input + label {
//   cursor: pointer;
// }
input:disabled[disabled] {
	opacity: .6;
}
input:disabled[disabled] + label,
input:disabled[disabled] ~ label {
	opacity: .6;
	cursor: not-allowed !important;
}
