
/* ----------------------------- */
/* Tif Latest Comments           */
/* ----------------------------- */

.latest-comments article {
	display: flex;
	gap: $gap-small;
}
.latest-comments article header {
	flex-basis: 48px;
}
.latest-comments article .wrap-content {
	flex-basis: calc(100% - 48px);
}
.latest-comments article .author {
	display: block;
}
