
/* ----------------------------- */
/* Tif Layout                    */
/* ----------------------------- */

@import '../abstracts/_mixins';

.site-main {
	display: grid;
}
.site-main h1 {
	margin-bottom: 0;
}
.site-main,
.site-main > article,
.site-main > .wrap-content {
	padding: $spacer-none;
	margin: $spacer-none;
}
.site-main > *,
.site-main > article > *,
.site-main > .wrap-content > *,
.site-main > .wrap-content > .product {
	padding: 0 $spacer-medium-plus;
	margin: $spacer-medium-plus 0;
}
.site-main > article > .has-background {
	padding: $spacer-medium-plus;
	margin: $spacer-none;
}
.site-content-after .wrap-container > * {
	padding: 0 $spacer-medium-plus;
	margin: $spacer-medium-plus auto;
	max-width: $tif-width-primary;
}
.site-content-inner {
	display: grid;
}
.site-content-after .wrap-container.has-background > * {
	padding: $spacer-medium-plus;
	margin: 0 auto;
}
.widget-area .widget,
.footer-navigation,
.site-info .inner {
	padding: $spacer-medium-plus;
}
@media (min-width: $large) {

	@if variable_exists(tif-theme-is-boxed) {
		body {
			max-width: $tif-width-primary;
			margin: $spacer-medium-plus auto;
		}
	}
	.site-content-inner {
		display: flex;
		flex-wrap: nowrap;
		@include tif-declaration('gap', $tif-site-content-box-alignment-gap);
	}
	.content-area {
		width: 100%;
	}
	.has-sidebar .content-area {
		width: #{100% - $tif-sidebar-width-primary};
	}
	.has-sidebar .sidebar {
		width: $tif-sidebar-width-primary;
	}
	.has-sidebar.left-sidebar .sidebar {
		order:-1;
	}
	.no-sidebar .content-area {
		max-width: $tif-width-secondary;
		margin: 0 auto;
	}
	.primary-width.no-sidebar .content-area {
		max-width: 100%;
	}
	.footer-navigation {
		padding: $spacer-none;
	}

}
