
/* ----------------------------- */
/* Tif Links                     */
/* ----------------------------- */
*:focus-visible {
	outline: 2px dotted currentcolor;
	outline-offset: -2px;
}

.skip-links {
	position: absolute;
	font-size: var(--tif-large-font-size);
	font-weight: bold;
	z-index: 10001;
}
.skip-links a {
	position: absolute;
	box-sizing: border-box;
	overflow: hidden;
	padding: 0.5em;
	clip: rect(1px, 1px, 1px, 1px);
	background: black;
	color: white !important;
	text-decoration: none;
}
.skip-links a:focus {
	position: static;
	overflow: visible;
	clip: auto;
}
.stretched-link:after {
	bottom:0;
	content:"";
	left:0;
	position:absolute;
	right:0;
	top:0;
	z-index:4;
}
.stretched-link-above{
	position:relative;
	z-index:5
}
