
/* ----------------------------- */
/* Tif List                      */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	ol.has-background,
	ul.has-background{
		padding: $spacer-medium $spacer-medium-plus;
	}

}
