
/* ----------------------------- */
/* Tif Loading                   */
/* ----------------------------- */

.tif-loading {
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 2% auto;
	border: 0.25rem solid rgba(34, 34, 34, 0.2);
	border-top-color: #222;
	-webkit-animation:fa-spin 1s infinite linear;
			animation:fa-spin 1s infinite linear;
}
