
/* ----------------------------- */
/* Tif Loop                      */
/* ----------------------------- */

@import '../abstracts/_mixins';

.main-loop {
	padding: $spacer-medium-plus;
}
.main-loop,
.loop-title,
.main-title,
.secondary-title {
	margin: $spacer-none;
}
.main-loop {
	@if variable_exists(tif-default-loop-is-column-layout) {
		@include tif-declaration('gap', 0);
	}
	@include tif-declaration('gap', $tif-default-loop-box-alignment-gap);
}
@if variable_exists(tif-default-loop-is-column-layout) {
	.main-loop article {
		@include tif-declaration('margin-bottom', $tif-default-loop-box-alignment-margin-bottom);
	}
}

@if variable_exists(tif-home-loop-is-not-default-layout) {
	.home .main-loop {
		@if variable_exists(tif-home-loop-is-column-layout) {
			@include tif-declaration('gap', 0);
		}
		@include tif-declaration('gap', $tif-home-loop-box-alignment-gap);
	}
	@if variable_exists(tif-home-loop-is-column-layout) {
		.home .main-loop article {
			@include tif-declaration('margin-bottom', $tif-home-loop-box-alignment-margin-bottom);
		}
	}
}
@if variable_exists(tif-blog-loop-is-not-default-layout) {
	.blog .main-loop {
		@if variable_exists(tif-blog-loop-is-column-layout) {
			@include tif-declaration('gap', 0);
		}
		@include tif-declaration('gap', $tif-blog-loop-box-alignment-gap);
	}
	@if variable_exists(tif-blog-loop-is-column-layout) {
		.blog .main-loop article {
			@include tif-declaration('margin-bottom', $tif-blog-loop-box-alignment-margin-bottom);
		}
	}
}
@if variable_exists(tif-archive-loop-is-not-default-layout) {
	.archive .main-loop {
		@if variable_exists(tif-archive-loop-is-column-layout) {
			@include tif-declaration('gap', 0);
		}
		@include tif-declaration('gap', $tif-archive-loop-box-alignment-gap);
	}
	@if variable_exists(tif-archive-loop-is-column-layout) {
		.archive .main-loop article {
			@include tif-declaration('margin-bottom', $tif-archive-loop-box-alignment-margin-bottom);
		}
	}
}
@if variable_exists(tif-search-loop-is-not-default-layout) {
	.search .main-loop {
		@if variable_exists(tif-search-loop-is-column-layout) {
			@include tif-declaration('gap', 0);
		}
		@include tif-declaration('gap', $tif-search-loop-box-alignment-gap);
	}
	@if variable_exists(tif-search-loop-is-column-layout) {
		.search .main-loop article {
			@include tif-declaration('margin-bottom', $tif-search-loop-box-alignment-margin-bottom);
		}
	}
}
.posts-list article {
	position: relative;
	align-content: start;
}

.posts-list.sm\:grid article > *,
.posts-list.sm\:grid article .wrap-content > *,
.posts-list.secondary-loop article .wrap-content> * {
	margin: 0;
	padding: 0;
}
@media (max-width: #{$small - 1}) {
	.posts-list.sm\:grid article {
		padding-bottom: $spacer-medium-plus;
	}
	.posts-list.sm\:grid article .entry-thumbnail {
		padding-bottom: 0.5rem;
	}
}
