
/* ----------------------------- */
/* Tif Navigation                */
/* ----------------------------- */

@import '../abstracts/_mixins';

.tif-nav {
	position: relative;
}
.tif-nav > .inner {
	width: 100%;
}
.tif-nav .menu li a,
.tif-nav .menu li > span {
	padding: $spacer-small-plus 0;
}
.tif-nav .sub-menu li a {
	max-width: 80%;
}
.tif-nav .menu li div {
	height: 0;
	opacity: 0;
	overflow: hidden;
	visibility: hidden;
}
@if variable_exists(tif-primary-menu-font) {
	.tif-nav {
		@include tif-declaration('font-family', $tif-primary-menu-font-font-family);
		@include tif-declaration('font-size', $tif-primary-menu-font-font-size);
		@include tif-declaration('font-weight', $tif-primary-menu-font-font-weight);
		@include tif-declaration('font-style', $tif-primary-menu-font-font-style);
		@include tif-declaration('text-transform', $tif-primary-menu-font-text-transform);
		@include tif-declaration('line-height', $tif-primary-menu-font-line-height);
		@include tif-declaration('letter-spacing', $tif-primary-menu-font-letter-spacing);
	}
}
.tif-nav.s {
	order: -100;
	z-index: 9998;
	@if variable_exists(tif-secondary-menu-font) {
		@include tif-declaration('font-family', $tif-secondary-menu-font-font-family);
		@include tif-declaration('font-size', $tif-secondary-menu-font-font-size);
		@include tif-declaration('font-weight', $tif-secondary-menu-font-font-weight);
		@include tif-declaration('font-style', $tif-secondary-menu-font-font-style);
		@include tif-declaration('text-transform', $tif-secondary-menu-font-text-transform);
		@include tif-declaration('line-height', $tif-secondary-menu-font-line-height);
		@include tif-declaration('letter-spacing', $tif-secondary-menu-font-letter-spacing);
	}
}
@media (min-width: $large) {

	.tif-nav .menu li:not(.secondary-hidden) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		overflow-wrap: normal;
	}
	.tif-nav .menu li.secondary-hidden {
		display: none !important;
	}
	.tif-nav .menu li .tif-toggle-label::after,
	.tif-nav .tif-toggle-box > input[type="checkbox"]:checked ~ .tif-toggle-label::after, {
		content: "\f107";
		font-family: Forkawesome;
		font-size: initial;
	}
	.tif-nav .sub-menu li .tif-toggle-label::after,
	.tif-nav .sub-menu .tif-toggle-box > input[type="checkbox"]:checked ~ .tif-toggle-label::after, {
		content: "\f105";
	}

	.tif-nav .menu li a {
		padding: $spacer-small-plus $spacer-medium-plus;
	}
	// Primary menu
	.tif-nav > .inner {
		position: relative;
		@include tif-declaration('flex-wrap', $tif-primary-menu-container-box-alignment-flex-wrap);
		@include tif-declaration('justify-content', $tif-primary-menu-container-box-alignment-justify-content);
		@include tif-declaration('gap', $tif-primary-menu-container-box-alignment-gap);
		// z-index: 9997;
	}
	.tif-nav > .inner > .menu {
		@include tif-declaration('margin', $tif-primary-menu-box-margin);
		@include tif-declaration('flex-direction', $tif-primary-menu-box-alignment-flex-direction);
		@include tif-declaration('flex-wrap', $tif-primary-menu-box-alignment-flex-wrap);
		@include tif-declaration('justify-content', $tif-primary-menu-box-alignment-justify-content);
		@include tif-declaration('align-items', $tif-primary-menu-box-alignment-align-items);
		@include tif-declaration('align-content', $tif-primary-menu-box-alignment-align-content);
		@include tif-declaration('flex-basis', $tif-primary-menu-box-alignment-flex-basis);
		@include tif-declaration('gap', $tif-primary-menu-box-alignment-gap);
	}
	.tif-nav .menu > li {
		flex-wrap: nowrap;
	@if variable_exists(tif-primary-menu-box) {
			border-style: solid;
			@include tif-declaration('border-width', $tif-primary-menu-box-border-width);
			@include tif-declaration('border-radius', $tif-primary-menu-box-border-radius);
		}
	}
	.tif-nav .menu li a,
	.tif-nav .menu li > span,
	.tif-nav .menu li .tif-toggle-label {
		@include tif-declaration('padding', $tif-primary-menu-box-padding);
	}
	.tif-nav .menu li .tif-toggle-label {
		@include tif-declaration('padding', $tif-primary-menu-box-padding);
		padding-left: 0.625rem;
		margin-left: $tif-primary-menu-toggle-label-margin-left;
	}
	.rtl .tif-nav .menu li .tif-toggle-label {
		@include tif-declaration('padding', $tif-primary-menu-box-padding);
		padding-right: 0.625rem;
		margin: 0;
		margin-right: $tif-primary-menu-toggle-label-margin-left;
	}

	@if not variable_exists(tif-secondary-menu-use-primary-settings) {
		// Secondary menu
		.tif-nav.s > .inner {
			position: relative;
			@include tif-declaration('flex-wrap', $tif-secondary-menu-container-box-alignment-flex-wrap);
			@include tif-declaration('justify-content', $tif-secondary-menu-container-box-alignment-justify-content);
			@include tif-declaration('gap', $tif-secondary-menu-container-box-alignment-gap);
			// z-index: 9997;
		}
		.tif-nav.s > .inner > .menu {
			@include tif-declaration('margin', $tif-secondary-menu-box-margin);
			@include tif-declaration('flex-direction', $tif-secondary-menu-box-alignment-flex-direction);
			@include tif-declaration('flex-wrap', $tif-secondary-menu-box-alignment-flex-wrap);
			@include tif-declaration('justify-content', $tif-secondary-menu-box-alignment-justify-content);
			@include tif-declaration('align-items', $tif-secondary-menu-box-alignment-align-items);
			@include tif-declaration('align-content', $tif-secondary-menu-box-alignment-align-content);
			@include tif-declaration('flex-basis', $tif-secondary-menu-box-alignment-flex-basis);
			@include tif-declaration('gap', $tif-secondary-menu-box-alignment-gap);
		}
		@if variable_exists(tif-secondary-menu-box) {
			.tif-nav.s .menu > li {
				border-style: solid;
				@include tif-declaration('border-width', $tif-secondary-menu-box-border-width);
				@include tif-declaration('border-radius', $tif-secondary-menu-box-border-radius);
			}
		}
		.tif-nav.s .menu li a,
		.tif-nav.s .menu li > span  {
			@include tif-declaration('padding', $tif-secondary-menu-box-padding);
		}
		.tif-nav.s li .tif-toggle-label {
			@include tif-declaration('padding', $tif-secondary-menu-box-padding);
			padding-left: 0.625rem;
			margin-left: $tif-secondary-menu-toggle-label-margin-left;
		}
		.rtl .tif-nav.s .menu li .tif-toggle-label {
			@include tif-declaration('padding', $tif-secondary-menu-box-padding);
			padding-right: 0.625rem;
			margin: 0;
			margin-right: $tif-secondary-menu-toggle-label-margin-left;
		}
	}
	// Footer menu
	.tif-nav.footer-navigation .menu li a {
		padding: $spacer-small-plus $spacer-small-plus;
	}
	// Generic
	.tif-nav .menu li div {
		position: absolute;
		top: 100%;
	}
	.tif-nav .menu .tif-toggle-box > .toggle-content.open,
	.tif-nav .menu .tif-toggle-box > input[type="checkbox"]:checked ~ .toggle-content,
	.tif-nav .menu li:hover > div {
		height: auto;
		opacity: 1;
		overflow: visible;
		visibility: visible;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
		@include tif-declaration('border-radius', $tif-primary-menu-submenu-box-border-radius);
	}
	.tif-nav .sub-menu {
		@include tif-declaration('width', $tif-primary-menu-submenu-box-width);
		@include tif-declaration('border-radius', $tif-primary-menu-submenu-box-border-radius);
		@include tif-declaration('border-top-width', $tif-primary-menu-submenu-box-border-radius);
		@include tif-declaration('border-bottom-width', $tif-primary-menu-submenu-box-border-radius);
	}
	.tif-nav .sub-menu li {
		position: relative;
		display: flex;
	}
	.tif-nav .sub-menu .tif-toggle-box > .toggle-content.open,
	.tif-nav .sub-menu .tif-toggle-box > input[type="checkbox"]:checked ~ .toggle-content,
	.tif-nav .sub-menu li:hover > div {
		position: absolute;
		top: 0;
		margin: 0 $tif-primary-menu-submenu-box-width;
		z-index: 1;
	}
	@if $tif-primary-menu-submenu-animation {
		.tif-nav .menu li > div,
		.tif-nav .menu li ul {
			-webkit-transition: $tif-primary-menu-submenu-animation;
					transition: $tif-primary-menu-submenu-animation;
		}
	}
	@if $tif-primary-menu-submenu-slideup {
		.tif-nav .menu li > div {
			margin-top: 20px;
		}
		.tif-nav .menu li:hover > div {
			margin-top: 0;
		}
	}
	@if $tif-primary-menu-submenu-rollout {
		.tif-nav .menu li > div,
		.tif-nav .menu li ul {
			max-height: 0;
			overflow: hidden;
		}
		.tif-nav .menu .tif-toggle-box > .toggle-content.open ul,
		.tif-nav .menu .tif-toggle-box > input[type="checkbox"]:checked ~ .toggle-content ul,
		.tif-nav .menu li:hover > div,
		.tif-nav .menu li:hover ul {
			max-height: 500px;
		}
		.tif-nav .menu .tif-toggle-box > input[type="checkbox"]:checked ~ .toggle-content ul,
		.tif-nav .menu li ul:hover {
			overflow: visible;
		}
		.tif-nav .sub-menu {
			position: relative;
			z-index: 10;
		}
		.tif-nav .sub-menu li > div {
			z-index: -1;
		}
		.tif-nav .sub-menu li:hover div,
		.tif-nav .sub-menu li:hover ul {
			-webkit-transition: margin 0.15s ease-in;
					transition: margin 0.15s ease-in;
		}
	}
}
@media (max-width: #{$large - 1}) {

	.tif-nav.site-nav:not(.footer-navigation) {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
	.tif-nav .menu li {
		display: flex;
		font-weight: bold;
		margin: 0;
	}
	.tif-nav .sub-menu li {
		font-weight: normal;
		margin-left: $spacer-medium-plus;
	}
	.tif-nav .menu li .tif-toggle-label {
		position: relative;
		top: 0;
	}
	.tif-nav.tif-toggle-box > .toggle-content {
		padding: $spacer-medium-plus;
	}

	@if ($tif-main-nav-mobile-layout == "modal" or $tif-main-nav-mobile-layout == "modal_left") {

		.tif-nav .inner.toggle-content ul.menu {
			max-height: calc(#{$tif-lg-menu-max-height} - #{$tif-branding-box-mobile-padding-top});
			overflow-y: auto;
			overflow-x: hidden;
			margin-top: #{$tif-branding-box-mobile-padding-top};
		}

		.home .tif-nav .inner.toggle-content ul.menu {
			max-height: calc(#{$tif-lg-menu-max-height} - #{$tif-home-branding-box-mobile-padding-top});
			margin-top: #{$tif-home-branding-box-mobile-padding-top};
		}

	}

}
