
/* ----------------------------- */
/* Tif Opening Hours Widget      */
/* ----------------------------- */

ul.tif-opening-hours li {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
ul.tif-opening-hours li label {
	display: contents;
}
ul.tif-opening-hours li div {
	border: dotted 1px transparent;
	border-bottom-color: inherit;
	flex-grow: 1;
	height: $spacer-tiny-plus;
	margin: 0 5px;
}
ul.tif-opening-hours li span {
	white-space: nowrap;
}
