
/* ----------------------------- */
/* Tif Pagination                */
/* ----------------------------- */

@import '../abstracts/_mixins';

/* Posts */
.nav-links div {
	display: flex;
	flex-direction: column;
}
.nav-links div + div {
	align-items: flex-end;
}

/* Others paginations */
ul.numered {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	gap: $tif-pagination-box-alignment-gap;
	padding: $spacer-medium-plus $spacer-medium;
}
ul.numered li a,
ul.numered li a:hover,
ul.numered span.current,
ul.numered li.disabled,
ul.numered li .dots {
	box-sizing: border-box;
	line-height: 1;
	text-decoration: none;
	padding: .5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	@include tif-declaration('min-width', $tif-pagination-box-min-width);
	@include tif-declaration('min-height', $tif-pagination-box-min-height);
	border-style: solid;
	@include tif-declaration('border-width', $tif-pagination-box-border-width);
	@include tif-declaration('border-radius', $tif-pagination-box-border-radius);
	@include tif-declaration('font-family', $tif-pagination-font-font-family);
	@include tif-declaration('font-size', $tif-pagination-font-font-size);
	@include tif-declaration('font-weight', $tif-pagination-font-font-weight);
	@include tif-declaration('font-style', $tif-pagination-font-font-style);
	@include tif-declaration('text-transform', $tif-pagination-font-text-transform);
	@include tif-declaration('letter-spacing', $tif-pagination-font-letter-spacing);
	position: relative;
	z-index: 1;
}
ul.numered li .dots {
	min-width: 30px;
}
ul.numered li span.dots {
	border-width: 0;
}
