
/* ----------------------------- */
/* Tif Paragraph                 */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	p.has-background {
		padding: $spacer-medium $spacer-medium-plus;
	}

}
