
@if variable_exists(tif-post-header) {

/* ----------------------------- */
/* Tif Extend Css : Custom Post Header  */
/* ----------------------------- */

@import '../abstracts/_mixins';

	.tif-post-header .tif-cover .wrap-content {
		@include tif-declaration('align-items', $tif-post-header-box-alignment-align-items);
		@include tif-declaration('justify-content', $tif-post-header-box-alignment-justify-content);
		@include tif-declaration('gap', $tif-post-header-box-alignment-gap);
		@if $tif-post-header-box-alignment-align-items == "center" {
			text-align: center;
		} @else if $tif-post-header-box-alignment-align-items == "end" {
			text-align: right;
		} @else {
			text-align: left;
		}
	}
	.tif-post-header .tif-cover .wrap-content .flex {
		@include tif-declaration('justify-content', $tif-post-header-box-alignment-align-items);
	}
	.tif-post-header .tif-cover .wrap-content .tif-title-bar {
		text-align: initial;
	}
	.tif-post-header .tif-cover .wrap-content .tif-title-bar .tif-breadcrumb ol {
		justify-content: flex-end;
	}

	@media (min-width: $large) {

		@if $tif-post-header-site-content-box-margin-top {

			.header-secondary:has(> .tif-post-header) {
				padding-bottom: #{($tif-post-header-site-content-box-margin-top * -1)+$spacer-medium};
			}
			.header-secondary:has(> .tif-post-header) + .site-content {
				margin-top: #{$tif-post-header-site-content-box-margin-top};
			}
			.header-secondary:has(> .tif-post-header) + .site-content > div {
				position: relative;
				@if $tif-post-header-site-content-box-margin-top {
					@include tif-declaration('padding', $tif-post-header-site-content-box-padding);
					padding-top: 0;
					padding-bottom: 0;
				}
				z-index: 2;
			}

		}

	}

}
