
/* ----------------------------- */
/* Tif Entry Related             */
/* ----------------------------- */

@import '../abstracts/_mixins';

.related-loop {
	gap: $tif-post-related-box-alignment-gap;
}
.wrap-post-related article.alignwide .inner {
	padding: $spacer-medium;
}
