
/* ----------------------------- */
/* Tif Entry Biography           */
/* ----------------------------- */

.post-author {
	align-self: stretch;
	gap: $gap-small
}
.post-author img.avatar {
	border: 3px solid #e3e3e3;
	border-radius: 50%;
}
.post-author .biography {
	flex: 1;
	display: grid;
}
.post-author .description {
	font-size: var(--tif-small-font-size);
	opacity: 0.7;
}
