
/* ----------------------------- */
/* Tif Entry Related             */
/* ----------------------------- */

@import '../abstracts/_mixins';

.child-loop {
	gap: $tif-post-child-box-alignment-gap;
}
.wrap-post-child article.alignwide .inner {
	padding: $spacer-medium;
}
