
/* ----------------------------- */
/* Tif Entry Taxonomies          */
/* ----------------------------- */

@import '../abstracts/_mixins';

.entry-categories ul {
	gap: $tif-post-categories-box-alignment-gap;
	margin: 0;
}
.entry-categories li {
	padding: 2px 5px;
	border-style: solid;

	@include tif-declaration('border-width', $tif-post-categories-box-border-width);
	@include tif-declaration('border-radius', $tif-post-categories-box-border-radius);

	@include tif-declaration('font-family', $tif-post-categories-font-font-family);
	@include tif-declaration('font-size', $tif-post-categories-font-font-size);
	@include tif-declaration('font-weight', $tif-post-categories-font-font-weight);
	@include tif-declaration('font-style', $tif-post-categories-font-font-style);
	@include tif-declaration('text-transform', $tif-post-categories-font-text-transform);
	@include tif-declaration('line-height', $tif-post-categories-font-line-height);
	@include tif-declaration('letter-spacing', $tif-post-categories-font-letter-spacing);
}

.entry-tags ul {
	gap: $tif-post-tags-box-alignment-gap;
	margin: 0;
}
.entry-tags li {
	border-style: solid;

	@include tif-declaration('border-width', $tif-post-tags-box-border-width);
	@include tif-declaration('border-radius', $tif-post-tags-box-border-radius);

	@include tif-declaration('font-family', $tif-post-tags-font-font-family);
	@include tif-declaration('font-size', $tif-post-tags-font-font-size);
	@include tif-declaration('font-weight', $tif-post-tags-font-font-weight);
	@include tif-declaration('font-style', $tif-post-tags-font-font-style);
	@include tif-declaration('text-transform', $tif-post-tags-font-text-transform);
	@include tif-declaration('line-height', $tif-post-tags-font-line-height);
	@include tif-declaration('letter-spacing', $tif-post-tags-font-letter-spacing);
}
