
/* ----------------------------- */
/* Tif Comments                  */
/* ----------------------------- */

.comments-area ol {
	list-style: none;
}
.comments-area a {
	padding: 0;
}
.comments-area article {
	display: flex;
	flex-direction: column;
	gap: $gap-small;
	border-width: 1px;
	border-style: solid;
}
.comments-list li + li,
.comments-list .children {
	margin-top: $spacer-small;
}
.comment-meta,
.comment-author,
.comment-metadata,
.comments-area .reply,
.comment-respond {
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
	gap: $gap-small;
}
.comment-meta,
.comment-metadata {
	justify-content: space-between;
	align-items: center;
}
.comment-metadata {
	font-size: var(--tif-small-font-size);
}
.comments-area .logged-in-as {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: transparent;
}
.comments-area .logged-in-as span {
	color: initial;
	flex-basis: 100%;
}
.comment-author {
	align-items: center;
}
.comments-area .reply {
	justify-content: flex-end;
	padding-top: $spacer-small;
}
.comment-respond {
	flex-direction: column;
}
.comment-author img {
	border-radius: 50%;
}
.comment-body  {
	padding: $spacer-small;
}
.comments-area .comment-reply-title {
	display: flex;
	justify-content: space-between;
}
@media (min-width: $small) {
	.comment-author {
		flex-basis: 45%;
		justify-content: flex-start;
	}
	.comment-metadata {
		flex-basis: 45%;
		justify-content: flex-end;
	}
	.comment-content {
		padding: $spacer-small 42px;
	}
}
