
/* ----------------------------- */
/* Tif Entry Meta                */
/* ----------------------------- */

.entry-meta {
	font-size: var(--tif-small-font-size);
	gap: 5px;
	align-items: center;
	flex-wrap: wrap;
}
.entry-meta img.avatar {
	border: 2px solid #e3e3e3;
	border-radius: 50%;
	width: 36px;
	margin: 2px 0;
}
