
/* ----------------------------- */
/* Tif Quotes                    */
/* ----------------------------- */

@import '../abstracts/_mixins';

blockquote {
	position: relative;
	padding: $spacer-medium-plus;
	padding-left: 3.75rem;
	margin: $spacer-small 0;
	min-height: 2em;
	border-style: solid;

	box-shadow: $tif-quotes-box-box-shadow;
	@include tif-declaration('border-width', $tif-quotes-box-border-width);
	@include tif-declaration('border-radius', $tif-quotes-box-border-radius);

	@include tif-declaration('font-family', $tif-quotes-font-font-family);
	@include tif-declaration('font-size', $tif-quotes-font-font-size);
	@include tif-declaration('font-weight', $tif-quotes-font-font-weight);
	@include tif-declaration('font-style', $tif-quotes-font-font-style);
	@include tif-declaration('text-transform', $tif-quotes-font-text-transform);
	@include tif-declaration('line-height', $tif-quotes-font-line-height);
	@include tif-declaration('letter-spacing', $tif-quotes-font-letter-spacing);
}
blockquote::before {
	content: "\201C";
	position: absolute;
	left: $spacer_small;
	top: $spacer-medium-plus;
	font-family: georgia, serif;
	font-size: 5em;
	height: .4em;
	line-height: .9;
}
blockquote > cite {
	margin-top: .75em;
	font-size: 0.9em;
	// opacity: rgba(0, 0, 0, .7);
	&::before {
		content: "\2014 \0020";
	}
}

q {
  font-style: normal;
}

q,
.q {
	quotes: "“" "”" "‘" "’";
	&:lang(fr) {
		quotes: "«\00a0" "\00a0»" "“" "”";
	}
}
