
/* ----------------------------- */
/* Tif Root                      */
/* ----------------------------- */

@import '../abstracts/_mixins';

$tif-tiny-font-font-size : remtopx($tif-tiny-font-font-size);
$tif-small-font-font-size : remtopx($tif-small-font-font-size);
$tif-normal-font-font-size : remtopx($tif-normal-font-font-size);
$tif-medium-font-font-size : remtopx($tif-medium-font-font-size);
$tif-large-font-font-size : remtopx($tif-large-font-font-size);
$tif-extra-large-font-font-size : remtopx($tif-extra-large-font-font-size);
$tif-huge-font-font-size : remtopx($tif-huge-font-font-size);

#{$tif-editor-root} {

	--tif-spacer-small: #{$spacer-small};
	--tif-spacer-medium: #{$spacer-medium};
	--tif-spacer-large: #{$spacer-large};
	--tif-tiny-font-size: #{$tif-tiny-font-font-size};
	--tif-small-font-size: #{$tif-small-font-font-size};
	--tif-normal-font-size: #{$tif-normal-font-font-size};
	--tif-medium-font-size: #{$tif-medium-font-font-size};
	--tif-large-font-size: #{$tif-large-font-font-size};
	--tif-extra-large-font-size: #{$tif-extra-large-font-font-size};
	--tif-huge-font-size: #{$tif-huge-font-font-size};

	$themeHeadings: (
	"h1": remtopx($tif-heading-font-h1-font-size),
	"h2": remtopx($tif-heading-font-h2-font-size),
	"h3": remtopx($tif-heading-font-h3-font-size),
	"h4": remtopx($tif-heading-font-h4-font-size),
	"h5": remtopx($tif-heading-font-h5-font-size),
	"h6": remtopx($tif-heading-font-h6-font-size),
	);
	@each $themeHeading, $i in $themeHeadings {
		--tif-#{$themeHeading}-font-size: calc(var(--tif-normal-font-size) + #{$i});
	}

}

@if $tif-small-font-lg-font-size or $tif-normal-font-lg-font-size or $tif-medium-font-lg-font-size or $tif-large-font-lg-font-size or $tif-huge-font-lg-font-size {
	@media (max-width: #{$large - 1}) {
		#{$tif-editor-wrap}:root {
			@if $tif-small-font-lg-font-size {
				--tif-small-font-size: #{$tif-small-font-lg-font-size};
			}
			@if $tif-normal-font-lg-font-size {
				--tif-normal-font-size: #{$tif-normal-font-lg-font-size};
			}
			@if $tif-medium-font-lg-font-size {
				--tif-medium-font-size: #{$tif-medium-font-lg-font-size};
			}
			@if $tif-large-font-lg-font-size {
				--tif-large-font-size: #{$tif-large-font-lg-font-size};
			}
			@if $tif-huge-font-lg-font-size {
				--tif-huge-font-size: #{$tif-huge-font-lg-font-size};
			}
		}
	}
}
@if $tif-small-font-sm-font-size or $tif-normal-font-sm-font-size or $tif-medium-font-sm-font-size or $tif-large-font-sm-font-size or $tif-huge-font-sm-font-size {
	@media (max-width: #{$large - 1}) {
		#{$tif-editor-wrap}:root {
			@if $tif-small-font-sm-font-size {
				--tif-small-font-size: #{$tif-small-font-sm-font-size};
			}
			@if $tif-normal-font-sm-font-size {
				--tif-normal-font-size: #{$tif-normal-font-sm-font-size};
			}
			@if $tif-medium-font-sm-font-size {
				--tif-medium-font-size: #{$tif-medium-font-sm-font-size};
			}
			@if $tif-large-font-sm-font-size {
				--tif-large-font-size: #{$tif-large-font-sm-font-size};
			}
			@if $tif-huge-font-sm-font-size {
				--tif-huge-font-size: #{$tif-huge-font-sm-font-size};
			}
		}
	}
}

@if not variable_exists(tif-is-editor-css) {
	body {
		margin: 0;
		@include tif-declaration('font-family', $tif-base-font-font-family);
		@include tif-declaration('font-size', var(--tif-normal-font-size, 1.6rem) );
		@include tif-declaration('font-weight', $tif-base-font-font-weight);
		@include tif-declaration('font-style', $tif-base-font-font-style);
		@include tif-declaration('text-transform', $tif-base-font-text-transform);
		@include tif-declaration('line-height', $tif-base-font-line-height);
		@include tif-declaration('letter-spacing', $tif-base-font-letter-spacing);
	}
} @else {
	#{$tif-editor-wrap} {
		margin: 0;
		@include tif-declaration('font-family', $tif-base-font-font-family);
		// @include tif-declaration('font-size', var(--tif-normal-font-size, 1.6rem));
		@include tif-declaration('font-weight', $tif-base-font-font-weight);
		@include tif-declaration('font-style', $tif-base-font-font-style);
		@include tif-declaration('text-transform', $tif-base-font-text-transform);
		@include tif-declaration('line-height', $tif-base-font-line-height);
		@include tif-declaration('letter-spacing', $tif-base-font-letter-spacing);
	}
}
