
/* ----------------------------- */
/* Tif Search Form               */
/* ----------------------------- */

.menu-tif-search-form {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.tif-search-form {
	display: flex;
	font-size: var(--tif-normal-font-size, 1.6rem);
}
.tif-search-form button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	min-width: 2.5rem;
	border: 0;
	border-radius: 0;
	margin: 0;
}
.tif-search-form input {
	flex: 1;
}
.tif-search-form [type="reset"] {
	opacity: 0;
	margin-left: -2.5rem;
	background-color: transparent !important;
	box-shadow: none;
}
.tif-search-form input:focus + [type="reset"] {
	opacity:.8;
}
