
/* ----------------------------- */
/* Tif Share Links         */
/* ----------------------------- */

@import '../abstracts/_mixins';

.entry-share-links ul {
	@include tif-declaration('gap', $tif-post-share-box-alignment-gap);
	width: 100%;
	justify-content: start;
}
.entry-share-links ul li {
	@include tif-declaration('flex-basis', $tif-post-share-box-alignment-flex-basis);
	border-width: $tif-post-share-box-border-width;
	border-radius: $tif-post-share-box-border-radius;
}
@media (min-width: $large) {
	.entry-share-links {
		display: flex;
		flex-direction: $tif-post-share-container-box-alignment-flex-direction;
		align-items: $tif-post-share-container-box-alignment-align-items;
		@include tif-declaration('gap', $tif-post-share-container-box-alignment-gap);
	}
	.entry-share-links ul {
		flex-grow: 1;
		justify-content: $tif-post-share-box-alignment-justify-content;
		@include tif-declaration('gap', $tif-post-share-box-alignment-gap);
	}
}
@media (max-width: #{$small - 1}) {
	.entry-share-links ul.tif-social-links {
		flex-wrap: wrap;
	}
}
