
/* ----------------------------- */
/* Tif SideBar                   */
/* ----------------------------- */

@import '../abstracts/_mixins';

.sidebar .widget-title {
	display: flex;
	height: 2.75rem;
	align-items: center;
}

@if variable_exists(tif-sidebar-font) {
	.sidebar {
		@include tif-declaration('font-family', $tif-sidebar-font-font-family);
		@include tif-declaration('font-size', $tif-sidebar-font-font-size);
		@include tif-declaration('font-weight', $tif-sidebar-font-font-weight);
		@include tif-declaration('font-style', $tif-sidebar-font-font-style);
		@include tif-declaration('text-transform', $tif-sidebar-font-text-transform);
		@include tif-declaration('line-height', $tif-sidebar-font-line-height);
		@include tif-declaration('letter-spacing', $tif-sidebar-font-letter-spacing);
	}
}
@if variable_exists(tif-sidebar-heading-font) {
	.sidebar .widget-title {
		@include tif-declaration('font-family', $tif-sidebar-heading-font-font-family);
		@include tif-declaration('font-size', $tif-sidebar-heading-font-font-size);
		@include tif-declaration('font-weight', $tif-sidebar-heading-font-font-weight);
		@include tif-declaration('font-style', $tif-sidebar-heading-font-font-style);
		@include tif-declaration('text-transform', $tif-sidebar-heading-font-text-transform);
		@include tif-declaration('line-height', $tif-sidebar-heading-font-line-height);
		@include tif-declaration('letter-spacing', $tif-sidebar-heading-font-letter-spacing);
	}
}
@media (min-width: $large) {
	.sidebar,
	.sidebar.tif-toggle-box .toggle-content > .inner{
		display: flex;
		flex-direction: column;
		@include tif-declaration('gap', $tif-sidebar-box-alignment-gap);
	}

	// Sidebar toogle as one
	.sidebar.tif-toggle-box .tif-toggle-label {
		visibility: hidden;
	}

}
@media (max-width: #{$large - 1}) {
	.sidebar .widget {
		background:transparent !important;
		color: inherit !important;
	}
	.sidebar .widget a,
	.sidebar .widget a:active,
	.sidebar .widget a:focus,
	.sidebar .widget a:hover,
	.sidebar .widget a:visited {
		color: inherit !important;
	}

	// Sidebar toogle as one
	.sidebar.tif-toggle-box {
		padding: $spacer-medium-plus
	}
	.sidebar.tif-toggle-box .widget {
		padding: $spacer-none
	}

}
