
/* ----------------------------- */
/* Tif Smooth Boxes              */
/* ----------------------------- */

@import '../abstracts/_mixins';

html.tif.smooth-content {
	scroll-behavior: smooth;
}

.tif-smooth-scroll {
	overflow-x: auto;
	white-space: nowrap;
}
.tif-smooth-scroll.x {
	scroll-snap-type: x mandatory;
}
.tif-smooth-scroll.y {
	scroll-snap-type: y mandatory;
}
.tif-smooth-scroll .smooth-content {
	scroll-behavior: smooth;
}
.tif-smooth-scroll .smooth-content > * {
	scroll-snap-align: start;
}
.tif-smooth-scroll.x .smooth-content {
	min-width: $tif-width-primary;
}

@media (max-width: #{$large - 1}) {
	.lg\:tif-smooth-scroll {
		overflow-x: auto;
		// white-space: nowrap;
	}
	.lg\:tif-smooth-scroll.x {
		scroll-snap-type: x mandatory;
	}
	.lg\:tif-smooth-scroll.y {
		scroll-snap-type: y mandatory;
	}
	.lg\:tif-smooth-scroll .smooth-content {
		scroll-behavior: smooth;
	}
	.lg\:tif-smooth-scroll .smooth-content > * {
		scroll-snap-align: start;
	}
	.lg\:tif-smooth-scroll.x .smooth-content {
		min-width: $large;
	}

	// not yet ready
	// .lg\:tif-smooth-scroll.x {
	// 	background-image:
	// 		linear-gradient(to right, white, white),
	// 		linear-gradient(to right, white, white),
	// 		linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0)),
	// 		linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0));
	// 	background-position:
	// 		left center,
	// 		right center,
	// 		left center,
	// 		right center;
	// 	background-repeat: no-repeat;
	// 	background-color: white;
	// 	background-size:
	// 		20px 100%,
	// 		20px 100%,
	// 		10px 100%,
	// 		10px 100%;
	// 	background-attachment: local, local, scroll, scroll;
	// }

}
