
/* ----------------------------- */
/* Tif Social Links              */
/* ----------------------------- */

ul.tif-social-links {
	position:relative;
	display: flex;
	// justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
}
@media (max-width: #{$large - 1}) {
	ul.tif-social-links li {
		min-width: 3.125rem;
		min-height: 3.125rem;
		font-size: 1.125rem;
	}
}

li.social button,
li.social-hover button:hover,
li.social a,
li.social a:hover,
li.social-hover a:hover {
	color: #fff !important;
}

/* @link https://pinetools.com/darken-color */
/* to get a 20% color darker (border color) */
$networks: (
	// network-enabled      :(network,bgcolor,bgcolor_hover,bdcolor)
	// shaarli
	tif-shaarli-enabled     :(shaarli, #2EA609, #2EA609, #248407),
	// fediverse
	tif-diaspora-enabled    :(diaspora, #000000, #000000, #333333),
	tif-mastodon-enabled    :(mastodon, #3088d4, #3088d4, #236cac),
	tif-pleroma-enabled     :(pleroma, #fba457, #fba457, #f98014),
	tif-pixelfed-enabled    :(pixelfed, #6736dd, #6736dd, #4d1fbc),
	tif-peertube-enabled    :(peertube, #f1680d, #f1680d, #c0530a),
	tif-funkwhale-enabled   :(funkwhale, #009fe3, #009fe3, #007fb5),
	tif-friendica-enabled   :(friendica, #ffb900, #ffb900, #7f5c00),
	tif-social-home-enabled :(social-home, #2fcbbe, #2fcbbe, #17655f),
	tif-hubzilla-enabled    :(hubzilla, #43488a, #43488a, #212445),
	tif-gnu-social-enabled  :(gnu-social, #a22430, #a22430, #501217),
	// others
	tif-facebook-enabled    :(facebook, #3e5c9a, #3e5c9a, #31497b),
	tif-twitter-enabled     :(twitter, #1da1f2, #1da1f2, #0b83cd),
	tif-tripadvisor-enabled :(tripadvisor, #589442, #589442, #467634),
	tif-linkedin-enabled    :(linkedin, #0177B5, #0177B5, #005f90),
	tif-viadeo-enabled      :(viadeo, #EE7600, #EE7600, #be5e00),
	tif-pinterest-enabled   :(pinterest, #CA2128, #CA2128, #a11a20),
	tif-youtube-enabled     :(youtube, #D62424, #D62424, #ab1c1c),
	tif-vimeo-enabled       :(vimeo, #17B3E8, #17B3E8, #128fb9),
	tif-flickr-enabled      :(flickr, #3F84E1, #3F84E1, #1f66c7),
	tif-dribbble-enabled    :(dribbble, #E24D87, #E24D87, #d02165),
	tif-tumblr-enabled      :(tumblr, #3A4E67, #3A4E67, #2e3e52),
	tif-instagram-enabled   :(instagram, #517FA4, #517FA4, #406583),
	tif-lastfm-enabled      :(lastfm, #E31C23, #E31C23, #b5161c),
	tif-soundcloud-enabled  :(soundcloud, #FF5419, #FF5419, #e03900),
	tif-rss-enabled         :(rss, #FF9900, #FF9900, #cc7a00),
	tif-envelope-o-enabled  :(envelope-o, #999999, #999999, #7a7a7a),
);

/* Test loop social link */
@each $network, $value in $networks {
	$bgcolor: nth($value, 2);
	$bgcolor-hover: nth($value, 3);
	$bdcolor: nth($value, 4);
	@if variable_exists($network){
		li.social.#{nth($value, 1)} {
			background:$bgcolor;
			border-color: $bdcolor;
		}
		li.social-hover.#{nth($value, 1)}:hover {
			background:$bgcolor-hover !important;
		}
	}
}
