
/* ----------------------------- */
/* Tif Square Icons              */
/* ----------------------------- */

.tif-square-icon {
	border-style: solid;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}
.tif-square-icon > a,
.tif-square-icon > button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100% !important;
	text-decoration: none;
	flex: 1 1 auto;
}
.tif-square-icon.tiny {
	min-width: 1.825rem;
	min-height: 1.825rem;
	font-size: .700rem;
}
.tif-square-icon.small {
	min-width: 2rem;
	min-height: 2rem;
	font-size: .875rem;
}
.tif-square-icon.medium {
	min-width: 2.5rem;
	min-height: 2.5rem;
	font-size: 1rem;
}
.tif-square-icon.large {
	min-width: 3rem;
	min-height: 3rem;
	font-size: 1.125rem;
}
.tif-square-icon.xlarge {
	min-width: 3.825rem;
	min-height: 3.825rem;
	font-size: 1.3rem;
}
