
/* ----------------------------- */
/* Tif Sticky buttons            */
/* ----------------------------- */

.tif-sticky-buttons * {
	margin: 0;
	padding: 0;
}
.tif-sticky-buttons {
	position: fixed;
	display: flex;
	flex-direction: column;
	gap: $gap-tiny;
	bottom: 0;
	right: 0;
	margin: $spacer-medium;
	z-index: 10000;
}
.tif-modal-is-open .tif-sticky-buttons {
	z-index: 9990;
}
.rtl .tif-sticky-buttons {
	right: unset;
	left: 0;
}
.tif-sticky-buttons.tif-debug-button {
	z-index: 10000;
}
.tif-sticky-buttons.top {
	top: 0;
	bottom: unset;
}
.tif-sticky-buttons button,
.tif-sticky-buttons a.btn {
	position: relative;
	display: grid;
	place-content: center;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	border: 0;
	padding: 0;
	margin: 0;
	box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.35);
}

@media (max-width: #{$large - 1}) {

	.woocommerce .tif-sticky-buttons {
		bottom: 68px;
	}

}
