
/* ----------------------------- */
/* Tif Entry Content             */
/* ----------------------------- */

.site-main article.sticky .entry-title,
.site-main article.category-sticky .entry-title {
	position: relative;
	padding-right: $spacer-medium;
}
.site-main article.sticky .entry-title::before,
.site-main article.category-sticky .entry-title::before {
	content: "\f08d";
	font-family: Forkawesome;
	position: absolute;
	right: 0;
	transform: rotate(25deg);
	font-size: var(--tif-small-font-size);
	color: #cecece;
}
