
/* ----------------------------- */
/* Tif Tabs                      */
/* ----------------------------- */

/* tabs flex layout */
.tif-tabs {
	display: flex;
	flex-wrap: wrap;
}
.tif-tabs .tab-label {
	order: -1;
	line-height: 2.5rem;
	text-align: center;
	border: 0;
	border-radius: 0;
	padding: 0 $spacer-medium;
	margin: 0;
}
.tif-tabs .tab-content {
	flex-basis: 100%;
	visibility: hidden;
	height: 0;
	width: 0;
	overflow: hidden;
}
.tif-tabs .tab-label.open + .tab-content,
.tif-tabs input[type="radio"]:checked + .tab-label + .tab-content {
	visibility: visible;
	height: auto;
	width: auto;
	padding: 10px 0;
}
/* tabs FO layout */
.tif-tabs.count-1 .tab-label {
	display: none;
}
.tif-tabs.count-2 .tab-label {
	width: 50%;
}
.tif-tabs.count-3 .tab-label {
	width: calc(100% / 3);
}
.tif-tabs.count-4 .tab-label {
	width: 25%;
}
.tif-tabs.count-5 .tab-label {
	width: 20%;
}
.tif-tabs.count-6 .tab-label {
	width: calc(100% / 6);
}
.tif-tabs.count-7 .tab-label {
	width: calc(100% / 7);
}
.tif-tabs.count-8 .tab-label {
	width: calc(100% / 8);
}
.tif-tabs.count-9 .tab-label {
	width: calc(100% / 9);
}
