
/* ----------------------------- */
/* Tif Tables                    */
/* ----------------------------- */

table {
	width: 100%;
	margin-bottom: $spacer-medium;
	overflow-x: auto;
}
table th,
table td {
	text-align: left;
	padding: $spacer-small;
}
table.alignleft,
table.aligncenter,
table.alignright {
	display: table;
	width: auto;
}
table.alignleft td,
table.alignleft th,
table.aligncenter td,
table.aligncenter th,
table.alignright td,
table.alignright th {
	word-break: break-word;
}
