
/* ----------------------------- */
/* Tif Taxonomy                  */
/* ----------------------------- */

@import '../abstracts/_mixins';

.taxonomy-header .inner {
	display: grid;
	gap: $gap-large;
}
.taxonomy-header .taxonomy-thumbnail img {
	width: 100%;
}
.taxonomy-header p {
	margin: 0;
}
