
/* ----------------------------- */
/* Tif Tag CLoud                 */
/* ----------------------------- */

@import '../abstracts/_mixins';

.tif-tax-list {
	align-items: center;
}
.tif-tax-list li {
	padding: 2px 5px !important;
	border-width: 0;
	border-style: solid;
}
.tif-tax-list sup.count {
	white-space: nowrap;
}
.tif-tax-list sup.count::before {
	content: "("
}
.tif-tax-list sup.count::after {
	content: ")"
}

/* Tags cloud */
ul.tif-cloud {
	display: flex;
	flex-wrap: wrap;
}
ul.tif-cloud li {
	align-self: center;
}
