
/* ----------------------------- */
/* Tif Thumbnail                 */
/* ----------------------------- */

.entry-thumbnail,
.entry-thumbnail img {
	width: 100%;
}
.entry-thumbnail .thumbnail {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.entry-thumbnail .thumbnail::before {
	position: absolute;
	text-align: center;
	font-family: Forkawesome;
	content: "\f03e";
	font-size: 1.875rem;
	z-index: 2;
}
.entry-thumbnail .thumbnail img {
	z-index: 3;
}
.entry-thumbnail .thumbnail img.blank-thumbnail {
	z-index: 1;
}
