
/* ----------------------------- */
/* Tif Title-Bar                 */
/* ----------------------------- */

@import '../abstracts/_mixins';

.tif-title-bar > .inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: $spacer-medium-plus;
}
@if variable_exists(tif-title-bar-font) {
	.tif-title-bar h1,
	.tif-title-bar .page-title {
		@include tif-declaration('font-family', $tif-title-bar-font-font-family);
		@include tif-declaration('font-size', $tif-title-bar-font-font-size);
		@include tif-declaration('font-weight', $tif-title-bar-font-font-weight);
		@include tif-declaration('font-style', $tif-title-bar-font-font-style);
		@include tif-declaration('text-transform', $tif-title-bar-font-text-transform);
		@include tif-declaration('line-height', $tif-title-bar-font-line-height);
		@include tif-declaration('letter-spacing', $tif-title-bar-font-letter-spacing);
	}
}
.tif-title-bar h1,
.tif-title-bar .h1-like,
.tif-title-bar .tif-breadcrumb ol {
	padding: 0;
	margin: 0;
}

@media (min-width: $large) {
	.tif-title-bar.has-widget {
		width: 100%;
	}
	.tif-title-bar.has-widget .page-title,
	.tif-title-bar.has-widget .entry-title {
		flex: 2;
	}
	.tif-title-bar.has-widget .widget-area {
		flex: 1;
	}
	.tif-title-bar.has-widget .widget,
	.tif-title-bar.has-widget .tif-breadcrumb ol {
		justify-content: flex-end;
	}
}
