
/* ----------------------------- */
/* Tif Toggle Box                 */
/* ----------------------------- */

html.tif-modal-is-open {
	overflow: hidden;
}
.tif-toggle-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.tif-toggle-box .tif-toggle-label {
	display: grid;
	place-content: center;
	border-width: 0;
	border-radius: 0;
	padding: 0;
}
.tif-toggle-box .tif-toggle-label.has-title {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.tif-toggle-box .toggle-content {
	flex-basis: 100%;
}
.tif-toggle-box .toggle-content > .inner {
	margin: auto;
}
.tif-toggle-box > .toggle-content {
	height: 0;
	opacity: 0;
	overflow: hidden;
	visibility: hidden;
}
.tif-toggle-box > .toggle-content.open,
.tif-toggle-box.open > .toggle-content,                                         // used for tif-debug-alerts-container
.tif-toggle-box > input[type="checkbox"]:checked ~ .toggle-content {
	height: initial;
	opacity: 1;
	visibility: visible;
}
.tif-toggle-box .tif-toggle-label {
	width: 2.75rem;
	height: 2.75rem;
}
.tif-toggle-box .tif-toggle-label::after {
	content: "\002B";
	font-family: ForkAwesome;
	font-size: 1.5rem;
	align-self: center;
}
.tif-toggle-box > .tif-toggle-label[aria-expanded="true"]::after,
.tif-toggle-box > input[type="checkbox"]:checked ~ .tif-toggle-label::after {
	content: "\2212";
}

// Modal Toggle Box
.tif-toggle-box.is-modal > .toggle-content,
.tif-toggle-box.is-modal input[type="checkbox"]:not(:checked) ~ .inner.toggle-content {
	position: fixed;
	left: -100vw;
	width: 100vw;
	height: 100vh !important;
	z-index: 10000;
	opacity: 1;
	overflow: visible;
	visibility: visible;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4vh;
}
.tif-toggle-box.is-modal .toggle-content .tif-form input:not([type='checkbox']),
.tif-toggle-box.is-modal .toggle-content .tif-form button {
	width: 100%;
}
.tif-toggle-box.is-modal > .toggle-content.open,
.tif-toggle-box.is-modal > input[type="checkbox"]:checked ~ .toggle-content {
	top: 0;
	left: 0;
}
.tif-toggle-box.is-modal:not(.left) > .toggle-content.open,
.tif-toggle-box.is-modal:not(.left) > input[type="checkbox"]:checked ~ .toggle-content {
	right: 0;
}
.tif-toggle-box.is-modal .toggle-content.open > *,
.tif-toggle-box.is-modal > input[type="checkbox"]:checked ~ .toggle-content > * {
	max-width: 500px;
}

// BEGIN Tif Modal Slider Left
.tif-toggle-box.is-modal.left > .inner.toggle-content:not(.open),
.tif-toggle-box.is-modal input[type="checkbox"]:not(:checked) ~ .inner.toggle-content {
	-webkit-transition:left 1s ease;
			transition:left 1s ease;
}
.tif-toggle-box.is-modal.left > .inner.toggle-content.open,
.tif-toggle-box.is-modal input[type="checkbox"]:checked ~ .inner.toggle-content {
	-webkit-transition:left 500ms ease;
			transition:left 500ms ease;
}
.tif-toggle-box.is-modal.left > .inner.toggle-content:not(.open) ul.menu
.tif-toggle-box.is-modal input[type="checkbox"]:not(:checked) ~ .inner.toggle-content ul.menu {
	-webkit-transform:translateX(-100vw);
			transform:translateX(-100vw);
	-webkit-transition:-webkit-transform 500ms ease;
			transition:transform 500ms ease;
}
.tif-toggle-box.is-modal.left > .inner.toggle-content.open ul.menu,
.tif-toggle-box.is-modal input[type="checkbox"]:checked ~ .inner.toggle-content ul.menu {
	-webkit-transform:translateX(0px) scale(1);
			transform:translateX(0px) scale(1);
	-webkit-transition:-webkit-transform 1s ease;
			transition:transform 1s ease;
}
// END Tif Modal Slider Left

// BEGIN No Open/Fixed Close Button
.tif-toggle-box.no-open-button .tif-toggle-label::after,
.tif-toggle-box.no-open-button > input[type="checkbox"]:checked ~ .tif-toggle-label::after {
	content: "";
}
.tif-toggle-box.has-fixed-close-button > .tif-toggle-label[aria-expanded="true"]::after,
.tif-toggle-box.has-fixed-close-button > input[type="checkbox"]:checked ~ .tif-toggle-label::after {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10001;
	width: 2.75rem;
	height: 2.75rem;
	content: "\f00d";
	margin: $spacer-medium-plus;
	padding: $spacer-medium-plus;
	font-size: var(--tif-large-font-size);
	color: #fff;
}
.admin-bar .tif-toggle-box.has-fixed-close-button > .tif-toggle-label[aria-expanded="true"]::after {
	top: 32px !important;
}
// END No Open/Fixed Close Button

@media (min-width: $large) {
	.tif-toggle-box .tif-toggle-label {
		width: initial;
		height: initial;
	}
	.lg\:untoggle > .toggle-content,
	.lg\:untoggle > input[type="checkbox"]:not(:checked) ~ .toggle-content {
		height: initial;
		opacity: 1;
		visibility: visible;
		overflow: visible;
	}
	.lg\:untoggle > .tif-toggle-label.has-title::after,
	.lg\:untoggle > .tif-toggle-label:not(.has-title) {
		position: absolute;
		left: -9999999px;
		visibility: hidden;
	}
	.lg\:untoggle.is-modal > .toggle-content,
	.lg\:untoggle.is-modal input[type="checkbox"]:not(:checked) ~ .inner.toggle-content {
		position: relative;
		left: 0;
		width: 100%;
		height: initial !important;
		z-index: 10000;
		opacity: 1;
		overflow: visible;
		visibility: visible;
		display: flex;
		flex-direction: initial;
		justify-content: initial;
		align-items: initial;
		gap: initial;
	}
	.lg\:untoggle.is-modal > .inner.toggle-content * {
		-webkit-transform:translateX(0px);
				transform:translateX(0px);
	}
}
