
/* ----------------------------- */
/* Tif Togglebox Header          */
/* ----------------------------- */

@import '../abstracts/_mixins';

@media (max-width: #{$large - 1}) {

	.nav-primary-toggle-label,
	.header.widget-area > .tif-toggle-label {
		position: absolute;
		top: $tif-branding-box-mobile-padding-top;
	}

	.home .nav-primary-toggle-label,
	.home .header.widget-area > .tif-toggle-label {
		top: $tif-home-branding-box-mobile-padding-top;
	}

	.nav-primary-toggle-label {
		@include tif-declaration($tif-main-nav-mobile-burger-align, .6rem)
	}
	.header.widget-area .tif-toggle-label-1 {
		@include tif-declaration($tif-header-widget-area-toggle-label-align, .6rem)
	}
	.header.widget-area .tif-toggle-label-2 {
		@include tif-declaration($tif-header-widget-area-toggle-label-align, 3.4rem)
	}
	.header.widget-area .tif-toggle-label-3 {
		@include tif-declaration($tif-header-widget-area-toggle-label-align, 6.2rem)
	}
	.header.widget-area .tif-toggle-label-4 {
		@include tif-declaration($tif-header-widget-area-toggle-label-align, 9rem)
	}

	.site-header .tif-toggle-label {
		z-index: 9999;
	}
	.tif-modal-is-open .site-branding,
	.tif-modal-is-open .site-header .tif-toggle-label,
	.site-header .tif-toggle-box.is-modal > input[type="checkbox"]:checked ~ .tif-toggle-label {
		z-index: 10001;
	}
	.site-header .widget-area .widget.block .tif-toggle-label,
	.site-header .widget-area.block .tif-toggle-label {
		z-index: 10000;
	}
	.header.widget-area > .tif-toggle-label::after{
		content: "\f142";
	}
	.tif-nav.tif-toggle-box .nav-primary-toggle-label.tif-toggle-label::after {
		content: "\f0c9";
	}
	.header.widget-area.tif-toggle-box > .tif-toggle-label[aria-expanded="true"]::after,
	.header.widget-area input[type="checkbox"]:checked ~ .tif-toggle-label::after,
	.tif-nav.tif-toggle-box .nav-primary-toggle-label.tif-toggle-label[aria-expanded="true"]::after,
	.tif-nav.tif-toggle-box input[type="checkbox"]:checked ~ .nav-primary-toggle-label::after {
		content: "\f00d";
	}

	// Important:
	// prevent .site-branding goes above .main-navigation when the
	// padding-bottom value is high.
	// Hum... Seems useless... 🤔
	// .tif-modal-is-open .site-header > .inner {
	// 	padding-bottom: $tif-branding-box-mobile-padding-bottom !important;
	// }
	// .tif-modal-is-open .home .site-header > .inner {
	// 	padding-bottom: $tif-home-branding-box-mobile-padding-bottom !important;
	// }
	// .tif-modal-is-open .site-branding {
	// 	padding-bottom: 0 !important;
	// }

}
