
/* ----------------------------- */
/* Tif Widgets                   */
/* ----------------------------- */

@media (max-width: #{$large - 1}) {

	.header.widget-area {
		padding: 0;
		margin: 0 -#{$spacer-medium-plus};
	}

}
@media (min-width: $large) {

	.header.widget-area {
		z-index: 10001;
	}

	.header.widget-area,
	.header.widget-area > .toggle-content > .inner {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		gap: $gap-large;
	}

}
