
/* ----------------------------- */
/* WP Blocks Editor              */
/* ----------------------------- */
@import '../abstracts/_mixins';

#start-resizable-editor-section,
#end-resizable-editor-section {
	display: none;
}
#{$tif-editor-wrap} {

	* {
		box-sizing: border-box
	}

	// .block-editor-default-block-appender {
	//   max-width: 774px;
	// }
	// p.block-editor-default-block-appender__content,
	// .editor-post-title__input,
	// .is-root-container > .wp-block {
	// 	margin: 10px auto;
	// 	padding: 16px;
	// 	max-width: 774px;
	// }
	// .is-root-container > ul.wp-block,
	// .is-root-container > ol.wp-block {
	// 	box-sizing: border-box;
	// 	padding-left: 32px;
	// }
	.wp-block {
		padding: $spacer-small;
	}
	.is-root-container > .wp-block:hover,
	.is-root-container > .wp-block:focus {
		background: #f7f7f7;
	}

}

// // Add bloc button alignment
// p.block-editor-default-block-appender__content + .components-dropdown.block-editor-inserter,
// .block-editor-block-list__empty-block-inserter.block-editor-block-list__empty-block-inserter,
// .block-editor-default-block-appender .block-editor-inserter {
// 	padding: 16px;
// 	right: 0px;
// }
