.site-title .customize-partial-edit-shortcut button,
.widget .customize-partial-edit-shortcut button,
.customize-partial-edit-shortcut button {
	font-size: 1rem !important;
}

a[rel~="external"]::after {
	content: "\f08e";
	display: inline-block;
	font-family: ForkAwesome;
	font-size: 0.85em;
	padding-left: 3px;
}
.tif-debug-alert {
	background-color: #e7e9ed;
	border-width: 0;
	color: #212529;
	opacity: 1;
	position: relative;
}
.tif-debug-alert p {
	margin: .5rem 0;
}
.tif-debug-alert--info {
	background-color: #d8ffff;
	border-color: #abffff;
	color: #2d606f;
}
.tif-debug-alert--warning {
	background-color: #fff9d3;
	border-color: #fffd9e;
	color: #785627;
}
.tif-debug-alert--danger {
	background-color: #ffd5d3;
	border-color: #ffa39f;
	color: #6c2927;
}

/* Debugs alerts */
.tif-debug-alerts-container {
	height:0;
	left: -1000px;
	overflow: hidden;
	position: absolute;
	top: -1000px;
}
.tif-debug-alerts-container a:link,
.tif-debug-alerts-container a:active,
.tif-debug-alerts-container a:focus,
.tif-debug-alerts-container a:hover,
.tif-debug-alerts-container a:visited {
	color: #1a1a1a;
}
.tif-debug-alerts-container.open {
	height: auto;
	left: 0;
	position: relative;
	top: 0;
}
.tif-debug-alerts-container.open .customizer-link {
	display: flex;
	font-size: small;
	line-height: 1rem;
	margin: 0 3rem;
	opacity: .6;
	padding: 1.25rem 0;
	position: absolute;
	right: 1.25rem;
	top: .5rem;
	z-index: 999;
}
.rtl .tif-debug-alerts-container.open .customizer-link {
	left: 1.25rem;
	right: unset;
}
.tif-debug-alerts-container #tif-debug-alerts-label {
	border: 0;
	border-radius: 50%;
	display: flex;

	display: grid;
	flex-direction: column;
	height: 2.5rem;
	margin: 1rem;
	padding: 0;
	place-content: center;
	position: fixed;
	right: 0;
	top: 32px;
	width: 2.5rem;
	z-index: 9998;
	box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.35);
}
.rtl .tif-debug-alerts-container #tif-debug-alerts-label {
	left: 0;
	position: fixed;
	right: unset;
}
.tif-debug-alerts-container.open #tif-debug-alerts-label {
	position: absolute;
	top: 0;
}

@media (max-width: 991px) {
	.tif-debug-alerts-container {
		display: none !important;
	}
}
.tif-debug-alerts-container div .inner {
	font-size: .875rem;
	padding: .225rem 1.25rem;
	padding-right: 15rem;
}
.rtl .tif-debug-alerts-container div .inner {
	font-size: .875rem;
	padding: .225rem 1.25rem;
	padding-left: 15rem;
}

/* Fixed button */
a.btn .tif-bubble-info,
button .tif-bubble-info {

	-webkit-transform:scale(0) rotate(-12deg);

	-webkit-transition:all .25s;
	/* z-index: 999; */

	background:rgba(231, 231, 231,1);
	border: 1px solid #cecece;
	border-radius: 6px;
	bottom: -0.3rem;
	color: #000;
	font-size: small;
	font-weight: normal;
	line-height: 1.5;
	max-width: 350px;
	min-width: 250px;

	opacity:1;
	/* z-index: 1; */
	opacity: 0;

	padding: .85rem;
	position: absolute;
	right: 128%;
	text-align: left;
	text-transform: initial;
	   /* -moz-transform:scale(0) rotate(-12deg);
		-ms-transform:scale(0) rotate(-12deg);
		 -o-transform:scale(0) rotate(-12deg); */
			transform:scale(0) rotate(-12deg);
	transition: opacity 0.3s;
	   /* -moz-transition:all .25s;
		-ms-transition:all .25s;
		 -o-transition:all .25s; */
			transition:all .25s;
	visibility: hidden;
	white-space: normal;
}
a.btn:hover .tif-bubble-info,
button:hover .tif-bubble-info {

	-webkit-transform:scale(1) rotate(0deg);
	opacity: 1;
	   /* -moz-transform:scale(1) rotate(0deg);
		-ms-transform:scale(1) rotate(0deg);
		 -o-transform:scale(1) rotate(0deg); */
			transform:scale(1) rotate(0deg);
	visibility: visible;
}
.rtl a.btn .tif-bubble-info,
.rtl button .tif-bubble-info {
	left: 128%;
	right: unset;
	text-align: right;
}
