.customize-section-description-container,
.customize-control {
	width: 100%;
	/* width: calc(100% + 10px);
	margin-left: -5px;
	margin-right: -5px; */
}
/* .customize-section-description-container .customize-section-back {
	margin-left: 5px;
} */
.customize-control-description a.external-link::after {
	font: 16px/11px dashicons;
	content: "\f310";
	top: 3px;
	position: relative;
	padding-left: 3px;
	display: inline-block;
	text-decoration: none;
}
[id*="-tif_theme_colors_panel_palette_section"] > .wp-picker-container {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.customize-pane-parent li[id*="accordion-panel-tif_plugin_"] {
	margin-top: 12px;
}
.customize-pane-parent li[id*="accordion-panel-tif_plugin_"] + li[id*="accordion-panel-tif_plugin_"] {
	margin-top:0;
}
.customize-pane-parent > #accordion-section-tif_theme_important_links_section h3,
.customize-pane-parent > [id*="accordion-panel-tif_theme_"] h3,
.customize-pane-parent > [id*="accordion-panel-tif_post_"] h3,
.customize-pane-parent > [id*="accordion-panel-tif_plugin_"] h3 {
	padding-left: 15px;
}
.customize-pane-parent > #accordion-section-tif_theme_important_links_section h3::before,
.customize-pane-parent > [id*="accordion-panel-tif_theme_"] h3::before,
.customize-pane-parent > [id*="accordion-panel-tif_post_"] h3::before,
.customize-pane-parent > [id*="accordion-panel-tif_plugin_"] h3::before {
	content:url(../images/tif.svg);
	margin-left: -5px;
	margin-top: 10px;
	position: absolute;
}
.customize-pane-parent > [id*="accordion-panel-tif_plugin_"] h3::before {
	content:url(../images/tif-plugins.svg);
	margin-top: 5px;
}
.rtl .customize-pane-parent > #accordion-section-tif_theme_important_links_section h3::before,
.rtl .customize-pane-parent > [id*="accordion-panel-tif_theme_"] h3::before,
.rtl .customize-pane-parent > [id*="accordion-panel-tif_post_"] h3::before,
.rtl .customize-pane-parent > [id*="accordion-panel-tif_plugin_"] h3::before {
	margin-left: 0;
	margin-right: -20px;
}

/*------------------------------------------------------------------------------
  16.4 - Custom Background Screen
------------------------------------------------------------------------------*/

.cover-fit-position-control input[type="radio"]:checked ~ .button {
	background: #f0f0f1;
	border-color: #8c8f94;
	box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.cover-fit-position-control input[type="radio"]:focus ~ .button {
	border-color: #4f94d4;
	box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5), 0 0 3px rgba(34, 113, 177, 0.8);
	color: #1d2327;
}

.cover-fit-position-control .cover-position-center-icon,
.cover-fit-position-control .cover-position-center-icon:before {
	display: inline-block;
	line-height: 1;
	text-align: center;
	transition: background-color .1s ease-in;
}

.cover-fit-position-control .cover-position-center-icon {
	height: 20px;
	margin-top: 13px;
	vertical-align: top;
	width: 20px;
}

.cover-fit-position-control .cover-position-center-icon:before {
	background-color: #50575e;
	border-radius: 50%;
	content: "";
	height: 12px;
	width: 12px;
}

.cover-fit-position-control .button:hover .cover-position-center-icon:before,
.cover-fit-position-control input[type="radio"]:focus ~ .button .cover-position-center-icon:before {
	background-color: #1d2327;
}

.cover-fit-position-control .button-group {
	display: block;
}

.cover-fit-position-control .button-group .button {
	border-radius: 0;
	box-shadow: none;
	/* Following properties are overridden by buttons responsive styles (see: wp-includes/css/buttons.css). */
	height: 40px !important;
	line-height: 2.9 !important;
	margin: 0 -1px 0 0 !important;
	padding: 0 10px 1px !important;
	position: relative;
}

.cover-fit-position-control .button-group .button:active,
.cover-fit-position-control .button-group .button:hover,
.cover-fit-position-control .button-group .button:focus {
	z-index: 1;
}

.cover-fit-position-control .button-group:last-child .button {
	box-shadow: 0 1px 0 #c3c4c7;
}

.cover-fit-position-control .button-group > label {
	margin: 0 !important;
}

.cover-fit-position-control .button-group:first-child > label:first-child .button {
	border-radius: 3px 0 0;
}

.cover-fit-position-control .button-group:first-child > label:first-child .dashicons {
	transform: rotate( 45deg );
}

.cover-fit-position-control .button-group:first-child > label:last-child .button {
	border-radius: 0 3px 0 0;
}

.cover-fit-position-control .button-group:first-child > label:last-child .dashicons {
	transform: rotate( -45deg );
}

.cover-fit-position-control .button-group:last-child > label:first-child .button {
	border-radius: 0 0 0 3px;
}

.cover-fit-position-control .button-group:last-child > label:first-child .dashicons {
	transform: rotate( -45deg );
}

.cover-fit-position-control .button-group:last-child > label:last-child .button {
	border-radius: 0 0 3px;
}

.cover-fit-position-control .button-group:last-child > label:last-child .dashicons {
	transform: rotate( 45deg );
}

.cover-fit-position-control .button-group .dashicons {
	margin-top: 9px;
}

.cover-fit-position-control .button-group + .button-group {
	margin-top: -1px;
}
