.interface-interface-skeleton__sidebar {
	overflow-y: scroll;
	scrollbar-color: var(--wp-admin-theme-color) #eaeaea;
	scrollbar-width: thin;
}
#tif-page-attributes h2 {
	font-size: 13px !important;
	padding-left: 35px !important;
}
#tif-page-attributes h2::before {
	content: url('../images/tif.svg');
	margin-top: -3px;
	margin-left: -20px;
	position: absolute;
}
#tif-page-attributes .inside {
	padding-bottom: 50px;
}
.interface-complementary-area .tif-attributs ul.tif-multicheck,
.interface-complementary-area .tif-attributs hr {
	margin: .4em 0 !important;
}
.interface-interface-skeleton__sidebar .tif-attributs.tif-is-checkbox {
	display: flex;
	flex-direction: column-reverse;
}
.interface-interface-skeleton__sidebar .tif-attributs header,
.interface-interface-skeleton__sidebar .tif-attributs.tif-is-checkbox label {
	font-weight: bold;
}
.interface-interface-skeleton__sidebar .tif-attributs header {
	margin-top: 15px
}
.interface-interface-skeleton__sidebar .tif-attributs small {
	font-size: 13px
}
.interface-interface-skeleton__sidebar .tif-attributs ul {
	margin: 0;
}
