
/* ----------------------------- */
/* Tif WP block Paragraph        */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	// .is-small-text {
	//   font-size: 0.875em;
	// }
	//
	// .is-regular-text {
	//   font-size: 1em;
	// }
	//
	// .is-large-text {
	//   font-size: 2.25em;
	// }
	//
	// .is-larger-text {
	//   font-size: 3em;
	// }

	.has-drop-cap:not(:focus)::first-letter {
	  float: left;
	  font-size: 8.4em;
	  line-height: 0.68;
	  font-weight: 100;
	  margin: 0.05em 0.1em 0 0;
	  text-transform: uppercase;
	  font-style: normal;
	}

	p.has-drop-cap.has-background {
	  overflow: hidden;
	}

	// p.has-background {
	//   padding: 1.25em 2.375em;
	// }

	p.has-text-color a {
	  color: inherit;
	}

}
