
/* ----------------------------- */
/* Tif WP block File             */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-block-file {
	  margin-bottom: 1.5em;
	}
	.wp-block-file.aligncenter {
	  text-align: center;
	}
	.wp-block-file.alignright {
	  /*rtl:ignore*/
	  text-align: right;
	}
	.wp-block-file .wp-block-file__embed {
	  margin-bottom: 1em;
	}
	.wp-block-file .wp-block-file__button {
	  background: #32373c;
	  border-radius: 2em;
	  color: #fff;
	  font-size: 0.8em;
	  padding: 0.5em 1em;
	}
	.wp-block-file a.wp-block-file__button {
	  text-decoration: none;
	}
	.wp-block-file a.wp-block-file__button:hover, .wp-block-file a.wp-block-file__button:visited, .wp-block-file a.wp-block-file__button:focus, .wp-block-file a.wp-block-file__button:active {
	  box-shadow: none;
	  color: #fff;
	  opacity: 0.85;
	  text-decoration: none;
	}
	.wp-block-file * + .wp-block-file__button {
	  margin-left: 0.75em;
	}

}
