
/* ----------------------------- */
/* Tif WP block Post Author      */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-block-post-author {
	  display: flex;
	  flex-wrap: wrap;
	}
	.wp-block-post-author__byline {
	  width: 100%;
	  margin-top: 0;
	  margin-bottom: 0;
	  font-size: 0.5em;
	}
	.wp-block-post-author__avatar {
	  margin-right: 1em;
	}
	.wp-block-post-author__bio {
	  margin-bottom: 0.7em;
	  font-size: 0.7em;
	}
	.wp-block-post-author__content {
	  flex-grow: 1;
	  flex-basis: 0;
	}
	.wp-block-post-author__name {
	  font-weight: bold;
	  margin: 0;
	}

}
