
/* ----------------------------- */
/* Tif WP block Code             */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-block-code code {
	  display: block;
	  white-space: pre-wrap;
	  overflow-wrap: break-word;
	}

}
