
/* ----------------------------- */
/* Tif WP block Search           */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-block-search .wp-block-search__button {
	  background: #f7f7f7;
	  border: 1px solid #ccc;
	  padding: 0.375em 0.625em;
	  color: #32373c;
	  margin-left: 0.625em;
	  word-break: normal;
	}
	.wp-block-search .wp-block-search__button.has-icon {
	  line-height: 0;
	}
	.wp-block-search .wp-block-search__button svg {
	  min-width: 1.5em;
	  min-height: 1.5em;
	}
	.wp-block-search .wp-block-search__inside-wrapper {
	  display: flex;
	  flex: auto;
	  flex-wrap: nowrap;
	  max-width: 100%;
	}
	.wp-block-search .wp-block-search__label {
	  width: 100%;
	}
	.wp-block-search .wp-block-search__input {
	  flex-grow: 1;
	  min-width: 3em;
	  border: 1px solid #949494;
	}
	.wp-block-search.wp-block-search__button-only .wp-block-search__button {
	  margin-left: 0;
	}
	.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
	  padding: 4px;
	  border: 1px solid #949494;
	}
	.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input {
	  border-radius: 0;
	  border: none;
	  padding: 0 0 0 0.25em;
	}
	.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input:focus {
	  outline: none;
	}
	.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button {
	  padding: 0.125em 0.5em;
	}
	.wp-block-search.aligncenter .wp-block-search__inside-wrapper {
	  margin: auto;
	}

}
