
/* ----------------------------- */
/* Tif WP block Cover            */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-block-cover-image,
	.wp-block-cover {
	  position: relative;
	  background-size: cover;
	  background-position: center center;
	  min-height: 430px;
	  width: 100%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  padding: 1em;
	  box-sizing: border-box;
	  /**
	   * Set a default background color for has-background-dim _unless_ it includes another
	   * background-color class (e.g. has-green-background-color). The presence of another
	   * background-color class implies that another style will provide the background color
	   * for the overlay.
	   *
	   * See:
	   *   - Issue with background color specificity: https://github.com/WordPress/gutenberg/issues/26545
	   *   - Issue with alternative fix: https://github.com/WordPress/gutenberg/issues/26545
	   */
	}
	.wp-block-cover-image.has-parallax,
	.wp-block-cover.has-parallax {
	  background-attachment: fixed;
	}
	@supports (-webkit-overflow-scrolling: touch) {
	  .wp-block-cover-image.has-parallax,
	.wp-block-cover.has-parallax {
	    background-attachment: scroll;
	  }
	}
	@media (prefers-reduced-motion: reduce) {
	  .wp-block-cover-image.has-parallax,
	  .wp-block-cover.has-parallax {
	    background-attachment: scroll;
	  }
	}
	.wp-block-cover-image.is-repeated,
	.wp-block-cover.is-repeated {
	  background-repeat: repeat;
	  background-size: auto;
	}
	.wp-block-cover-image.has-background-dim:not([class*=-background-color]),
	.wp-block-cover.has-background-dim:not([class*=-background-color]) {
	  background-color: #000;
	}
	.wp-block-cover-image.has-background-dim::before,
	.wp-block-cover.has-background-dim::before {
	  content: "";
	  background-color: inherit;
	}
	.wp-block-cover-image.has-background-dim:not(.has-background-gradient)::before,
	.wp-block-cover-image .wp-block-cover__gradient-background,
	.wp-block-cover.has-background-dim:not(.has-background-gradient)::before,
	.wp-block-cover .wp-block-cover__gradient-background {
	  position: absolute;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  z-index: 1;
	  opacity: 0.5;
	}
	.wp-block-cover-image.has-background-dim.has-background-dim-10:not(.has-background-gradient)::before,
	.wp-block-cover-image.has-background-dim.has-background-dim-10 .wp-block-cover__gradient-background,
	.wp-block-cover.has-background-dim.has-background-dim-10:not(.has-background-gradient)::before,
	.wp-block-cover.has-background-dim.has-background-dim-10 .wp-block-cover__gradient-background {
	  opacity: 0.1;
	}
	.wp-block-cover-image.has-background-dim.has-background-dim-20:not(.has-background-gradient)::before,
	.wp-block-cover-image.has-background-dim.has-background-dim-20 .wp-block-cover__gradient-background,
	.wp-block-cover.has-background-dim.has-background-dim-20:not(.has-background-gradient)::before,
	.wp-block-cover.has-background-dim.has-background-dim-20 .wp-block-cover__gradient-background {
	  opacity: 0.2;
	}
	.wp-block-cover-image.has-background-dim.has-background-dim-30:not(.has-background-gradient)::before,
	.wp-block-cover-image.has-background-dim.has-background-dim-30 .wp-block-cover__gradient-background,
	.wp-block-cover.has-background-dim.has-background-dim-30:not(.has-background-gradient)::before,
	.wp-block-cover.has-background-dim.has-background-dim-30 .wp-block-cover__gradient-background {
	  opacity: 0.3;
	}
	.wp-block-cover-image.has-background-dim.has-background-dim-40:not(.has-background-gradient)::before,
	.wp-block-cover-image.has-background-dim.has-background-dim-40 .wp-block-cover__gradient-background,
	.wp-block-cover.has-background-dim.has-background-dim-40:not(.has-background-gradient)::before,
	.wp-block-cover.has-background-dim.has-background-dim-40 .wp-block-cover__gradient-background {
	  opacity: 0.4;
	}
	.wp-block-cover-image.has-background-dim.has-background-dim-50:not(.has-background-gradient)::before,
	.wp-block-cover-image.has-background-dim.has-background-dim-50 .wp-block-cover__gradient-background,
	.wp-block-cover.has-background-dim.has-background-dim-50:not(.has-background-gradient)::before,
	.wp-block-cover.has-background-dim.has-background-dim-50 .wp-block-cover__gradient-background {
	  opacity: 0.5;
	}
	.wp-block-cover-image.has-background-dim.has-background-dim-60:not(.has-background-gradient)::before,
	.wp-block-cover-image.has-background-dim.has-background-dim-60 .wp-block-cover__gradient-background,
	.wp-block-cover.has-background-dim.has-background-dim-60:not(.has-background-gradient)::before,
	.wp-block-cover.has-background-dim.has-background-dim-60 .wp-block-cover__gradient-background {
	  opacity: 0.6;
	}
	.wp-block-cover-image.has-background-dim.has-background-dim-70:not(.has-background-gradient)::before,
	.wp-block-cover-image.has-background-dim.has-background-dim-70 .wp-block-cover__gradient-background,
	.wp-block-cover.has-background-dim.has-background-dim-70:not(.has-background-gradient)::before,
	.wp-block-cover.has-background-dim.has-background-dim-70 .wp-block-cover__gradient-background {
	  opacity: 0.7;
	}
	.wp-block-cover-image.has-background-dim.has-background-dim-80:not(.has-background-gradient)::before,
	.wp-block-cover-image.has-background-dim.has-background-dim-80 .wp-block-cover__gradient-background,
	.wp-block-cover.has-background-dim.has-background-dim-80:not(.has-background-gradient)::before,
	.wp-block-cover.has-background-dim.has-background-dim-80 .wp-block-cover__gradient-background {
	  opacity: 0.8;
	}
	.wp-block-cover-image.has-background-dim.has-background-dim-90:not(.has-background-gradient)::before,
	.wp-block-cover-image.has-background-dim.has-background-dim-90 .wp-block-cover__gradient-background,
	.wp-block-cover.has-background-dim.has-background-dim-90:not(.has-background-gradient)::before,
	.wp-block-cover.has-background-dim.has-background-dim-90 .wp-block-cover__gradient-background {
	  opacity: 0.9;
	}
	.wp-block-cover-image.has-background-dim.has-background-dim-100:not(.has-background-gradient)::before,
	.wp-block-cover-image.has-background-dim.has-background-dim-100 .wp-block-cover__gradient-background,
	.wp-block-cover.has-background-dim.has-background-dim-100:not(.has-background-gradient)::before,
	.wp-block-cover.has-background-dim.has-background-dim-100 .wp-block-cover__gradient-background {
	  opacity: 1;
	}
	.wp-block-cover-image.alignleft, .wp-block-cover-image.alignright,
	.wp-block-cover.alignleft,
	.wp-block-cover.alignright {
	  max-width: 420px;
	  width: 100%;
	}
	.wp-block-cover-image::after,
	.wp-block-cover::after {
	  display: block;
	  content: "";
	  font-size: 0;
	  min-height: inherit;
	}
	@supports (position: sticky) {
	  .wp-block-cover-image::after,
	.wp-block-cover::after {
	    content: none;
	  }
	}
	.wp-block-cover-image.aligncenter, .wp-block-cover-image.alignleft, .wp-block-cover-image.alignright,
	.wp-block-cover.aligncenter,
	.wp-block-cover.alignleft,
	.wp-block-cover.alignright {
	  display: flex;
	}
	.wp-block-cover-image .wp-block-cover__inner-container,
	.wp-block-cover .wp-block-cover__inner-container {
	  width: 100%;
	  z-index: 1;
	  color: #fff;
	}
	.wp-block-cover-image p:not(.has-text-color),
	.wp-block-cover-image h1:not(.has-text-color),
	.wp-block-cover-image h2:not(.has-text-color),
	.wp-block-cover-image h3:not(.has-text-color),
	.wp-block-cover-image h4:not(.has-text-color),
	.wp-block-cover-image h5:not(.has-text-color),
	.wp-block-cover-image h6:not(.has-text-color),
	.wp-block-cover p:not(.has-text-color),
	.wp-block-cover h1:not(.has-text-color),
	.wp-block-cover h2:not(.has-text-color),
	.wp-block-cover h3:not(.has-text-color),
	.wp-block-cover h4:not(.has-text-color),
	.wp-block-cover h5:not(.has-text-color),
	.wp-block-cover h6:not(.has-text-color) {
	  color: inherit;
	}
	.wp-block-cover-image.is-position-top-left,
	.wp-block-cover.is-position-top-left {
	  align-items: flex-start;
	  justify-content: flex-start;
	}
	.wp-block-cover-image.is-position-top-center,
	.wp-block-cover.is-position-top-center {
	  align-items: flex-start;
	  justify-content: center;
	}
	.wp-block-cover-image.is-position-top-right,
	.wp-block-cover.is-position-top-right {
	  align-items: flex-start;
	  justify-content: flex-end;
	}
	.wp-block-cover-image.is-position-center-left,
	.wp-block-cover.is-position-center-left {
	  align-items: center;
	  justify-content: flex-start;
	}
	.wp-block-cover-image.is-position-center-center,
	.wp-block-cover.is-position-center-center {
	  align-items: center;
	  justify-content: center;
	}
	.wp-block-cover-image.is-position-center-right,
	.wp-block-cover.is-position-center-right {
	  align-items: center;
	  justify-content: flex-end;
	}
	.wp-block-cover-image.is-position-bottom-left,
	.wp-block-cover.is-position-bottom-left {
	  align-items: flex-end;
	  justify-content: flex-start;
	}
	.wp-block-cover-image.is-position-bottom-center,
	.wp-block-cover.is-position-bottom-center {
	  align-items: flex-end;
	  justify-content: center;
	}
	.wp-block-cover-image.is-position-bottom-right,
	.wp-block-cover.is-position-bottom-right {
	  align-items: flex-end;
	  justify-content: flex-end;
	}
	.wp-block-cover-image.has-custom-content-position.has-custom-content-position .wp-block-cover__inner-container,
	.wp-block-cover.has-custom-content-position.has-custom-content-position .wp-block-cover__inner-container {
	  margin: 0;
	  width: auto;
	}
	.wp-block-cover-image img.wp-block-cover__image-background,
	.wp-block-cover-image video.wp-block-cover__video-background,
	.wp-block-cover img.wp-block-cover__image-background,
	.wp-block-cover video.wp-block-cover__video-background {
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  margin: 0;
	  padding: 0;
	  width: 100%;
	  height: 100%;
	  max-width: none;
	  max-height: none;
	  -o-object-fit: cover;
	     object-fit: cover;
	  outline: none;
	  border: none;
	  box-shadow: none;
	}

	.wp-block-cover__video-background {
	  z-index: 0;
	}

	.wp-block-cover__image-background {
	  z-index: 0;
	}

	section.wp-block-cover-image h2,
	.wp-block-cover-image-text,
	.wp-block-cover-text {
	  color: #fff;
	}
	section.wp-block-cover-image h2 a,
	section.wp-block-cover-image h2 a:hover,
	section.wp-block-cover-image h2 a:focus,
	section.wp-block-cover-image h2 a:active,
	.wp-block-cover-image-text a,
	.wp-block-cover-image-text a:hover,
	.wp-block-cover-image-text a:focus,
	.wp-block-cover-image-text a:active,
	.wp-block-cover-text a,
	.wp-block-cover-text a:hover,
	.wp-block-cover-text a:focus,
	.wp-block-cover-text a:active {
	  color: #fff;
	}

	.wp-block-cover-image .wp-block-cover.has-left-content {
	  justify-content: flex-start;
	}
	.wp-block-cover-image .wp-block-cover.has-right-content {
	  justify-content: flex-end;
	}

	section.wp-block-cover-image.has-left-content > h2,
	.wp-block-cover-image.has-left-content .wp-block-cover-image-text,
	.wp-block-cover.has-left-content .wp-block-cover-text {
	  margin-left: 0;
	  text-align: left;
	}

	section.wp-block-cover-image.has-right-content > h2,
	.wp-block-cover-image.has-right-content .wp-block-cover-image-text,
	.wp-block-cover.has-right-content .wp-block-cover-text {
	  margin-right: 0;
	  text-align: right;
	}

	section.wp-block-cover-image > h2,
	.wp-block-cover-image .wp-block-cover-image-text,
	.wp-block-cover .wp-block-cover-text {
	  font-size: 2em;
	  line-height: 1.25;
	  z-index: 1;
	  margin-bottom: 0;
	  max-width: 840px;
	  padding: 0.44em;
	  text-align: center;
	}

}
