
/* ----------------------------- */
/* Tif WP block Preformatted     */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-block-preformatted {
	  white-space: pre-wrap;
	}

	.wp-block-preformatted.has-background {
	  padding: 1.25em 2.375em;
	}
}
