
/* ----------------------------- */
/* Tif WP block Latest Posts     */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-block-latest-posts.alignleft {
	  /*rtl:ignore*/
	  margin-right: 2em;
	}
	.wp-block-latest-posts.alignright {
	  /*rtl:ignore*/
	  margin-left: 2em;
	}
	.wp-block-latest-posts.wp-block-latest-posts__list {
	  list-style: none;
	  padding-left: 0;
	}
	.wp-block-latest-posts.wp-block-latest-posts__list li {
	  clear: both;
	}
	.wp-block-latest-posts.is-grid {
	  display: flex;
	  flex-wrap: wrap;
	  padding: 0;
	}
	.wp-block-latest-posts.is-grid li {
	  margin: 0 1.25em 1.25em 0;
	  width: 100%;
	}
	@media (min-width: $small) {
	  .wp-block-latest-posts.columns-2 li {
	    width: calc((100% / 2) - 1.25em + (1.25em / 2));
	  }
	  .wp-block-latest-posts.columns-2 li:nth-child(2n) {
	    margin-right: 0;
	  }
	  .wp-block-latest-posts.columns-3 li {
	    width: calc((100% / 3) - 1.25em + (1.25em / 3));
	  }
	  .wp-block-latest-posts.columns-3 li:nth-child(3n) {
	    margin-right: 0;
	  }
	  .wp-block-latest-posts.columns-4 li {
	    width: calc((100% / 4) - 1.25em + (1.25em / 4));
	  }
	  .wp-block-latest-posts.columns-4 li:nth-child(4n) {
	    margin-right: 0;
	  }
	  .wp-block-latest-posts.columns-5 li {
	    width: calc((100% / 5) - 1.25em + (1.25em / 5));
	  }
	  .wp-block-latest-posts.columns-5 li:nth-child(5n) {
	    margin-right: 0;
	  }
	  .wp-block-latest-posts.columns-6 li {
	    width: calc((100% / 6) - 1.25em + (1.25em / 6));
	  }
	  .wp-block-latest-posts.columns-6 li:nth-child(6n) {
	    margin-right: 0;
	  }
	}

	.wp-block-latest-posts__post-date,
	.wp-block-latest-posts__post-author {
	  display: block;
	  color: #555;
	  font-size: 0.8125em;
	}

	.wp-block-latest-posts__post-excerpt {
	  margin-top: 0.5em;
	  margin-bottom: 1em;
	}

	.wp-block-latest-posts__featured-image a {
	  display: inline-block;
	}
	.wp-block-latest-posts__featured-image img {
	  height: auto;
	  width: auto;
	  max-width: 100%;
	}
	.wp-block-latest-posts__featured-image.alignleft {
	  /*rtl:ignore*/
	  margin-right: 1em;
	}
	.wp-block-latest-posts__featured-image.alignright {
	  /*rtl:ignore*/
	  margin-left: 1em;
	}
	.wp-block-latest-posts__featured-image.aligncenter {
	  margin-bottom: 1em;
	  text-align: center;
	}

	.block-editor-image-alignment-control__row .components-base-control__field {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	}
	.block-editor-image-alignment-control__row .components-base-control__field .components-base-control__label {
	  margin-bottom: 0;
	}

}
