
/* ----------------------------- */
/* Tif WP block Page List        */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-block-navigation .wp-block-page-list {
	  display: flex;
	  flex-wrap: wrap;
	  background-color: inherit;
	}
	.wp-block-navigation .wp-block-pages-list__item {
	  background-color: inherit;
	}
	.wp-block-navigation .wp-block-page-list__submenu-icon {
	  display: none;
	}
	.wp-block-navigation .show-submenu-icons .wp-block-page-list__submenu-icon {
	  display: block;
	}

	.is-vertical .wp-block-navigation__container .wp-block-page-list,
	.is-open .wp-block-navigation__container .wp-block-page-list {
	  display: block;
	}

	@media (min-width: 480px) {
	  .is-open .wp-block-navigation__container .wp-block-page-list {
	    display: flex;
	  }
	}

	.items-justified-space-between .wp-block-page-list {
	  display: contents;
	}
}
