
/* ----------------------------- */
/* Tif WP block Pullquote        */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-block-pullquote {
	  margin: 0 0 1em 0;
	  padding: 3em 0;
	  text-align: center;
	}
	.wp-block-pullquote.alignleft, .wp-block-pullquote.alignright {
	  max-width: 420px;
	}
	.wp-block-pullquote.alignleft p, .wp-block-pullquote.alignright p {
	  font-size: 1.25em;
	}
	.wp-block-pullquote p {
	  font-size: 1.75em;
	  line-height: 1.6;
	}
	.wp-block-pullquote cite,
	.wp-block-pullquote footer {
	  position: relative;
	}
	.wp-block-pullquote .has-text-color a {
	  color: inherit;
	}

	.wp-block-pullquote:not(.is-style-solid-color) {
	  background: none;
	}

	.wp-block-pullquote.is-style-solid-color {
	  border: none;
	}
	.wp-block-pullquote.is-style-solid-color blockquote {
	  margin-left: auto;
	  margin-right: auto;
	  text-align: left;
	  max-width: 60%;
	}
	.wp-block-pullquote.is-style-solid-color blockquote p {
	  margin-top: 0;
	  margin-bottom: 0;
	  font-size: 2em;
	}
	.wp-block-pullquote.is-style-solid-color blockquote cite {
	  text-transform: none;
	  font-style: normal;
	}

	.wp-block-pullquote cite {
	  color: inherit;
	}

}
