
/* ----------------------------- */
/* Tif WP block Post Comments    */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-block-post-comments .commentlist {
	  list-style: none;
	  margin: 0;
	  padding: 0;
	}
	.wp-block-post-comments .commentlist .comment {
	  min-height: 2.25em;
	  padding-left: 3.25em;
	}
	.wp-block-post-comments .commentlist .comment p {
	  font-size: 0.875em;
	  line-height: 1.8;
	  margin: 0.36em 0 1.4em;
	}
	.wp-block-post-comments .commentlist .children {
	  list-style: none;
	  margin: 0;
	  padding: 0;
	}
	.wp-block-post-comments .comment-author {
	  line-height: 1.5;
	  margin-left: -3.25em;
	}
	.wp-block-post-comments .comment-author .avatar {
	  border-radius: 1.5em;
	  display: block;
	  float: left;
	  height: 2.5em;
	  margin-right: 0.75em;
	  width: 2.5em;
	}
	.wp-block-post-comments .comment-author cite {
	  font-style: normal;
	}
	.wp-block-post-comments .comment-meta {
	  line-height: 1.5;
	  margin-left: -3.25em;
	}
	.wp-block-post-comments .comment-body .commentmetadata {
	  font-size: 0.75em;
	}
	.wp-block-post-comments .comment-form-comment label,
	.wp-block-post-comments .comment-form-author label,
	.wp-block-post-comments .comment-form-email label,
	.wp-block-post-comments .comment-form-url label {
	  display: block;
	}
	.wp-block-post-comments .comment-form-comment textarea {
	  box-sizing: border-box;
	  width: 100%;
	}
	.wp-block-post-comments .reply {
	  font-size: 0.75em;
	  margin-bottom: 1.4em;
	}
	.wp-block-post-comments textarea,
	.wp-block-post-comments input {
	  border: 1px solid #949494;
	}

	.wp-block-post-comments-form input[type=submit] {
	  border: none;
	  box-shadow: none;
	  cursor: pointer;
	  display: inline-block;
	  text-align: center;
	  overflow-wrap: break-word;
	}

}
