
/* ----------------------------- */
/* Tif WP block Post Excerpt     */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-block-post-excerpt__more-link {
	  display: inline-block;
	}

}
