
/* ----------------------------- */
/* Tif WP block Audio            */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-block-audio {
	  margin: 0 0 1em 0;
	}
	.wp-block-audio figcaption {
	  margin-top: 0.5em;
	  margin-bottom: 1em;
	}
	.wp-block-audio audio {
	  width: 100%;
	  min-width: 300px;
	}

}
