
/* ----------------------------- */
/* Tif WP block Post Title        */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-block-post-title a {
	  display: inline-block;
	}

}
