
/* ----------------------------- */
/* Tif WP block RSS              */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-block-rss.wp-block-rss {
	  box-sizing: border-box;
	}
	.wp-block-rss.alignleft {
	  /*rtl:ignore*/
	  margin-right: 2em;
	}
	.wp-block-rss.alignright {
	  /*rtl:ignore*/
	  margin-left: 2em;
	}
	.wp-block-rss.is-grid {
	  display: flex;
	  flex-wrap: wrap;
	  padding: 0;
	  list-style: none;
	}
	.wp-block-rss.is-grid li {
	  margin: 0 1em 1em 0;
	  width: 100%;
	}
	@media (min-width: $small) {
	  .wp-block-rss.columns-2 li {
	    width: calc(( 100% / 2 ) - 1em);
	  }
	  .wp-block-rss.columns-3 li {
	    width: calc(( 100% / 3 ) - 1em);
	  }
	  .wp-block-rss.columns-4 li {
	    width: calc(( 100% / 4 ) - 1em);
	  }
	  .wp-block-rss.columns-5 li {
	    width: calc(( 100% / 5 ) - 1em);
	  }
	  .wp-block-rss.columns-6 li {
	    width: calc(( 100% / 6 ) - 1em);
	  }
	}

	.wp-block-rss__item-publish-date,
	.wp-block-rss__item-author {
	  display: block;
	  color: #555;
	  font-size: 0.8125em;
	}

}
