
/* ----------------------------- */
/* Tif WP block Columns          */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-block-columns {
	  display: flex;
	  margin-bottom: 1.75em;
	  box-sizing: border-box;
	  flex-wrap: wrap;
	  /**
	  * All Columns Alignment
	  */
	}
	@media (min-width: $medium) {
	  .wp-block-columns {
	    flex-wrap: nowrap;
	  }
	}
	.wp-block-columns.has-background {
	  padding: 1.25em 2.375em;
	}
	.wp-block-columns.are-vertically-aligned-top {
	  align-items: flex-start;
	}
	.wp-block-columns.are-vertically-aligned-center {
	  align-items: center;
	}
	.wp-block-columns.are-vertically-aligned-bottom {
	  align-items: flex-end;
	}

	.wp-block-column {
	  flex-grow: 1;
	  min-width: 0;
	  word-break: break-word;
	  overflow-wrap: break-word;
	  /**
	  * Individual Column Alignment
	  */
	}
	@media (max-width: #{$small - 1}) {
	  .wp-block-column {
	    flex-basis: 100% !important;
	  }
	}
	@media (min-width: $small) and (max-width: #{$medium - 1}) {
	  .wp-block-column:not(:only-child) {
	    flex-basis: calc(50% - 1em) !important;
	    flex-grow: 0;
	  }
	  .wp-block-column:nth-child(even) {
	    margin-left: 2em;
	  }
	}
	@media (min-width: $medium) {
	  .wp-block-column {
	    flex-basis: 0;
	    flex-grow: 1;
	  }
	  .wp-block-column[style*=flex-basis] {
	    flex-grow: 0;
	  }
	  .wp-block-column:not(:first-child) {
	    margin-left: 2em;
	  }
	}
	.wp-block-column.is-vertically-aligned-top {
	  align-self: flex-start;
	}
	.wp-block-column.is-vertically-aligned-center {
	  align-self: center;
	}
	.wp-block-column.is-vertically-aligned-bottom {
	  align-self: flex-end;
	}
	.wp-block-column.is-vertically-aligned-top, .wp-block-column.is-vertically-aligned-center, .wp-block-column.is-vertically-aligned-bottom {
	  width: 100%;
	}

}
