
/* ----------------------------- */
/* Tif WP block Separator        */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-block-separator {
	  border-top: 1px solid currentColor;
	  border-bottom: 1px solid currentColor;
	}
	.wp-block-separator.is-style-wide {
	  border-bottom-width: 1px;
	}
	.wp-block-separator.is-style-dots {
	  background: none !important;
	  border: none;
	  text-align: center;
	  width: none;
	  line-height: 1;
	  height: auto;
	}
	.wp-block-separator.is-style-dots::before {
	  content: "···";
	  color: currentColor;
	  font-size: 1.5em;
	  letter-spacing: 2em;
	  /*rtl:ignore*/
	  padding-left: 2em;
	  font-family: serif;
	}

}
