
/* ----------------------------- */
/* Tif WP block Site Logo        */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-block-site-logo {
	  line-height: 0;
	}
	.wp-block-site-logo a {
	  display: inline-block;
	}
	.wp-block-site-logo.is-default-size img {
	  width: 120px;
	  height: auto;
	}
	.wp-block-site-logo .aligncenter {
	  display: table;
	}
	.wp-block-site-logo.is-style-rounded img {
	  border-radius: 9999px;
	}

}
