
/* ----------------------------- */
/* Tif WP block Video            */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-block-video {
	  margin: 0 0 1em 0;
	}
	.wp-block-video video {
	  width: 100%;
	}
	@supports (position: sticky) {
	  .wp-block-video [poster] {
	    -o-object-fit: cover;
	       object-fit: cover;
	  }
	}
	.wp-block-video.aligncenter {
	  text-align: center;
	}
	.wp-block-video figcaption {
	  margin-top: 0.5em;
	  margin-bottom: 1em;
	}

}
