
/* ----------------------------- */
/* Tif WP block Latest Comments  */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	ol.wp-block-latest-comments {
	  margin-left: 0;
	}

	.wp-block-latest-comments .wp-block-latest-comments {
	  padding-left: 0;
	}

	.wp-block-latest-comments__comment {
	  line-height: 1.1;
	  list-style: none;
	  margin-bottom: 1em;
	}
	.has-avatars .wp-block-latest-comments__comment {
	  min-height: 2.25em;
	  list-style: none;
	}
	.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta,
	.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt {
	  margin-left: 3.25em;
	}
	.has-dates .wp-block-latest-comments__comment, .has-excerpts .wp-block-latest-comments__comment {
	  line-height: 1.5;
	}

	.wp-block-latest-comments__comment-excerpt p {
	  font-size: 0.875em;
	  line-height: 1.8;
	  margin: 0.36em 0 1.4em;
	}

	.wp-block-latest-comments__comment-date {
	  display: block;
	  font-size: 0.75em;
	}

	.wp-block-latest-comments .avatar,
	.wp-block-latest-comments__comment-avatar {
	  border-radius: 1.5em;
	  display: block;
	  float: left;
	  height: 2.5em;
	  margin-right: 0.75em;
	  width: 2.5em;
	}

}
