
/* ----------------------------- */
/* Tif WP block Tag Cloud        */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-block-tag-cloud.aligncenter {
	  text-align: center;
	}
	.wp-block-tag-cloud.alignfull {
	  padding-left: 1em;
	  padding-right: 1em;
	}

}
