
/* ----------------------------- */
/* Tif WP block Text Columns     */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-block-text-columns {
	  display: flex;
	}
	.wp-block-text-columns.aligncenter {
	  display: flex;
	}
	.wp-block-text-columns .wp-block-column {
	  margin: 0 1em;
	  padding: 0;
	}
	.wp-block-text-columns .wp-block-column:first-child {
	  margin-left: 0;
	}
	.wp-block-text-columns .wp-block-column:last-child {
	  margin-right: 0;
	}
	.wp-block-text-columns.columns-2 .wp-block-column {
	  width: calc(100% / 2);
	}
	.wp-block-text-columns.columns-3 .wp-block-column {
	  width: calc(100% / 3);
	}
	.wp-block-text-columns.columns-4 .wp-block-column {
	  width: calc(100% / 4);
	}

}
