
/* ----------------------------- */
/* Tif WP block Query Loop       */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-block-post-template,
	.wp-block-query-loop {
	  max-width: 100%;
	  list-style: none;
	  padding: 0;
	}
	.wp-block-post-template li,
	.wp-block-query-loop li {
	  clear: both;
	}
	.wp-block-post-template.is-flex-container,
	.wp-block-query-loop.is-flex-container {
	  flex-direction: row;
	  display: flex;
	  flex-wrap: wrap;
	}
	.wp-block-post-template.is-flex-container li,
	.wp-block-query-loop.is-flex-container li {
	  margin: 0 0 1.25em 0;
	  width: 100%;
	}
	@media (min-width: $small) {
	  .wp-block-post-template.is-flex-container li,
	.wp-block-query-loop.is-flex-container li {
	    margin-right: 1.25em;
	  }
	  .wp-block-post-template.is-flex-container.is-flex-container.columns-2 > li,
	.wp-block-query-loop.is-flex-container.is-flex-container.columns-2 > li {
	    width: calc((100% / 2) - 1.25em + (1.25em / 2));
	  }
	  .wp-block-post-template.is-flex-container.is-flex-container.columns-2 > li:nth-child(2n),
	.wp-block-query-loop.is-flex-container.is-flex-container.columns-2 > li:nth-child(2n) {
	    margin-right: 0;
	  }
	  .wp-block-post-template.is-flex-container.is-flex-container.columns-3 > li,
	.wp-block-query-loop.is-flex-container.is-flex-container.columns-3 > li {
	    width: calc((100% / 3) - 1.25em + (1.25em / 3));
	  }
	  .wp-block-post-template.is-flex-container.is-flex-container.columns-3 > li:nth-child(3n),
	.wp-block-query-loop.is-flex-container.is-flex-container.columns-3 > li:nth-child(3n) {
	    margin-right: 0;
	  }
	  .wp-block-post-template.is-flex-container.is-flex-container.columns-4 > li,
	.wp-block-query-loop.is-flex-container.is-flex-container.columns-4 > li {
	    width: calc((100% / 4) - 1.25em + (1.25em / 4));
	  }
	  .wp-block-post-template.is-flex-container.is-flex-container.columns-4 > li:nth-child(4n),
	.wp-block-query-loop.is-flex-container.is-flex-container.columns-4 > li:nth-child(4n) {
	    margin-right: 0;
	  }
	  .wp-block-post-template.is-flex-container.is-flex-container.columns-5 > li,
	.wp-block-query-loop.is-flex-container.is-flex-container.columns-5 > li {
	    width: calc((100% / 5) - 1.25em + (1.25em / 5));
	  }
	  .wp-block-post-template.is-flex-container.is-flex-container.columns-5 > li:nth-child(5n),
	.wp-block-query-loop.is-flex-container.is-flex-container.columns-5 > li:nth-child(5n) {
	    margin-right: 0;
	  }
	  .wp-block-post-template.is-flex-container.is-flex-container.columns-6 > li,
	.wp-block-query-loop.is-flex-container.is-flex-container.columns-6 > li {
	    width: calc((100% / 6) - 1.25em + (1.25em / 6));
	  }
	  .wp-block-post-template.is-flex-container.is-flex-container.columns-6 > li:nth-child(6n),
	.wp-block-query-loop.is-flex-container.is-flex-container.columns-6 > li:nth-child(6n) {
	    margin-right: 0;
	  }
	}

	.wp-block-query-pagination {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	}
	.wp-block-query-pagination > .wp-block-query-pagination-next,
	.wp-block-query-pagination > .wp-block-query-pagination-previous,
	.wp-block-query-pagination > .wp-block-query-pagination-numbers {
	  display: inline-block;
	  /*rtl:ignore*/
	  margin-right: 0.5em;
	  margin-bottom: 0.5em;
	}
	.wp-block-query-pagination > .wp-block-query-pagination-next:last-child,
	.wp-block-query-pagination > .wp-block-query-pagination-previous:last-child,
	.wp-block-query-pagination > .wp-block-query-pagination-numbers:last-child {
	  /*rtl:ignore*/
	  margin-right: 0;
	}

}
