
/* ----------------------------- */
/* Tif WP block Verse            */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	pre.wp-block-verse {
	  font-family: inherit;
	  overflow: auto;
	  white-space: pre-wrap;
	}

}
