
/* ----------------------------- */
/* Tif WP block Spacer           */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-block-spacer {
	  clear: both;
	}

}
