
/* ----------------------------- */
/* Tif WP block Quote            */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-block-quote.is-style-large, .wp-block-quote.is-large {
	  margin-bottom: 1em;
	  padding: 0 1em;
	}
	.wp-block-quote.is-style-large p, .wp-block-quote.is-large p {
	  font-size: 1.5em;
	  font-style: italic;
	  line-height: 1.6;
	}
	.wp-block-quote.is-style-large cite,
	.wp-block-quote.is-style-large footer, .wp-block-quote.is-large cite,
	.wp-block-quote.is-large footer {
	  font-size: 1.125em;
	  text-align: right;
	}

}
