
/* ----------------------------- */
/* Tif WP block Navigation       */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-block-navigation {
	  position: relative;
	}
	.wp-block-navigation ul,
	.wp-block-navigation ul li {
	  list-style: none;
	  padding: 0;
	}
	.wp-block-navigation .wp-block-pages-list__item,
	.wp-block-navigation .wp-block-navigation-link {
	  display: flex;
	  align-items: center;
	  position: relative;
	}
	.wp-block-navigation .wp-block-pages-list__item .wp-block-navigation-link__container:empty,
	.wp-block-navigation .wp-block-navigation-link .wp-block-navigation-link__container:empty {
	  display: none;
	}
	.wp-block-navigation .wp-block-pages-list__item__link,
	.wp-block-navigation .wp-block-navigation-link__content {
	  color: inherit;
	  display: block;
	}
	.wp-block-navigation[style*=text-decoration] .wp-block-pages-list__item,
	.wp-block-navigation[style*=text-decoration] .wp-block-navigation-link__container,
	.wp-block-navigation[style*=text-decoration] .wp-block-navigation-link {
	  text-decoration: inherit;
	}
	.wp-block-navigation[style*=text-decoration] .wp-block-pages-list__item__link,
	.wp-block-navigation[style*=text-decoration] .wp-block-navigation-link__content {
	  text-decoration: inherit;
	}
	.wp-block-navigation[style*=text-decoration] .wp-block-pages-list__item__link:focus, .wp-block-navigation[style*=text-decoration] .wp-block-pages-list__item__link:active,
	.wp-block-navigation[style*=text-decoration] .wp-block-navigation-link__content:focus,
	.wp-block-navigation[style*=text-decoration] .wp-block-navigation-link__content:active {
	  text-decoration: inherit;
	}
	.wp-block-navigation:not([style*=text-decoration]) .wp-block-pages-list__item__link,
	.wp-block-navigation:not([style*=text-decoration]) .wp-block-navigation-link__content {
	  text-decoration: none;
	}
	.wp-block-navigation:not([style*=text-decoration]) .wp-block-pages-list__item__link:focus, .wp-block-navigation:not([style*=text-decoration]) .wp-block-pages-list__item__link:active,
	.wp-block-navigation:not([style*=text-decoration]) .wp-block-navigation-link__content:focus,
	.wp-block-navigation:not([style*=text-decoration]) .wp-block-navigation-link__content:active {
	  text-decoration: none;
	}
	.wp-block-navigation .wp-block-page-list__submenu-icon,
	.wp-block-navigation .wp-block-navigation-link__submenu-icon {
	  height: inherit;
	}
	.wp-block-navigation .wp-block-page-list__submenu-icon svg,
	.wp-block-navigation .wp-block-navigation-link__submenu-icon svg {
	  stroke: currentColor;
	}
	.wp-block-navigation .wp-block-pages-list__item .wp-block-pages-list__item__link,
	.wp-block-navigation .wp-block-navigation-link .wp-block-navigation-link__content.wp-block-navigation-link__content.wp-block-navigation-link__content {
	  padding: 0;
	}
	.wp-block-navigation .has-child > .wp-block-pages-list__item__link,
	.wp-block-navigation .has-child > .wp-block-navigation-link__content {
	  margin-right: 0.5em;
	}
	.wp-block-navigation .has-child .submenu-container,
	.wp-block-navigation .has-child .wp-block-navigation-link__container {
	  background-color: inherit;
	  color: inherit;
	  position: absolute;
	  z-index: 2;
	  flex-direction: column;
	  align-items: normal;
	  min-width: 200px;
	  display: none;
	  opacity: 0;
	  transition: opacity 0.1s linear;
	  visibility: hidden;
	}
	.wp-block-navigation .has-child .submenu-container > .wp-block-pages-list__item > .wp-block-pages-list__item__link,
	.wp-block-navigation .has-child .submenu-container > .wp-block-pages-list__item > .wp-block-navigation-link__content,
	.wp-block-navigation .has-child .submenu-container > .wp-block-navigation-link > .wp-block-pages-list__item__link,
	.wp-block-navigation .has-child .submenu-container > .wp-block-navigation-link > .wp-block-navigation-link__content,
	.wp-block-navigation .has-child .wp-block-navigation-link__container > .wp-block-pages-list__item > .wp-block-pages-list__item__link,
	.wp-block-navigation .has-child .wp-block-navigation-link__container > .wp-block-pages-list__item > .wp-block-navigation-link__content,
	.wp-block-navigation .has-child .wp-block-navigation-link__container > .wp-block-navigation-link > .wp-block-pages-list__item__link,
	.wp-block-navigation .has-child .wp-block-navigation-link__container > .wp-block-navigation-link > .wp-block-navigation-link__content {
	  flex-grow: 1;
	}
	.wp-block-navigation .has-child .submenu-container > .wp-block-pages-list__item > .wp-block-page-list__submenu-icon,
	.wp-block-navigation .has-child .submenu-container > .wp-block-pages-list__item > .wp-block-navigation-link__submenu-icon,
	.wp-block-navigation .has-child .submenu-container > .wp-block-navigation-link > .wp-block-page-list__submenu-icon,
	.wp-block-navigation .has-child .submenu-container > .wp-block-navigation-link > .wp-block-navigation-link__submenu-icon,
	.wp-block-navigation .has-child .wp-block-navigation-link__container > .wp-block-pages-list__item > .wp-block-page-list__submenu-icon,
	.wp-block-navigation .has-child .wp-block-navigation-link__container > .wp-block-pages-list__item > .wp-block-navigation-link__submenu-icon,
	.wp-block-navigation .has-child .wp-block-navigation-link__container > .wp-block-navigation-link > .wp-block-page-list__submenu-icon,
	.wp-block-navigation .has-child .wp-block-navigation-link__container > .wp-block-navigation-link > .wp-block-navigation-link__submenu-icon {
	  padding-right: 0.5em;
	}
	@media (min-width: $medium) {
	  .wp-block-navigation .has-child .submenu-container .submenu-container::before,
	.wp-block-navigation .has-child .submenu-container .wp-block-navigation-link__container::before,
	.wp-block-navigation .has-child .wp-block-navigation-link__container .submenu-container::before,
	.wp-block-navigation .has-child .wp-block-navigation-link__container .wp-block-navigation-link__container::before {
	    content: "";
	    position: absolute;
	    right: 100%;
	    height: 100%;
	    display: block;
	    width: 0.5em;
	    background: transparent;
	  }
	  .wp-block-navigation .has-child .submenu-container .wp-block-page-list__submenu-icon svg,
	.wp-block-navigation .has-child .submenu-container .wp-block-navigation-link__submenu-icon svg,
	.wp-block-navigation .has-child .wp-block-navigation-link__container .wp-block-page-list__submenu-icon svg,
	.wp-block-navigation .has-child .wp-block-navigation-link__container .wp-block-navigation-link__submenu-icon svg {
	    transform: rotate(-90deg);
	  }
	}
	.wp-block-navigation .has-child:hover > .wp-block-navigation-link__container {
	  display: flex;
	  visibility: visible;
	  opacity: 1;
	}
	.wp-block-navigation .has-child:focus-within > .wp-block-navigation-link__container {
	  display: flex;
	  visibility: visible;
	  opacity: 1;
	}
	.wp-block-navigation .has-child:hover {
	  cursor: pointer;
	}
	.wp-block-navigation .has-child:hover > .submenu-container {
	  display: flex;
	  visibility: visible;
	  opacity: 1;
	}
	.wp-block-navigation .has-child:focus-within {
	  cursor: pointer;
	}
	.wp-block-navigation .has-child:focus-within > .submenu-container {
	  display: flex;
	  visibility: visible;
	  opacity: 1;
	}
	.wp-block-navigation.wp-block-navigation.items-justified-space-between > .submenu-container > .has-child:last-child .submenu-container,
	.wp-block-navigation.wp-block-navigation.items-justified-space-between > .submenu-container > .has-child:last-child .wp-block-navigation-link__container, .wp-block-navigation.wp-block-navigation.items-justified-space-between > .wp-block-navigation__container > .has-child:last-child .submenu-container,
	.wp-block-navigation.wp-block-navigation.items-justified-space-between > .wp-block-navigation__container > .has-child:last-child .wp-block-navigation-link__container, .wp-block-navigation.wp-block-navigation.items-justified-right > .submenu-container .has-child .submenu-container,
	.wp-block-navigation.wp-block-navigation.items-justified-right > .submenu-container .has-child .wp-block-navigation-link__container, .wp-block-navigation.wp-block-navigation.items-justified-right > .wp-block-navigation__container .has-child .submenu-container,
	.wp-block-navigation.wp-block-navigation.items-justified-right > .wp-block-navigation__container .has-child .wp-block-navigation-link__container {
	  left: auto;
	  right: 0;
	}
	.wp-block-navigation.wp-block-navigation.items-justified-space-between > .submenu-container > .has-child:last-child .submenu-container .submenu-container,
	.wp-block-navigation.wp-block-navigation.items-justified-space-between > .submenu-container > .has-child:last-child .submenu-container .wp-block-navigation-link__container,
	.wp-block-navigation.wp-block-navigation.items-justified-space-between > .submenu-container > .has-child:last-child .wp-block-navigation-link__container .submenu-container,
	.wp-block-navigation.wp-block-navigation.items-justified-space-between > .submenu-container > .has-child:last-child .wp-block-navigation-link__container .wp-block-navigation-link__container, .wp-block-navigation.wp-block-navigation.items-justified-space-between > .wp-block-navigation__container > .has-child:last-child .submenu-container .submenu-container,
	.wp-block-navigation.wp-block-navigation.items-justified-space-between > .wp-block-navigation__container > .has-child:last-child .submenu-container .wp-block-navigation-link__container,
	.wp-block-navigation.wp-block-navigation.items-justified-space-between > .wp-block-navigation__container > .has-child:last-child .wp-block-navigation-link__container .submenu-container,
	.wp-block-navigation.wp-block-navigation.items-justified-space-between > .wp-block-navigation__container > .has-child:last-child .wp-block-navigation-link__container .wp-block-navigation-link__container, .wp-block-navigation.wp-block-navigation.items-justified-right > .submenu-container .has-child .submenu-container .submenu-container,
	.wp-block-navigation.wp-block-navigation.items-justified-right > .submenu-container .has-child .submenu-container .wp-block-navigation-link__container,
	.wp-block-navigation.wp-block-navigation.items-justified-right > .submenu-container .has-child .wp-block-navigation-link__container .submenu-container,
	.wp-block-navigation.wp-block-navigation.items-justified-right > .submenu-container .has-child .wp-block-navigation-link__container .wp-block-navigation-link__container, .wp-block-navigation.wp-block-navigation.items-justified-right > .wp-block-navigation__container .has-child .submenu-container .submenu-container,
	.wp-block-navigation.wp-block-navigation.items-justified-right > .wp-block-navigation__container .has-child .submenu-container .wp-block-navigation-link__container,
	.wp-block-navigation.wp-block-navigation.items-justified-right > .wp-block-navigation__container .has-child .wp-block-navigation-link__container .submenu-container,
	.wp-block-navigation.wp-block-navigation.items-justified-right > .wp-block-navigation__container .has-child .wp-block-navigation-link__container .wp-block-navigation-link__container {
	  left: auto;
	  right: 100%;
	}

	.wp-block-navigation.wp-block-navigation .wp-block-page-list,
	.wp-block-navigation.wp-block-navigation .wp-block-page-list > .wp-block-pages-list__item,
	.wp-block-navigation.wp-block-navigation .wp-block-navigation__container > .wp-block-navigation-link {
	  margin: 0 2em 0 0;
	}
	.wp-block-navigation.wp-block-navigation .wp-block-page-list:last-child,
	.wp-block-navigation.wp-block-navigation .wp-block-page-list > .wp-block-pages-list__item:last-child,
	.wp-block-navigation.wp-block-navigation .wp-block-navigation__container > .wp-block-navigation-link:last-child {
	  margin-right: 0;
	}
	.wp-block-navigation.wp-block-navigation.has-background .wp-block-page-list,
	.wp-block-navigation.wp-block-navigation.has-background .wp-block-page-list > .wp-block-pages-list__item,
	.wp-block-navigation.wp-block-navigation.has-background .wp-block-navigation__container > .wp-block-navigation-link {
	  margin: 0 0.5em 0 0;
	}
	.wp-block-navigation.wp-block-navigation.has-background .wp-block-page-list .wp-block-pages-list__item__link,
	.wp-block-navigation.wp-block-navigation.has-background .wp-block-navigation__container .wp-block-navigation-link__content {
	  padding: 0.5em 1em;
	}
	.wp-block-navigation.wp-block-navigation .has-child .submenu-container,
	.wp-block-navigation.wp-block-navigation .has-child .wp-block-navigation-link__container {
	  left: -1em;
	  top: 100%;
	}
	.wp-block-navigation.wp-block-navigation .has-child .submenu-container .wp-block-pages-list__item,
	.wp-block-navigation.wp-block-navigation .has-child .submenu-container .wp-block-navigation-link,
	.wp-block-navigation.wp-block-navigation .has-child .wp-block-navigation-link__container .wp-block-pages-list__item,
	.wp-block-navigation.wp-block-navigation .has-child .wp-block-navigation-link__container .wp-block-navigation-link {
	  margin: 0;
	}
	.wp-block-navigation.wp-block-navigation .has-child .submenu-container .wp-block-pages-list__item__link,
	.wp-block-navigation.wp-block-navigation .has-child .submenu-container .wp-block-navigation-link__content,
	.wp-block-navigation.wp-block-navigation .has-child .wp-block-navigation-link__container .wp-block-pages-list__item__link,
	.wp-block-navigation.wp-block-navigation .has-child .wp-block-navigation-link__container .wp-block-navigation-link__content {
	  padding: 0.5em 1em;
	}
	.wp-block-navigation.wp-block-navigation .has-child .submenu-container .submenu-container,
	.wp-block-navigation.wp-block-navigation .has-child .submenu-container .wp-block-navigation-link__container,
	.wp-block-navigation.wp-block-navigation .has-child .wp-block-navigation-link__container .submenu-container,
	.wp-block-navigation.wp-block-navigation .has-child .wp-block-navigation-link__container .wp-block-navigation-link__container {
	  left: -1px;
	}
	@media (min-width: $medium) {
	  .wp-block-navigation.wp-block-navigation .has-child .submenu-container .submenu-container,
	.wp-block-navigation.wp-block-navigation .has-child .submenu-container .wp-block-navigation-link__container,
	.wp-block-navigation.wp-block-navigation .has-child .wp-block-navigation-link__container .submenu-container,
	.wp-block-navigation.wp-block-navigation .has-child .wp-block-navigation-link__container .wp-block-navigation-link__container {
	    left: 100%;
	    top: -1px;
	  }
	}
	.wp-block-navigation.wp-block-navigation.has-background .has-child .submenu-container, .wp-block-navigation.wp-block-navigation.has-background .has-child .wp-block-navigation-link__container {
	  left: 0;
	  top: 100%;
	}
	.wp-block-navigation.wp-block-navigation.has-background .has-child .submenu-container .submenu-container,
	.wp-block-navigation.wp-block-navigation.has-background .has-child .submenu-container .wp-block-navigation-link__container, .wp-block-navigation.wp-block-navigation.has-background .has-child .wp-block-navigation-link__container .submenu-container,
	.wp-block-navigation.wp-block-navigation.has-background .has-child .wp-block-navigation-link__container .wp-block-navigation-link__container {
	  left: 0;
	}
	@media (min-width: $medium) {
	  .wp-block-navigation.wp-block-navigation.has-background .has-child .submenu-container .submenu-container,
	.wp-block-navigation.wp-block-navigation.has-background .has-child .submenu-container .wp-block-navigation-link__container, .wp-block-navigation.wp-block-navigation.has-background .has-child .wp-block-navigation-link__container .submenu-container,
	.wp-block-navigation.wp-block-navigation.has-background .has-child .wp-block-navigation-link__container .wp-block-navigation-link__container {
	    left: 100%;
	    top: 0;
	  }
	}

	.wp-block-navigation:not(.has-background) .submenu-container,
	.wp-block-navigation:not(.has-background) .wp-block-navigation__container .wp-block-navigation-link__container {
	  background-color: #fff;
	  color: #000;
	  border: 1px solid rgba(0, 0, 0, 0.15);
	}

	.wp-block-navigation__container {
	  align-items: center;
	  list-style: none;
	  margin: 0;
	  padding-left: 0;
	}
	.wp-block-navigation__container .is-responsive {
	  display: none;
	}
	@media (min-width: $small) {
	  .wp-block-navigation__container {
	    display: flex;
	    flex-wrap: wrap;
	  }
	  .is-vertical .wp-block-navigation__container {
	    display: block;
	    flex-direction: column;
	    align-items: flex-start;
	  }
	}

	.items-justified-center .wp-block-navigation__container {
	  justify-content: center;
	}

	.items-justified-right .wp-block-navigation__container {
	  justify-content: flex-end;
	}

	.items-justified-space-between .wp-block-navigation__container {
	  justify-content: space-between;
	}

	.is-vertical.items-justified-center > ul {
	  align-items: center;
	}

	.is-vertical.items-justified-right > ul {
	  align-items: flex-end;
	}
	.is-vertical.items-justified-right > ul .wp-block-navigation-link,
	.is-vertical.items-justified-right > ul .wp-block-pages-list__item {
	  margin-right: 0;
	  justify-content: flex-end;
	}

	/**
	 * Mobile menu.
	 */
	.wp-block-navigation__responsive-container {
	  display: none;
	  position: fixed;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  z-index: 1;
	  align-items: flex-start;
	  justify-content: flex-start;
	}
	.wp-block-navigation__responsive-container.is-menu-open {
	  display: flex;
	  flex-direction: column;
	  overflow: auto;
	  z-index: 100000;
	  padding: 24px;
	  background-color: inherit;
	}
	.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__container {
	  display: flex;
	  flex-direction: column;
	  margin-left: auto;
	  margin-right: auto;
	  align-items: flex-start;
	  line-height: 48px;
	  padding: 0;
	}
	.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__container .wp-block-page-list {
	  flex-direction: column;
	}
	.wp-block-navigation__responsive-container.is-menu-open .wp-block-pages-list__item .submenu-container,
	.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-link .wp-block-navigation-link__container,
	.wp-block-navigation__responsive-container.is-menu-open .wp-block-pages-list__item,
	.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-link {
	  background: transparent !important;
	}
	@media (min-width: $small) {
	  .wp-block-navigation__responsive-container:not(.is-menu-open) {
	    display: flex;
	    flex-direction: row;
	    position: relative;
	    background-color: inherit;
	  }
	  .wp-block-navigation__responsive-container:not(.is-menu-open) .wp-block-navigation__responsive-container-close {
	    display: none;
	  }
	  .wp-block-navigation__responsive-container.is-menu-open .submenu-container.submenu-container.submenu-container.submenu-container,
	.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-link__container.wp-block-navigation-link__container.wp-block-navigation-link__container.wp-block-navigation-link__container {
	    left: 0;
	  }
	}

	.wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
	  background-color: #fff;
	  color: #000;
	}

	.wp-block-navigation__responsive-container-open,
	.wp-block-navigation__responsive-container-close {
	  vertical-align: middle;
	  cursor: pointer;
	  color: currentColor;
	  background: transparent;
	  border: none;
	  margin: 0;
	  padding: 0;
	}
	.wp-block-navigation__responsive-container-open svg,
	.wp-block-navigation__responsive-container-close svg {
	  fill: currentColor;
	  pointer-events: none;
	  display: block;
	  width: 24px;
	  height: 24px;
	}

	.wp-block-navigation__responsive-container-open {
	  display: flex;
	}
	@media (min-width: $small) {
	  .wp-block-navigation__responsive-container-open {
	    display: none;
	  }
	}
	.items-justified-left .wp-block-navigation__responsive-container-open {
	  margin-left: 0;
	  margin-right: auto;
	}
	.items-justified-center .wp-block-navigation__responsive-container-open {
	  margin-left: auto;
	  margin-right: auto;
	}
	.items-justified-right .wp-block-navigation__responsive-container-open {
	  margin-left: auto;
	  margin-right: 0;
	}

	.wp-block-navigation__responsive-container-close {
	  position: absolute;
	  top: 24px;
	  right: 24px;
	  z-index: 2;
	}

	.wp-block-navigation__responsive-close {
	  width: 100%;
	}

	.is-menu-open .wp-block-navigation__responsive-close,
	.is-menu-open .wp-block-navigation__responsive-dialog,
	.is-menu-open .wp-block-navigation__responsive-container-content {
	  width: 100%;
	  height: 100%;
	}

	.wp-block-navigation .wp-block-navigation__responsive-container.is-menu-open .wp-block-page-list__submenu-icon,
	.wp-block-navigation .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-link__submenu-icon {
	  display: none;
	}
	.wp-block-navigation .wp-block-navigation__responsive-container.is-menu-open .has-child .submenu-container,
	.wp-block-navigation .wp-block-navigation__responsive-container.is-menu-open .has-child .wp-block-navigation-link__container {
	  position: relative;
	  opacity: 1;
	  visibility: visible;
	  padding: 0 0 0 32px;
	  border: none;
	}
	.wp-block-navigation .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-link,
	.wp-block-navigation .wp-block-navigation__responsive-container.is-menu-open .wp-block-pages-list__item {
	  flex-direction: column;
	  align-items: flex-start;
	}

	html.has-modal-open {
	  overflow: hidden;
	}

	.wp-block-navigation .wp-block-navigation-link__label {
	  word-break: normal;
	  overflow-wrap: break-word;
	}

	.wp-block-navigation .wp-block-home-link__content {
	  color: inherit;
	  display: block;
	  padding: 0.5em 1em;
	}
	.wp-block-navigation[style*=text-decoration] .wp-block-home-link {
	  text-decoration: inherit;
	}
	.wp-block-navigation[style*=text-decoration] .wp-block-home-link__content {
	  text-decoration: inherit;
	}
	.wp-block-navigation[style*=text-decoration] .wp-block-home-link__content:focus, .wp-block-navigation[style*=text-decoration] .wp-block-home-link__content:active {
	  text-decoration: inherit;
	}
	.wp-block-navigation:not([style*=text-decoration]) .wp-block-home-link__content {
	  text-decoration: none;
	}
	.wp-block-navigation:not([style*=text-decoration]) .wp-block-home-link__content:focus, .wp-block-navigation:not([style*=text-decoration]) .wp-block-home-link__content:active {
	  text-decoration: none;
	}

	.wp-block-navigation:not(.has-background) .wp-block-navigation__container .wp-block-home-link__container {
	  background-color: #fff;
	  color: #000;
	  border: 1px solid rgba(0, 0, 0, 0.15);
	}
	.wp-block-navigation:not(.has-background) .wp-block-navigation__container .wp-block-home-link__container .wp-block-home-link__container {
	  top: -1px;
	}

	.wp-block-navigation .wp-block-page-list {
	  display: flex;
	  flex-wrap: wrap;
	  background-color: inherit;
	}
	.wp-block-navigation .wp-block-pages-list__item {
	  background-color: inherit;
	}
	.wp-block-navigation .wp-block-page-list__submenu-icon {
	  display: none;
	}
	.wp-block-navigation .show-submenu-icons .wp-block-page-list__submenu-icon {
	  display: block;
	}

	.is-vertical .wp-block-navigation__container .wp-block-page-list,
	.is-open .wp-block-navigation__container .wp-block-page-list {
	  display: block;
	}

	@media (min-width: 480px) {
	  .is-open .wp-block-navigation__container .wp-block-page-list {
	    display: flex;
	  }
	}

}
