
/* ------------------------------ */
/* Tif WP block Post Featured Image */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-block-post-featured-image {
	  margin-left: 0;
	  margin-right: 0;
	}
	.wp-block-post-featured-image a {
	  display: inline-block;
	}
	.wp-block-post-featured-image img {
	  max-width: 100%;
	  height: auto;
	}
	.wp-block-post-featured-image.alignwide img, .wp-block-post-featured-image.alignfull img {
	  width: 100%;
	}

}
