
/* ----------------------------- */
/* Tif WP block Categories       */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-block-categories.alignleft {
	  /*rtl:ignore*/
	  margin-right: 2em;
	}
	.wp-block-categories.alignright {
	  /*rtl:ignore*/
	  margin-left: 2em;
	}

}
