
/* ----------------------------- */
/* Tif WP block Calendar         */
/* ----------------------------- */

@import '../abstracts/_mixins';

#{$tif-editor-wrap} {

	.wp-block-calendar {
	  text-align: center;
	}
	.wp-block-calendar th,
	.wp-block-calendar tbody td {
	  padding: 0.25em;
	  border: 1px solid #ddd;
	}
	.wp-block-calendar tfoot td {
	  border: none;
	}
	.wp-block-calendar table {
	  width: 100%;
	  border-collapse: collapse;
	}
	.wp-block-calendar table th {
	  font-weight: 400;
	  background: #ddd;
	}
	.wp-block-calendar a {
	  text-decoration: underline;
	}
	.wp-block-calendar table tbody,
	.wp-block-calendar table caption {
	  color: #40464d;
	}

}
